/*
THEME NAME: page-style
THEME URI: http://www.pagemod.cn/2008/10/page-style-released.html
Description: 3-column wordpress theme , created by <a href="http://www.pagemod.cn/">page</a>.Compatible :WP v2.5-v2.8.
VERSION: 1.6
AUTHOR: page
AUTHOR URI: http://www.pagemod.cn
TAGS: three-columns,fixed-width,right-sidebar,green,orange,yellow

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
	2009.06.30 update v1.6
	fixed IE7bug
	
	2009.01.16 update v1.5
	fixed IE7bug
	
	2008.12.24  update v1.4
	Compatible :WP v2.5-v2.7
*/

/* Begin html tags */
* { margin:0; padding:0; list-style-type: none;} 
body {font-size: 62.5%; /* Resets 1em to 10px */font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;background: #D3D2AE;color: #333;margin:10px auto;height:auto;}
hr{display: none;}
a{color: #0161B9;text-decoration: none;}
a:hover {color: #C78D4D;text-decoration: underline;}
h2{font-size:1.5em;}
h3,h4{font-size:1.1em;font-weight:bold;}
small{font-size:1em;}
.clear{clear:both;}
/* End html tags */

/* Begin Structure */
#header {background: #C78D4D url(img/header.gif) no-repeat;width: 960px;height:100px;margin:auto;color:#D8DED3;font-size:1.2em;}
#content{width:950px;margin:10px auto;font-size:1.5em;background:#C1C08C url(img/content.gif) no-repeat top center; padding:5px;
   -moz-border-radius: 10px;
   -khtml-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#maincontent{background:#F0EFDF url(img/contentback.gif) repeat-y;float:left;width:540px;line-height:1.5em;}
#sidebar{float:right;width:400px;color:#C6C5A1;}
#sidebar-left{float:left;width:180px;}
#sidebar-right{float:right;width:215px;}
#footer{background: url(img/footer.gif) no-repeat;width:840px;height:60px;margin:auto;font-size:1.2em;padding:20px 0 0 120px;color:#ccc;}
*html #sidebar-right{clear:right;}

/* End Structure */

/* begin header*/
#header h1{font-size:2.5em;padding:25px 150px 0 0px;text-align:right;}
#header h1 a{color:#D8DED3;}
.description{padding:3px 160px 0 0;text-align:right;}
/* End header*/

/* begin maincontent*/
.contentpadding{padding:2px 15px;z-index:10px;}
.topcorner{background: url(img/contentt.gif) no-repeat top center;height:15px;}
.bottomcorner{background: url(img/contentb.gif) no-repeat bottom center;height:15px;}

#maincontent a:hover{color:#C78D4D;}
#maincontent h2 a{color:#58573F;}
.entry{margin-top:0.5em;overflow:hidden;}

.entry p {margin-bottom:0.5em;overflow:hidden;}
.entry ol {padding: 0 0 0 35px;list-style-type:decimal;}
.entry ul {list-style-type:none;}
.entry ul li{padding: 0 0 0 15px;background: url(img/ol.gif) no-repeat left center;margin-left:10px;}
.entry img {border:medium none;}
.entry table {border:1px solid #A39856;}
.entry table tr th{padding:1px 10px;background:#C5CFB0;}
.entry table tr td{padding:2px 10px;background:#DDD9C0;}

.entry blockquote,.entry pre{margin:10px 20px;padding:5px;background:#C5CFB0;overflow:hidden;
   -moz-border-radius: 6px;
   -khtml-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}
.postmetadata{padding:1px 5px;margin:0.5em 0 25px;border-left:15px solid #DCDBBF;}

.ping-track{padding:5px;background:#BFBE8F;}
.postnav{margin:1em 0;}
/* End maincontent */

/* Begin sidebar */
.sidebar-box{margin-bottom:5px;background:#7B8763;padding-top:8px;}
#sidebar h2{padding:5px 0 5px 15px;text-transform:uppercase;font-size:1.1em;color:#D8DED3;}
#sidebar li{list-style-position:inside;}
#sidebar ul li{padding:0 20px;margin-bottom:3px;list-style-position:outside;}
#sidebar ul li a{color:#D8DED3;}
#sidebar img{border:0;}
#sidebar a{color:#D8DED3;}

.s-menu{background:#67767F url(img/smenut.gif) no-repeat;}
.s-menub{background:url(img/smenub.gif) no-repeat bottom;height:15px}
.s-category{background:#a39856 url(img/scatet.gif) no-repeat;}
.s-categoryb{background:url(img/scateb.gif) no-repeat bottom;height:15px}
.s-ark{background:#69555f url(img/sarkt.gif) no-repeat;}
.s-arkb{background:url(img/sarkb.gif) no-repeat bottom;height:15px;}
.s-roll{background:#a39856 url(img/scatet.gif) no-repeat;}
.s-rollb{background:url(img/scateb.gif) no-repeat bottom;height:10px;}
.s-right{background:#7B8763 url(img/srightt.gif) no-repeat;}
.s-rightb{background:url(img/srightb.gif) no-repeat bottom;height:10px;}

#myworks ul li{margin-left:-20px;}

#subfeed{margin-bottom:5px;}
.textwidget{padding:0 15px;}
/* End sidebar */


/* Begin footer */
#footer a{color:#ccc;text-decoration: none;}
#footer a:hover{text-decoration: underline;}
/* End footer */


/* Begin wp-tags*/
img.centered {display: block;margin-left: auto;margin-right: auto;}
img.alignright {padding: 4px;margin: 0 0 2px 7px;display: inline;}
img.alignleft {padding: 4px;margin: 0 7px 2px 0;display: inline;}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.aligncenter,div.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.alignright {float: right;}
.alignleft {float: left}

.wp-caption {border: 1px solid #ddd;text-align: center;background-color: #f3f3f3;padding-top: 4px;margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {margin: 0;padding: 0;border: 0 none;}

.wp-caption p.wp-caption-text {line-height: 17px; padding: 0 4px 5px; margin: 0;}

#wp-calendar{width:100%;color:#C1C08C;text-align:center;}
#wp-calendar a{color:#DADAB7;}
#wp-calendar td { text-align:center;}
#wp-calendar tfoot{width:100%;}
/* End wp-tags */

/* Begin comments*/
.message{width:100%;}
#response{margin-top:2em;}
.message-by{float:left;}
.message-count{float:right;}
.message-content{border:1px solid #ddd;padding:5px;margin-top:10px;}
.message-entry{border-top:1px solid #ddd;}
.submit{margin-top:10px;}

.avatar-place{}
.inputs input,#commentform input{margin:4px 0;background:#A2B180;border:0;padding:2px;background: #A2B180 url(img/input.gif) no-repeat top center;width:166px;height:16px;}
.message textarea,#comment{border:0;width:380px;height:180px;overflow:hidden;background: #A2B180 url(img/textarea.gif) no-repeat top center;padding:10px;}
.submit input,#commentform #submit{border:0;width:60px;height:30px;background: #A2B180 url(img/submit.gif) no-repeat top left;color:#fff;}
.children li{margin-left:15px;}
.commentlist li{margin-bottom:5px;padding:5px;}
.comment{border:solid 1px #B3B29C;}
.alt{border:solid 1px #C78D4D;}

/* End comments */

.editComment, .editableComment, .textComment{display: inline;}
.comment-childs{margin: 5px 2px 2px 4px;padding: 4px 2px 2px 4px;background-color: #D3D2AE;}
.chalt{background-color: #BFBE8F;}
#newcomment{border:1px dashed #777;width:90%;}
#newcommentsubmit{color:red;}
.adminreplycomment{border:1px dashed #777;width:99%;margin:4px;padding:4px;}
.mvccls{color: #999;}
			
/* Google ICS */
#search_form{width:180px;background:url(img/search_bg.gif) no-repeat;height:33px; margin:3px 0 0 18px;*left:18px;position:relative;}
#search_form input{padding:10px 10px 0;width:130px;border:0;color:#7B8763;background:none;font-size:12px;height:19px;}
#search_form input.search_btn{margin:4px 0 0 ;padding:0;width:25px;border:0;background:url(img/search_button.gif) no-repeat;text-indent:-999em;height:25px;cursor:pointer;}
/* end Google ICS */


/* pagenav*/
	.wp-pagenavi {position:relative; left:10px; z-index:300; }
	.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active  {float:left;  background:#BFBE8F  !important; padding:3px 8px !important; color:#555 !important; margin:0 3px 0 0 !important; border:none !important;}
	.wp-pagenavi a:hover {background:#C78D4D !important; color:#eee !important; text-decoration:none; border:none !important;}
	.wp-pagenavi span.pages {float:left; padding: 3px 10px !important; margin: 0px 3px 0px 0px !important; color: #555 !important; border: none !important;	background:#8C9862 !important;}
	.wp-pagenavi span.current {float:left; background:#8C9862  !important;  padding:3px 5px !important; color:#555 !important; margin:0 3px 0 0 !important; border:none !important;}
	.wp-pagenavi span.extend {float:left;  background:none !important;  padding:3px 5px !important; color:#602600 !important; margin:0 3px 0 0 !important; border:none !important;}
/* end pagenav */
