<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">
#edit {
	background: #FFF;
	border: 1px outset;
	padding: 10px;
	width:600px;
	margin-top: 200px;
	margin-left: 200px;*margin-left:-420px;
	position: absolute;
}
</style>
</head>
<center>
<div id="edit" style="display:none">
	<div>
	<input type="hidden" name="postJudgeId" id="postJudgeId" value="0" />
	<table>
          <tr> 
            <td width="15%" height="24" align="center">postId：</td>
            <td> 
              <input name="postId" type="text" id="postId" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userId：</td>
            <td> 
              <input name="userId" type="text" id="userId" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">flag：</td>
            <td> 
              <input name="flag" type="text" id="flag" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">createAt：</td>
            <td> 
              <input name="createAt" type="text" id="createAt" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userIp：</td>
            <td> 
              <input name="userIp" type="text" id="userIp" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">judgeType：</td>
            <td> 
              <input name="judgeType" type="text" id="judgeType" size="30" value="">            </td>
          </tr>
	</table>
	<input type="button" id="save" value="保存" />
	<input type="button" id="close" value="关闭" />
  </div>
 </div>
    	
<form name="searchform" method="post" action="/postjudge/del/">
<table border=1>
<thead>
<tr>
<td colspan=99 align="right"><a id="postjudgeNew" href="#">新增</a>&nbsp;&nbsp;
<a href="javascript:doDeleteMulti();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>帖子ID</td>
<td>用户ID</td>
<td>标志（1：支持 -1：反对）</td>
<td>建创时间</td>
<td>用户IP</td>
<td>投票类型</td>
<td nowrap>操作</td>
</tr>
</thead>
<tbody id ="records">
<tr>
<td colspan="99">正在加载中</td>
</tr>
	
</tbody>
	
</table>
	
<div id="pagebar">	
<?php
  // $ajaxpage = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'ajax'=>'ajax_page','nowindex'=>$page,'page_name'=>'page','url'=>"/postjudge/jsonlist/"));
  // echo $ajaxpage->show();
?>
</div>
		
<div id="oper" style="display:none">

</div>
</form>

<script language="javascript">

$(document).ready(function(){
   //初始化第一页
   ajax_page("/postjudge/jsonlist");
   //新增按钮操作
   $("#postjudgeNew").click(function(){
   	   $("#postJudgeId").val(0);
       $("#postId").val("");
       $("#userId").val("");
       $("#flag").val("");
       $("#createAt").val("");
       $("#userIp").val("");
       $("#judgeType").val("");
   	   if($("#edit").css("display")=='none'){
   	         $("#edit").show(); 
   	   } 
   	   $("#save").show();
   	   $("#edit input").removeAttr("readOnly");
   });
   
   //保存按钮操作
   $("#save").click(function(){
	    $("#save").attr("disabled","true");
	    var para = "/postJudgeId/"+$("#postJudgeId").val();
        para += "/postId/"+$("#postId").val();
        para += "/userId/"+$("#userId").val();
        para += "/flag/"+$("#flag").val();
        para += "/createAt/"+$("#createAt").val();
        para += "/userIp/"+$("#userIp").val();
        para += "/judgeType/"+$("#judgeType").val();
	    
		jQuery.ajax({
			type: "POST",
			url: "/postjudge/jsonsave"+para,
			data: "",
			dataType: "json",
			success: function(tt) {
					//alert(tt);
					var cmd = tt['cmd'];
				    var postjudgeInfo = tt['postjudgeInfo'];
					var html = "";
					html += "<td><input type='checkbox' name='postJudgeId[]'  value='"+postjudgeInfo['postJudgeId']+"'>&nbsp;</td>";
					html += "<td>"+postjudgeInfo['postJudgeId']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['postId']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['userId']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['flag']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['createAt']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['userIp']+"&nbsp;</td>";
			        html += "<td>"+postjudgeInfo['judgeType']+"&nbsp;</td>";
					html += "<td nowrap>";
					html += "<a href='javascript:doView("+postjudgeInfo['postJudgeId']+")'>查看</a>&nbsp;";
					html += "<a href='javascript:doEdit("+postjudgeInfo['postJudgeId']+")'>编辑</a>&nbsp;";
					html += "<a href='javascript:doDel("+postjudgeInfo['postJudgeId']+")'>删除</a>&nbsp;";
					html += "</td>";

					if(cmd=='modify'){
					   $("#tr"+postjudgeInfo['postJudgeId']).empty();	
					   $("#tr"+postjudgeInfo['postJudgeId']).html(html);
					}else{
					   $("tbody#records").prepend("<tr id='tr"+postjudgeInfo['postJudgeId']+"'>"+html+"</tr>");
					}	
				   $("#save").removeAttr("disabled");	
				   $("#edit").hide();
			},
			
			error: function() {
				//alert("调用失败");
			}
		});      
   });
   
   //关闭按钮操作
   $("#close").click(function(){
      $("#edit").hide();
   });
   
});

function doEdit(id){
	$("#postJudgeId").val(id);
    $("#postId").val("");
    $("#userId").val("");
    $("#flag").val("");
    $("#createAt").val("");
    $("#userIp").val("");
    $("#judgeType").val("");
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}
	$("#save").show();
   	$("#edit input").removeAttr("readOnly");

	jQuery.ajax({
		type: "POST",
		url: "/postjudge/jsonget/postJudgeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var postjudgeInfo = tt['postjudgeInfo'];
			    $("#postJudgeId").val(id);
    			$("#postId").val(postjudgeInfo.postId);
    			$("#userId").val(postjudgeInfo.userId);
    			$("#flag").val(postjudgeInfo.flag);
    			$("#createAt").val(postjudgeInfo.createAt);
    			$("#userIp").val(postjudgeInfo.userIp);
    			$("#judgeType").val(postjudgeInfo.judgeType);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}


function doView(id){
	$("#postJudgeId").val(id);
    $("#postId").val("");
    $("#userId").val("");
    $("#flag").val("");
    $("#createAt").val("");
    $("#userIp").val("");
    $("#judgeType").val("");
	$("#edit input").attr("readOnly","true");
	$("#save").hide();
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}

	jQuery.ajax({
		type: "POST",
		url: "/postjudge/jsonget/postJudgeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var postjudgeInfo = tt['postjudgeInfo'];
			    $("#postJudgeId").val(id);
    			$("#postId").val(postjudgeInfo.postId);
    			$("#userId").val(postjudgeInfo.userId);
    			$("#flag").val(postjudgeInfo.flag);
    			$("#createAt").val(postjudgeInfo.createAt);
    			$("#userIp").val(postjudgeInfo.userIp);
    			$("#judgeType").val(postjudgeInfo.judgeType);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}

	
function doDel(id){
  if(confirm("您真的要删除此项纪录吗？")){
	jQuery.ajax({
		type: "POST",
		url: "/postjudge/jsondel/postJudgeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
			     //alert(tt);
			     $('#tr'+id).remove();
		},
		
		error: function() {
			//alert("调用失败");
		}
	});    
  }
  
}

function delchecked(){
     var checkall = document.getElementsByName("postJudgeId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDeleteMulti(){
  var checkall = document.getElementsByName("postJudgeId[]");
  //alert(checkall.length);	
 if(document.searchform.all.checked && checkall.length>0 ){
    var r = window.confirm("确定删除本页全部？");
    if (r){
					var para =""
					$("input[@type='checkbox'][@name='postJudgeId[]']").each(
						function()
						{
							if(this.checked)
							{
								para += "&postJudgeId[]=" + this.value;
							}
						});
				    alert(para);		
					jQuery.ajax({
						type: "POST",
						url: "/postjudge/jsondel",
						data: "id=1"+para,
						dataType: "json",
						success: function(tt) {
							jQuery.each(tt, function(i) {
					           $('#tr'+tt[i]).remove();
						    });	
						},
						
						error: function() {
							//alert("调用失败");
						}
					});							

    }
 }else{
     var flag=false;
	var para =""
	$("input[@type='checkbox'][@name='postJudgeId[]']").each(
		function()
		{
			if(this.checked)
			{
				para += "&postJudgeId[]=" + this.value;
				flag = true;
			}
		});
		
	//alert(para);
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){					
			jQuery.ajax({
				type: "POST",
				url: "/postjudge/jsondel",
				data: "id=1"+para,
				dataType: "json",
				success: function(tt) {
						jQuery.each(tt, function(i) {
					        $('#tr'+tt[i]).remove();
						});							     
				},
				
				error: function() {
					//alert("调用失败");
				}
			});
        }
     }else{
        alert("您没有选择删除项");
     }					
}
}

function ajax_page(para){
	//也可以用jQuery.getJSON)()直接得到json对象。不过这个方法只能用http get。
	jQuery.ajax({
		type: "POST",
		url: para,
		data: "",
		dataType: "json",
		success: function(tt) {
			//alert(tt);
			//var tt = eval("("+t+")");//字符串转化为json对象
			$("tbody#records").empty();
			jQuery.each(tt['list'], function() {
				var html = "<tr id='tr"+this['postJudgeId']+"'>";
				html += "<td><input type='checkbox' name='postJudgeId[]'  value='"+this['postJudgeId']+"'>&nbsp;</td>";
				html += "<td>"+this['postJudgeId']+"&nbsp;</td>";
                html += "<td>"+this['postId']+"&nbsp;</td>";
                html += "<td>"+this['userId']+"&nbsp;</td>";
                html += "<td>"+this['flag']+"&nbsp;</td>";
                html += "<td>"+this['createAt']+"&nbsp;</td>";
                html += "<td>"+this['userIp']+"&nbsp;</td>";
                html += "<td>"+this['judgeType']+"&nbsp;</td>";
				html += "<td nowrap>";
				html += "<a href='javascript:doView("+this['postJudgeId']+")'>查看</a>&nbsp;";
				html += "<a href='javascript:doEdit("+this['postJudgeId']+")'>编辑</a>&nbsp;";
				html += "<a href='javascript:doDel("+this['postJudgeId']+")'>删除</a>&nbsp;";
				html += "</td>";
				html += "</tr>";
				$("tbody#records").append(html);
			});
	        $("#pagebar").html(tt['pagebar']);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});		
}

</script>
