<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<center>
<form name="searchform" method="post" action="/postjudge/del/">
<table border=1>
<tr>
<td colspan=99 align="right"><a href="/postjudge/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>帖子ID</td>
<td>用户ID</td>
<td>标志（1：支持 -1：反对）</td>
<td>建创时间</td>
<td>用户IP</td>
<td>投票类型</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $postjudgeInfo) { ?>
<tr>
<td><input type='checkbox' name="postJudgeId[]"  value="<?php echo $postjudgeInfo->getPostJudgeId(); ?>">&nbsp;</td>
<td><?php echo $postjudgeInfo->getPostJudgeId(); ?>&nbsp;</td>
<td align="center"><?php echo $postjudgeInfo->getPostId(); ?>&nbsp;</td>
<td><?php echo $postjudgeInfo->getUserId(); ?>&nbsp;</td>
<td><?php echo $postjudgeInfo->getFlag(); ?>&nbsp;</td>
<td><?php echo $postjudgeInfo->getCreateAt(); ?>&nbsp;</td>
<td><?php echo $postjudgeInfo->getUserIp(); ?>&nbsp;</td>
<td><?php echo $postjudgeInfo->getJudgeType(); ?>&nbsp;</td>
<td nowrap>
<a href="/postjudge/view/postJudgeId/<?php echo $postjudgeInfo->getPostJudgeId(); ?>">查看</a>&nbsp;
<a href="/postjudge/edit/postJudgeId/<?php echo $postjudgeInfo->getPostJudgeId(); ?>">编辑</a>&nbsp;
<a href="javascript:del(<?php echo $postjudgeInfo->getPostJudgeId(); ?>)">删除</a>&nbsp;
</td>
</tr>
<?php } ?>


</table>
</form>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/postjudge/list/"));
   echo $pageUtil->show(1);
    // echo ($this->page);
?>
<script language="javascript">
function del(id){
  if(confirm("您真的要删除此项纪录吗？")){
    document.searchform.action="/postjudge/del/postJudgeId/"+id;
    document.searchform.submit();
  }
}

function delchecked(){
     var checkall = document.getElementsByName("postJudgeId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDelete(){
 if(document.searchform.all.checked && searchform.postJudgeId!=null ){
  var r = window.confirm("确定删除本页全部？");
   if (r){
     document.searchform.action="/postjudge/del/";
     document.searchform.submit();
    }
 }else{
 if(searchform.postJudgeId!=null){
  var flag=false;
     for ( i=0;i<searchform.postJudgeId.length; i++)
                   {
                if( document.searchform.postJudgeId[i].checked)
                  flag=true;
                   }
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){
        document.searchform.action="/postjudge/del/";
        document.searchform.submit();
        }
     }else{
     alert("您没有选择删除项");
     }
 }
}
}
</script>
