<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<table width="100%">
<form name=thisform method=post action="">
<!--主键ID-->
<input type=hidden name='postJudgeId' id='postJudgeId' value="<?php echo $this->postjudgeInfo->getPostJudgeId(); ?>">
<tr>
<td align="right" width="20%" class="ck-bgr">帖子ID</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getPostId(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">用户ID</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getUserId(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">标志（1：支持 -1：反对）</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getFlag(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">建创时间</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getCreateAt(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">用户IP</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getUserIp(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">投票类型</td>
<td class="TD2"><?php echo $this->postjudgeInfo->getJudgeType(); ?>&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <!--input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" -->
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
