<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<table width="100%">
<form name=thisform method=post action="">
<!--demo_id-->
<input type=hidden name='demoId' id='demoId' value="<?php echo $this->demoInfo->getDemoId(); ?>">
<tr>
<td align="right" width="20%" class="ck-bgr">demo_varchar</td>
<td class="TD2"><?php echo $this->demoInfo->getDemoVarchar(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">demo_date</td>
<td class="TD2"><?php echo $this->demoInfo->getDemoDate(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">demo_long</td>
<td class="TD2"><?php echo $this->demoInfo->getDemoLong(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">demo_double</td>
<td class="TD2"><?php echo $this->demoInfo->getDemoDouble(); ?>&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <!--input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" -->
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>

