<html>
<head>
<title>FCKeditor Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="noindex, nofollow">
<script type="text/javascript" src="/js/fckeditor/fckeditor.js"></script>
</head>
<body>
<form name="thisform" action="/test/fckmodify" method="post">
<script type="text/javascript">
var oFCKeditor = new FCKeditor('FCKeditor1');
oFCKeditor.BasePath = "/js/fckeditor/";
oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
oFCKeditor.ToolbarSet = 'Paowang' ;
oFCKeditor.Create();
</script>
<input type="submit" value="submit" onclick="thisform.submit();" >
</form>
</body>
</html>