<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript">
		$(document).ready(function()
		{
			$("#submit_prog").click(
					function()
					{
						var query_string = '';
						
						$("input[@type='checkbox'][@name='prog']").each(
							function()
							{
								if(this.checked)
								{
									query_string += "&prog[]=" + this.value;
								}
							});
					   alert(query_string);
						$.ajax(
							{
		   						type: "POST",
							   	url: "/test/jdo",
							   	data: "id=1" + query_string,
							   	success: 
								    function(t) 
						          	{
						           		$("div#content").empty().append(t);
						       	   	},
							   	error:
								   	function()
								   	{
								    	$("div#content").append("An error occured during processing");
								   	}
							 });
					});
					
		});
		</script>
		<h2>Jquery Tutorial: Passing Input Arrays</h2>
		<p>Here is a sample JQuery page showing how to pass input arrays through AJAX. 
		This is very useful for multi-valued forms like checkboxes and multiple select boxes.</p>
		
		Select your favorite programming languages:<br>

		<input type="checkbox" name="prog" value="C">C<br>
		<input type="checkbox" name="prog" value="C++">C++<br>
		<input type="checkbox" name="prog" value="Java">Java<br>
		<input type="checkbox" name="prog" value="VB.NET">VB.NET<br>
		<input type="checkbox" name="prog" value="PHP">PHP<br>
		<input type="checkbox" name="prog" value="Perl">Perl<br>
		<input type="checkbox" name="prog" value="Ruby">Ruby<br>
		<input type="checkbox" name="prog" value="Python">Python<br>
		<input type="submit" id="submit_prog" value='Submit' />

		<p>&nbsp;</p>
		
		<div id="content">The results will show up here.</div>