<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.ocupload.js"></script>
<script type="text/javascript" src="/js/jquery.ui.all.js"></script>	

<script type="text/javascript">
		$(document).ready(function(){
			$('#upload1').upload({
			    name: 'file',
			    method: 'post',
			    enctype: 'multipart/form-data',
			    action: '/test/udeal',
			    onSubmit: function() {
			        $('#progress1').text('Uploading file...');
			    },
			    onComplete: function(data) {
			        //data contains the response from the action url
			        $('#progress1').text('Your file was uploaded successfully');
			    }
			});
	});
</script> 
<a id="upload1" style="background: green; font-size: 24px; color: white;" href="#">Click here to upload a file</a>
<span id="progress1"></span>

