<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<form method=post action="/test/yzm">
<table border=1>
<tr valign=middle><td  class=pl align=right>请输入验证码：</td><td align=left><table><tr><td><img id=checkimage src="/test/checkimage"></td><td><input type=text name=qrm size=4 maxlength=4 ></td></tr></table></td></tr><tr><td colspan=2 class=pl align=center><input type=submit value='提  交' class=bb>&nbsp;&nbsp;&nbsp;&nbsp;<input type=reset value='重  填' class=bb></td></tr></table>
</form>