<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网 页面不存在</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

<style type="text/css">
.error_text {
    text-align: center;
    line-height: 25px;
    margin-bottom: 133px;
    margin-top: 15px;
    font-size: 12px;
}
</style>
</head>
<body>
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
    	
    	
<div id="member_detail">
  <div id="club_detail">
    <h2 class="club_title">糟糕！这个链接不存在。</h2>
    <div id="club_text" class="error_text">
        <div id="post_html">
            <div>
                请进入<a href=/>泡网首页</a>或其它版块继续浏览。
            </div>
        </div>
    </div>
  </div>  
</div><!--end of member_detail-->
  
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
</body>
</html>