.ml_col {
	float:left;
}
.ml_col_2 {
	width:50%;
}
.ml_col_3 {
	width:33%;
}
.ml_col_4 {
	width:25%;
}
.ml_fixed {
	clear:both;
}
.ml_showall {
	float:right;
}
#ml_nav {
	font-size:10px;
}