.rc_item .rc_avatar img {
	padding:1px;
	border-width:1px;
	border-style:solid;
}
.rc_item .rc_left {
	display:inline;
	float:left;
	padding-right:7px !important;
	padding-right:4px;
}
.rc_item .rc_right {
	display:inline;
	float:right;
	padding-left:7px !important;
	padding-left:4px;
}
.rc_item .rc_info .author_name {
	font-weight:bold;
}
#rc_newest {
	float:left;
	padding-right:10px;
}
#rc_newer {
	float:left;
}
#rc_older {
	float:right;
}
.rc_fixed {
	clear:both;
}
.rc_label {
	font-weight:bolder;
	font-size:10px;
}
.rc_back {
	float:left;
}
.rc_datetime {
	float:right;
}