  <div id="bottom">
    <div class="b_nav"><a href="/post/10043357">关于我们</a>|<a href="/post/10043359">隐私保护</a>|<a href="/post/10043362">注册说明</a>|<a href="/post/10014197">使用说明</a>|<a href="/help">帮助中心</a>|<a href="/post/10014189">联系我们</a></div>
    
    <!--<p>京ICP备09074917号</p>-->
    <p>京ICP备14028770号-1</p>
    <!--<p>服务器托管服务由<a href="http://china263.cn/" target=_blank>互联信通</a>提供</p>-->
    <p>Copyright © 1998-<?php echo date("Y"); ?>, Paowang.Net All Rights Reserved</p>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-92358-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>              
  </div>
