<?php
    // navigation bar hightlight
    $highlightTab = $this->highlight;
    if($highlightTab != PaowangData::NAVIGATION_BAR_MAINPAGE){
?>
    <script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/paowang-consolidation.js"></script>
<?php
    }

    // display login info
    $isUserLogin = false;
    $userId = null;
    $userName = null;
    
    if(Rbm_RbmService::getInstance()->isUserLogin()){
        $isUserLogin = true;
        $userId = Util::getUserId();// $_COOKIE["userId"];
        $userName = Util::getUserName();// $_COOKIE["userName"];
    }
?> 

<script type="text/javascript">
$(document).ready(function(){
    
    $("#nav li.nav_<?php echo $highlightTab; ?> a").css("background-image","url(<?php echo $this->resourceDir; ?>/images/nav_big.jpg)");//当前频道选中
    
    // popup dialog begin
    hs.graphicsDir = '<?php echo $this->resourceDir; ?>/js/highslide/graphics/';
//    hs.wrapperClassName = 'borderless';
//    hs.outlineType = 'rounded-white';
    hs.showCredits = false;
    hs.preserveContent = false;
    hs.dynamicallyUpdateAnchors = false;
    //popup dialog end
    
    $('#userLogout').click(function() {
        var url ="/user/logout";
        $.ajax({
            url: encodeURI(url),
            cache: false,
            dataTyp: "text",
            success: function(data) {
                document.location.reload();
            }
        });
        return false;
    });    
})

</script>

   <h1 id="logo"><a href="/">泡网俱乐部</a></h1>
    <ul id="help">
    <?php if($isUserLogin) {?>
      <li class="li_text"><a href="/user/userinfo/userId/<?php echo $userId;?>"><?php echo $userName;?></a></li>
      <li>|</li>
      <li><a href="/user/userinfoedit">设置</a></li>
      <li>|</li>
      <li><a id="userLogout" href="">退出</a></li>
    <?php } else { ?>
      <li><a href="/user/register">注册</a></li>
      <li>|</li>
      <li>
        <div style="display:none;">
        <a href="" 
            id="userLoginId"
            onclick="return hs.htmlExpand(this, {contentId: 'login-container'} );">
            登录
        </a>
        </div>
        
        <a href="/user/login" onclick="return checkUserLogin();">
            登录
        </a>
        
      </li>           
    <?php } ?>
    <?php if($this->forumId){ ?>
    <li>|</li>
    <li>
        <a href="/forum/index/forumId/<?php echo $this->forumId?>/style/classic">怀旧版Alpha</a>
    </li>  
    <?php } ?>
    <!-- 
      <li>|</li>
      <li class="li_help"><a href="#" onclick="testClick1();">帮助</a></li>
     -->
    </ul>
    <ul id="nav">
      <li class="nav_1"><a href="/"></a></li>
      <li class="nav_2"><a href="/forum"></a></li>
      <li class="nav_3"><a href="http://yydg.paowang.net"></a></li>
      <li class="nav_4"><a href="/blog"></a></li>
      <li class="nav_5"><a href="http://go.paowang.net/chat/"></a></li>
    </ul>
	
    <div id="search"><form action="/search/list" method="post">
	<input type="text" class="input_text" name="q" id="query" value="<?php echo $this->q;?>"/><input type="image" src="<?php echo $this->resourceDir; ?>/images/search_bnt.jpg" class="search_bnt"/></form>
	</div>
	
<!-- message box popup container -->	
<div style="display:none;">
    <a href="" id="alert-message"
        onclick="return hs.htmlExpand(this,
            {contentId: 'message-box-container'} )">
    </a>
</div>
<div class="highslide-html-content" id="message-box-container">    
    <div class="highslide-body">
        <div id="message_box">
            <h2 class="message_box_title" id="message_box_title">&nbsp;</h2>
            <p id="message_box_content">
                Message box content.
            </p>
            <p class="login_submit">
                <input id="confirmPopup" type="image" src="<?php echo $this->resourceDir; ?>/images/ok.jpg" onclick="hs.close('alert-message');"/>
            </p>
        </div>
    </div>
</div>

<!-- login popup container -->
<div class="highslide-html-content" id="login-container">    
<div class="highslide-body">
<div id="login">
    <h2 class="login_title">登录</h2>
    <p><span class="title">用&nbsp;户&nbsp;名：</span><input type="text" name="username" id="username"/></p>
    <p><span class="title">密&nbsp;&nbsp;&nbsp;码：</span><input type="password" name="password" id="password" onkeyup="enterToLogin(event);"/></p>
    <p><span class="title">记住密码：</span><input type="checkbox" name="flag" id="falg" value="1" checked="checked"/> <span id="msg" style="color:red;"></span></p>
    <p class="login_submit">
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" id="submitLogin" onclick="userLogin();"/>
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" id="cancelLogin" onclick="closeLoginDialog();"/>
    </p>
    <p class="login_submit">
          <a href="/user/register">注册</a>
          <a href="/user/findpassword">找回密码</a>     
    </p>
</div>
</div>
</div>
    
