<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/ext/css/ext-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/paowang-consolidation.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-ie6.css" />
<![endif]-->