body {
	background:#D6EBF5;
	color:#333;
}
blockquote,pre {
	background:#F0F6E9;
	border:#B2D281 dashed 1px;
}
a {
	color:#0B75B6;
}
textarea,.textfield {
	background:#FFF;
	border:1px solid #90B683;
	padding:3px;
	font-size:12px;
}
.valid {
	color:#119900;
}
.invalid {
	color:#ff4a00;
}
.button,
a#cancel-comment-reply-link {
	background:#006CB1;
	border-color:#006CB1 #0E1F5B #0E1F5B #006CB1;
	color:#FFF;
}
.button:hover,
a#cancel-comment-reply-link:hover {
	background:#004C93;
	border-color:#0E1F5B #006CB1 #006CB1 #0E1F5B;
}
.sided,
.wp-caption {
	background:#F0F6E9;
	border:1px solid #C6D6BE;
}
a .sided:hover {
	border-color:#4B7D24;
}
.boxcaption,
.box,
#related_posts,
#related_posts ul li {
	border-color:#90B683;
	background:#FFF;
}
.boxcaption h3,
#related_posts h3,
.messagebox .content {
	background:#F0F6E9;
}
.bottom_separator {
	border-bottom:1px dashed #959E87;
}

/* header START */
#header {
	border-bottom:1px solid #84b092;
}
#header .inner {
	background:#E7F1D7;
	border-bottom:1px solid #F6FFF0;
}
#header .caption {
	border-color:#959E87;
}
#title a {
	color:#666;
	text-decoration:none;
}
#title a:hover {
	color:#006CB1;
}
#tagline {
	color:#959E87;
}
#navigation li a {
	border-color:#C6D6BE;
}
#searchbox .textfield {
	border:1px solid #B2D281;
	background:#FCFFF6 url(search_background.gif) no-repeat right !important;
	background:#FCFFF6 url(search_background_ie.gif) no-repeat right;
	background-position:0 0 !important;
	background-position:0 -21px;
}
#searchbox .textfield:focus {
	border:1px solid #84b092;
	background:#FFF url(search_background.gif) no-repeat right !important;
	background-position:0 -21px !important;
}
#searchbox .searchtip {
	color:#CCD3C5;
}
#navigation li a#feed img {
	background-image:url(feed_switch.gif);
}
#navigation li a#twitter img {
	background-image:url(twitter_switch.gif);
}
/* header END */

/* submenu START */
#navigation li ul {
	background:#E7F1D7;
	border-color:#84B092;
}
/* submenu END */

/* main START */
#container {
	background:#E3ECE6 url(background.jpg) repeat;
}
#content {
	background:#FCFFF6 url(content_background.gif) repeat-y top right;
	border:solid 1px #84b092;
	border-right:solid 1px #6996AC;
	border-bottom:none;
}
#bottom {
	border-bottom:1px solid #84B092;
}
#bottom .postnav {
	border-top:1px dashed #84B092;
}
#bottom .anchor {
	border-bottom:1px solid #6996AC;
}
#bottom .anchor span {
	background:url(go_top.gif) no-repeat left center;
}
#notice {
	border:1px solid #84B092;
}
#notice .inner {
	background:#E0F6D9;
	border:1px solid #FFF;
}
#notice .icon {
	background:url(notice.gif) no-repeat top left;
}
#notice .content .separator {
	border-right:1px solid #84B092;
}
.sidedate {
	color:#93AFCB;
}
.post .title h2 {
	color:#5C793C;
	padding-bottom:3px;
	border-bottom:1px solid #D7E0C7;
}
.post .title a {
	color:#5C793C;
	text-decoration:none;
}
.post .title a:hover {
	color:#006CB1;
}
.post .info,
#related_posts .excerpt {
	color:#959E87;
}
.post .comments {
	background:url(comment.gif) no-repeat bottom left;
}
.post .content table {
	background:#FFF;
	border-color:#90B683;
}
.post .content th,
.post .content td {
	border-color:#90B683;
}
.post .content tr.even td {
	background:#F0F6E9;
}
.post .content th {
	background:#C6D6BE;
}
/* main END */

/* sidebar START */
#sidebar {
	background:#d6ebf5;
	border-style:solid;
	border-color:#6996AC;
	border-width:1px 0 0 1px;
	margin-top:-1px;
}
#sidebar h3,
.widget .showcase {
	background:#BED6E5;
}
#sidebar a h3 {
	color:#333;
}
#styleswitcher,#sidebar a:hover h3 {
	background:#A3C1C7;
}
#styleswitcher span.color {
	background:#fff;
	border:1px solid #666;
}
#styleswitcher #style-green {
	margin-top:0px;
}
#styleswitcher #style-green a img {
	background:#90B683;
	width:12px;
	height:12px;
}
.widget ul li {
	border-bottom:1px solid #BED6E5;
}
.widget ul li ul li {
	border-top:1px solid #BED6E5;
}
/* sidebar END */

/* footer START */
#footer {
	border-top:1px solid #89A6C6;
}
#footer .inner {
	background:#D6EBF5;
	border-top:1px solid #E6FCFF;
}
/* footer END */

/* comments START */
.commentlist .comment {
	background:#FFF;
	border-color:#90B683;
}
.userinfo {
	background:#F0F6E9;
}
.userinfo .userpic {
	background-color:#fff;
	border:1px solid #999;
}
.userinfo a {
	color:#5C793C;
}
#comments_rss {
	background:url(feed.gif) no-repeat top left;
}
#trackbacks,
#trackbacks li {
	border-color:#90B683;
}
#trackbacks .caption {
	background:#F0F6E9;
}
#trackbacks li small {
	color:#959E87;
}
/* comments END */

/* calendar START */
#calendar_wrap {
	background:#BED6E5;
}
#wp-calendar th {
	background:#AEC5D4;
}
/* calendar END */

/* wp-pagenavi START */
.wp-pagenavi a:hover {
	background:#D6EBF5;
}
.wp-pagenavi span.current {
	background:#F0F6E9;
}
/* wp-pagenavi END */

/* wp-recentcomments START */
.rc_item .rc_avatar img {
	background:#FFF;
	border-color:#6996AC;
}
/* wp-recentcomments END */

/* wp-syntax START */
.wp_syntax {
	background:#F0F6E9;
	border:1px solid #B2D281;
}
.wp_syntax .line_numbers {
	background:#E7F1D7;
}
/* wp-syntax END */
