<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">
#edit {
	background: #FFF;
	border: 1px outset;
	padding: 10px;
	width:600px;
	margin-top: 200px;
	margin-left: 200px;*margin-left:-420px;
	position: absolute;
}
</style>
</head>
<center>
<div id="edit" style="display:none">
	<div>
	<input type="hidden" name="userPostTypeId" id="userPostTypeId" value="0" />
	<table>
          <tr> 
            <td width="15%" height="24" align="center">userPostTypeName：</td>
            <td> 
              <input name="userPostTypeName" type="text" id="userPostTypeName" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">status：</td>
            <td> 
              <input name="status" type="text" id="status" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userId：</td>
            <td> 
              <input name="userId" type="text" id="userId" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">createAt：</td>
            <td> 
              <input name="createAt" type="text" id="createAt" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">isPic：</td>
            <td> 
              <input name="isPic" type="text" id="isPic" size="30" value="">            </td>
          </tr>
	</table>
	<input type="button" id="save" value="保存" />
	<input type="button" id="close" value="关闭" />
  </div>
 </div>
    	
<form name="searchform" method="post" action="/userposttype/del/">
<table border=1>
<thead>
<tr>
<td colspan=99 align="right"><a id="userposttypeNew" href="#">新增</a>&nbsp;&nbsp;
<a href="javascript:doDeleteMulti();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>类别</td>
<td>状态(1有效0无效)</td>
<td>用户ID</td>
<td>创建时间</td>
<td>0为帖子</td>
<td nowrap>操作</td>
</tr>
</thead>
<tbody id ="records">
<tr>
<td colspan="99">正在加载中</td>
</tr>
	
</tbody>
	
</table>
	
<div id="pagebar">	
<?php
  // $ajaxpage = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'ajax'=>'ajax_page','nowindex'=>$page,'page_name'=>'page','url'=>"/userposttype/jsonlist/"));
  // echo $ajaxpage->show();
?>
</div>
		
<div id="oper" style="display:none">

</div>
</form>

<script language="javascript">

$(document).ready(function(){
   //初始化第一页
   ajax_page("/userposttype/jsonlist");
   //新增按钮操作
   $("#userposttypeNew").click(function(){
   	   $("#userPostTypeId").val(0);
       $("#userPostTypeName").val("");
       $("#status").val("");
       $("#userId").val("");
       $("#createAt").val("");
       $("#isPic").val("");
   	   if($("#edit").css("display")=='none'){
   	         $("#edit").show(); 
   	   } 
   	   $("#save").show();
   	   $("#edit input").removeAttr("readOnly");
   });
   
   //保存按钮操作
   $("#save").click(function(){
	    $("#save").attr("disabled","true");
	    var para = "/userPostTypeId/"+$("#userPostTypeId").val();
        para += "/userPostTypeName/"+$("#userPostTypeName").val();
        para += "/status/"+$("#status").val();
        para += "/userId/"+$("#userId").val();
        para += "/createAt/"+$("#createAt").val();
        para += "/isPic/"+$("#isPic").val();
	    
		jQuery.ajax({
			type: "POST",
			url: "/userposttype/jsonsave"+para,
			data: "",
			dataType: "json",
			success: function(tt) {
					//alert(tt);
					var cmd = tt['cmd'];
				    var userposttypeInfo = tt['userposttypeInfo'];
					var html = "";
					html += "<td><input type='checkbox' name='userPostTypeId[]'  value='"+userposttypeInfo['userPostTypeId']+"'>&nbsp;</td>";
					html += "<td>"+userposttypeInfo['userPostTypeId']+"&nbsp;</td>";
			        html += "<td>"+userposttypeInfo['userPostTypeName']+"&nbsp;</td>";
			        html += "<td>"+userposttypeInfo['status']+"&nbsp;</td>";
			        html += "<td>"+userposttypeInfo['userId']+"&nbsp;</td>";
			        html += "<td>"+userposttypeInfo['createAt']+"&nbsp;</td>";
			        html += "<td>"+userposttypeInfo['isPic']+"&nbsp;</td>";
					html += "<td nowrap>";
					html += "<a href='javascript:doView("+userposttypeInfo['userPostTypeId']+")'>查看</a>&nbsp;";
					html += "<a href='javascript:doEdit("+userposttypeInfo['userPostTypeId']+")'>编辑</a>&nbsp;";
					html += "<a href='javascript:doDel("+userposttypeInfo['userPostTypeId']+")'>删除</a>&nbsp;";
					html += "</td>";

					if(cmd=='modify'){
					   $("#tr"+userposttypeInfo['userPostTypeId']).empty();	
					   $("#tr"+userposttypeInfo['userPostTypeId']).html(html);
					}else{
					   $("tbody#records").prepend("<tr id='tr"+userposttypeInfo['userPostTypeId']+"'>"+html+"</tr>");
					}	
				   $("#save").removeAttr("disabled");	
				   $("#edit").hide();
			},
			
			error: function() {
				//alert("调用失败");
			}
		});      
   });
   
   //关闭按钮操作
   $("#close").click(function(){
      $("#edit").hide();
   });
   
});

function doEdit(id){
	$("#userPostTypeId").val(id);
    $("#userPostTypeName").val("");
    $("#status").val("");
    $("#userId").val("");
    $("#createAt").val("");
    $("#isPic").val("");
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}
	$("#save").show();
   	$("#edit input").removeAttr("readOnly");

	jQuery.ajax({
		type: "POST",
		url: "/userposttype/jsonget/userPostTypeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var userposttypeInfo = tt['userposttypeInfo'];
			    $("#userPostTypeId").val(id);
    			$("#userPostTypeName").val(userposttypeInfo.userPostTypeName);
    			$("#status").val(userposttypeInfo.status);
    			$("#userId").val(userposttypeInfo.userId);
    			$("#createAt").val(userposttypeInfo.createAt);
    			$("#isPic").val(userposttypeInfo.isPic);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}


function doView(id){
	$("#userPostTypeId").val(id);
    $("#userPostTypeName").val("");
    $("#status").val("");
    $("#userId").val("");
    $("#createAt").val("");
    $("#isPic").val("");
	$("#edit input").attr("readOnly","true");
	$("#save").hide();
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}

	jQuery.ajax({
		type: "POST",
		url: "/userposttype/jsonget/userPostTypeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var userposttypeInfo = tt['userposttypeInfo'];
			    $("#userPostTypeId").val(id);
    			$("#userPostTypeName").val(userposttypeInfo.userPostTypeName);
    			$("#status").val(userposttypeInfo.status);
    			$("#userId").val(userposttypeInfo.userId);
    			$("#createAt").val(userposttypeInfo.createAt);
    			$("#isPic").val(userposttypeInfo.isPic);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}

	
function doDel(id){
  if(confirm("您真的要删除此项纪录吗？")){
	jQuery.ajax({
		type: "POST",
		url: "/userposttype/jsondel/userPostTypeId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
			     //alert(tt);
			     $('#tr'+id).remove();
		},
		
		error: function() {
			//alert("调用失败");
		}
	});    
  }
  
}

function delchecked(){
     var checkall = document.getElementsByName("userPostTypeId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDeleteMulti(){
  var checkall = document.getElementsByName("userPostTypeId[]");
  //alert(checkall.length);	
 if(document.searchform.all.checked && checkall.length>0 ){
    var r = window.confirm("确定删除本页全部？");
    if (r){
					var para =""
					$("input[@type='checkbox'][@name='userPostTypeId[]']").each(
						function()
						{
							if(this.checked)
							{
								para += "&userPostTypeId[]=" + this.value;
							}
						});
				    alert(para);		
					jQuery.ajax({
						type: "POST",
						url: "/userposttype/jsondel",
						data: "id=1"+para,
						dataType: "json",
						success: function(tt) {
							jQuery.each(tt, function(i) {
					           $('#tr'+tt[i]).remove();
						    });	
						},
						
						error: function() {
							//alert("调用失败");
						}
					});							

    }
 }else{
     var flag=false;
	var para =""
	$("input[@type='checkbox'][@name='userPostTypeId[]']").each(
		function()
		{
			if(this.checked)
			{
				para += "&userPostTypeId[]=" + this.value;
				flag = true;
			}
		});
		
	//alert(para);
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){					
			jQuery.ajax({
				type: "POST",
				url: "/userposttype/jsondel",
				data: "id=1"+para,
				dataType: "json",
				success: function(tt) {
						jQuery.each(tt, function(i) {
					        $('#tr'+tt[i]).remove();
						});							     
				},
				
				error: function() {
					//alert("调用失败");
				}
			});
        }
     }else{
        alert("您没有选择删除项");
     }					
}
}

function ajax_page(para){
	//也可以用jQuery.getJSON)()直接得到json对象。不过这个方法只能用http get。
	jQuery.ajax({
		type: "POST",
		url: para,
		data: "",
		dataType: "json",
		success: function(tt) {
			//alert(tt);
			//var tt = eval("("+t+")");//字符串转化为json对象
			$("tbody#records").empty();
			jQuery.each(tt['list'], function() {
				var html = "<tr id='tr"+this['userPostTypeId']+"'>";
				html += "<td><input type='checkbox' name='userPostTypeId[]'  value='"+this['userPostTypeId']+"'>&nbsp;</td>";
				html += "<td>"+this['userPostTypeId']+"&nbsp;</td>";
                html += "<td>"+this['userPostTypeName']+"&nbsp;</td>";
                html += "<td>"+this['status']+"&nbsp;</td>";
                html += "<td>"+this['userId']+"&nbsp;</td>";
                html += "<td>"+this['createAt']+"&nbsp;</td>";
                html += "<td>"+this['isPic']+"&nbsp;</td>";
				html += "<td nowrap>";
				html += "<a href='javascript:doView("+this['userPostTypeId']+")'>查看</a>&nbsp;";
				html += "<a href='javascript:doEdit("+this['userPostTypeId']+")'>编辑</a>&nbsp;";
				html += "<a href='javascript:doDel("+this['userPostTypeId']+")'>删除</a>&nbsp;";
				html += "</td>";
				html += "</tr>";
				$("tbody#records").append(html);
			});
	        $("#pagebar").html(tt['pagebar']);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});		
}

</script>
