<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<center>
<form name="searchform" method="post" action="/userposttype/del/">
<table border=1>
<tr>
<td colspan=99 align="right"><a href="/userposttype/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>类别</td>
<td>状态(1有效0无效)</td>
<td>用户ID</td>
<td>创建时间</td>
<td>0为帖子</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $userposttypeInfo) { ?>
<tr>
<td><input type='checkbox' name="userPostTypeId[]"  value="<?php echo $userposttypeInfo->getUserPostTypeId(); ?>">&nbsp;</td>
<td><?php echo $userposttypeInfo->getUserPostTypeId(); ?>&nbsp;</td>
<td align="center"><?php echo $userposttypeInfo->getUserPostTypeName(); ?>&nbsp;</td>
<td><?php echo $userposttypeInfo->getStatus(); ?>&nbsp;</td>
<td><?php echo $userposttypeInfo->getUserId(); ?>&nbsp;</td>
<td><?php echo $userposttypeInfo->getCreateAt(); ?>&nbsp;</td>
<td><?php echo $userposttypeInfo->getIsPic(); ?>&nbsp;</td>
<td nowrap>
<a href="/userposttype/view/userPostTypeId/<?php echo $userposttypeInfo->getUserPostTypeId(); ?>">查看</a>&nbsp;
<a href="/userposttype/edit/userPostTypeId/<?php echo $userposttypeInfo->getUserPostTypeId(); ?>">编辑</a>&nbsp;
<a href="javascript:del(<?php echo $userposttypeInfo->getUserPostTypeId(); ?>)">删除</a>&nbsp;
</td>
</tr>
<?php } ?>


</table>
</form>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/userposttype/list/"));
   echo $pageUtil->show(1);
    // echo ($this->page);
?>
<script language="javascript">
function del(id){
  if(confirm("您真的要删除此项纪录吗？")){
    document.searchform.action="/userposttype/del/userPostTypeId/"+id;
    document.searchform.submit();
  }
}

function delchecked(){
     var checkall = document.getElementsByName("userPostTypeId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDelete(){
 if(document.searchform.all.checked && searchform.userPostTypeId!=null ){
  var r = window.confirm("确定删除本页全部？");
   if (r){
     document.searchform.action="/userposttype/del/";
     document.searchform.submit();
    }
 }else{
 if(searchform.userPostTypeId!=null){
  var flag=false;
     for ( i=0;i<searchform.userPostTypeId.length; i++)
                   {
                if( document.searchform.userPostTypeId[i].checked)
                  flag=true;
                   }
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){
        document.searchform.action="/userposttype/del/";
        document.searchform.submit();
        }
     }else{
     alert("您没有选择删除项");
     }
 }
}
}
</script>
