<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<table width="100%">
<form name=thisform method=post action="">
<!--用户帖子(文章)类别ID-->
<input type=hidden name='userPostTypeId' id='userPostTypeId' value="<?php echo $this->userposttypeInfo->getUserPostTypeId(); ?>">
<tr>
<td align="right" width="20%" class="ck-bgr">类别</td>
<td class="TD2"><?php echo $this->userposttypeInfo->getUserPostTypeName(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">状态(1有效0无效)</td>
<td class="TD2"><?php echo $this->userposttypeInfo->getStatus(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">用户ID</td>
<td class="TD2"><?php echo $this->userposttypeInfo->getUserId(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">创建时间</td>
<td class="TD2"><?php echo $this->userposttypeInfo->getCreateAt(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">0为帖子</td>
<td class="TD2"><?php echo $this->userposttypeInfo->getIsPic(); ?>&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <!--input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" -->
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
