<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>

<script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/paowang-consolidation.js"></script>
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/paowang-consolidation.css" />

<style type="text/css">
*{
    behavior:url(<?php echo $this->resourceDir; ?>/css/iepngfix.htc)
}


.jsg_upload_block {
    height: auto;
    width: auto;
    position: relative;
    padding-left: 127px;
    width: 550px;
    line-height: 22px;
    margin-top: 15px;
}
.jsg_image_preview {
    float: left; 
    background: url() no-repeat center 50%; 
    width: 160px; 
    height: 120px; 
    border: solid 1px #cccccc; 
    margin: 0px 5px 25px;}
    
h3 {background-color: #FFE097; margin-top: 0;}
#upload_block {border: 1px solid #ececec; height: auto;width: auto;}
.JSGImgPreview {float: left; background: url() no-repeat center 50% #FFFAD9; width: 160px; height: 120px; border: solid 1px #0080FF; margin: 0 5px;}





</style>


<script type="text/javascript">
$(document).ready(function(){
    $("#cancleAddPost").click(function(){
    	$.post(encodeURI("/post/postaddpiccancel/postId/"+$("$postId").val()+"/"),function(data){});
        closeAddPostWindow();
        return false;
    });  
    $('#thisform').submit(function(){
            return validateEditPost();
    });
    

    
    
    
<?php 
    $canUplaodPicture = Rbm_RbmService::getInstance()->hasPermission(
                 Util::getUserId(), $this->forumId, Rbm_RbmService::USER_UPLOAD_PICTURE);
    if(PaowangData::$forumsUploadPics[$this->forumId]>0 && ($this->postInfo->getPostId()==$this->postInfo->getTopId()) && $canUplaodPicture){?>    
    myImageUploader1 = new JSG.imgUploader({fileLimits: <?php echo PaowangData::$forumsUploadPics[$this->forumId];?>, actionUrl: '/post/testpicupload', inputContainer: 'image_input_block', previewContainer: 'preview_block', currentFileCount: '<?php echo count($this->piclists);?>',editFlag:"1"});
    $('#getFiles').click(function() {
        $('#resultGetFiles').html(myImageUploader1.getFilesAll());
    }); 
<?php }?>    

    
})



function closeAddPostWindow(){
    //$.post(encodeURI("/post/postaddpiccancel/postId/"+$("$postId").val()+"/"),function(data){});
    
    if (parent.window.hs){
        var exp = parent.window.hs.getExpander("popupNewPost");
        if(exp){
            exp.close();
        }
    }

}


function FCKeditor_OnComplete(editorInstance)
{
    var postContent = document.getElementById('postContent');
    editorInstance.SetData(postContent.innerHTML);
}

function editPostSuccess(){
    closeAddPostWindow();
    top.location.reload();
}


function submitEditPost(){
    fckEditorAjaxFixObject.UpdateEditorFormValue();
//    $('#thisform').ajaxSubmit({
//            dataType: 'json',
//            beforeSubmit: validateEditPost,
//            success: editPostSuccess
//        });
    $('#thisform').submit();    
    $("#submit_button").attr("disabled",true);        
    return false; 
}

function validateEditPost(){
    $("#msg").text("");
    var title = $.trim($('#title').val());
    if(title.length == 0){
        $("#title").focus();
        $("#msg").text("请输入标题");
        return false;
    }
    
    //var text = document.getElementById('text');
//    var text = $.trim($('#text').val());
//    if(text.length == 0){
//        $("#text").focus();
//        $("#msg").text("请输入帖子内容");
//        return false;
//    }
//    
//    var tags = $.trim($('#tags').val());
//    if(tags.length == 0){
//        $("#tags").focus();       
//        $("#msg").text("请输入帖子的标签");
//        return false;
//    }
    return true;  
}

            
function FCKEditorAjaxFix()
{
    this.UpdateEditorFormValue = function(){
        for ( i = 0; i < parent.frames.length; ++i ) {
            if ( parent.frames[i].FCK ){
                parent.frames[i].FCK.UpdateLinkedField();
            }
        }
    }
}


var fckEditorAjaxFixObject = new FCKEditorAjaxFix();


</script>
</head>    
<body>

    <form name="thisform" id="thisform" action="/post/modifypost"  method="post">
        <input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
        <input type="hidden" name="postId" id="postId" value="<?php echo $this->postInfo->getPostId();?>" />
        <input type="hidden" name="uploadPic" id="uploadPic" value="1">
        <input type="hidden" name="del_post_pic_id_str" id="del_post_pic_id_str" value="0">        
        

        <div id="mypaper_add">
        <h2 class="myadd_title">编辑帖子</h2>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;题：</span><input type="text" name="title" id="title" value="<?php echo $this->postInfo->getTitle()?>"/></p>
        <p><span class="title">帖子内容：</span>
            <script type="text/javascript">
            var oFCKeditor = new FCKeditor('text');
            oFCKeditor.BasePath = "/js/fckeditor/";
            oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
            oFCKeditor.ToolbarSet = 'Paowang' ;
            oFCKeditor.Create();
            
            </script>       
        </p>
<?php if($this->postInfo->getPostId()==$this->postInfo->getTopId()){ ?>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;签：</span><input type="text" name="tags" id="tags" value="<?php echo $this->postInfo->getTags()?>"/></p>
<?php }?>		
<?php 
    if(PaowangData::$forumsUploadPics[$this->forumId]>0 && ($this->postInfo->getPostId()==$this->postInfo->getTopId()) && $canUplaodPicture){?> 	
       <p>     <span class="title">上传图片：</span>
          <div id="upload_block" class="jsg_upload_block">
              <div id="preview_block">
           
 <?php  
 $config = Zend_Registry::get('config');
 foreach ($this->piclists as $postpicInfo) { 
 ?>
 <div class="jsg_image_preview" id="postpic<?php echo $postpicInfo->getPostPicId();?>" style="position: relative; background-image: url(<?php echo $config->general->picture->url .$postpicInfo->getPicThumb(); ?>);"><div style="position: absolute; right: 0pt; top: 0pt; cursor: pointer;" onclick="myImageUploader1.delIconClick('<?php echo $postpicInfo->getPostPicId();?>');"><img src="/images/icon_delete.gif"></div><div style="position: absolute; left: 0pt; bottom: -25px;"><span></span><input size="21" name="picDesc<?php echo $postpicInfo->getPostPicId();?>" id="picDesc<?php echo $postpicInfo->getPostPicId();?>" type="text" value="<?php echo $postpicInfo->getPicDesc();?>" ></div></div>
 <?php }?>
                </div>
              <div style="clear: both;">
                <span id="image_input_block"></span>
              </div>
           </div>
        </p>
<?php }?>
        		
        <p class="mypaper_submit">
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg"  id="submit_button"   onclick="return submitEditPost();"/>
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" id="cancleAddPost"/>
          <span id="msg" style="color:red;"></span>     
        </p>
        </div>
    </form> 
  <div style="display:none" id="postContent">
    <?php echo $this->posttextInfo->getHtml(); ?>
  </div>
</body>
</html>
