<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>泡网论坛页</title>
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div align="center">
        <?php
		echo $this->render('/inc/header.phtml');
	    ?>
</div>

<div align="center"> 
<p>&nbsp;</p>
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%" valign="top">
        
        <?php
		echo $this->render('/post/left.phtml');
	    ?>
	    <?//include_once("/forum/forumleft");?>
      </td>
      <td width="90%" align="left" valign="top">
      <div>
      <input type="hidden" name="forumtype" value="<?php echo $this->type ?>">
	    <?php
        echo $this->render('/post/tabs.phtml');
	    ?>
	    
        <div align="right"> </div>
 <!--内容 开始-->       	
<table border=1>
<!--tr>
<td colspan=99 align="right"><a href="/post/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr-->
<tr>
<td>编号</td>
<td>标题</td>
<td>根贴ID</td>	
<td>深度</td>
<td>显示顺序</td>
<td>列表顺序</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $row) { 
	   $postInfo = $row["postInfo"];
?>
<tr>
<td><?php echo $postInfo->getPostId(); ?>&nbsp;<a id="e_c<?php echo $postInfo->getTopId();?>" onclick="javascript:e_c(<?php echo $postInfo->getTopId();?>);">a</a></td>	
<td nowrap><div style="padding-left:<?php echo (intval($postInfo->getDepth())-1)*20;?>px"><?php echo $postInfo->getTitle(); ?></div>&nbsp;</td>
<td><?php echo $postInfo->getTopId(); ?>&nbsp;</td>	
<td><?php echo $postInfo->getDepth(); ?>&nbsp;</td>
<td><?php echo $postInfo->getShowOrder(); ?>&nbsp;</td>
<td><?php echo $postInfo->getListOrder(); ?>&nbsp;</td>
<td nowrap>
<a href="/post/postview/postId/<?php echo $postInfo->getPostId(); ?>">查看</a>&nbsp;
<a href="/post/postedit/postId/<?php echo $postInfo->getPostId(); ?>">编辑</a>&nbsp;
<!--a href="javascript:del(<?php echo $postInfo->getPostId(); ?>)">删除</a-->&nbsp;
</td>
</tr>
<?php if($row["childs"]!=null){?>
	<?php foreach ($row["childs"] as $postInfoChild) { 
	?>
		<tr class="child<?php echo $postInfoChild->getTopId();?>">
		<td><?php echo $postInfoChild->getPostId(); ?>&nbsp;</td>	
		<td nowrap><div style="padding-left:<?php echo (intval($postInfoChild->getDepth())-1)*20;?>px"><?php echo $postInfoChild->getTitle(); ?></div>&nbsp;</td>
		<td><?php echo $postInfoChild->getTopId(); ?>&nbsp;</td>	
		<td><?php echo $postInfoChild->getDepth(); ?>&nbsp;</td>
		<td><?php echo $postInfoChild->getShowOrder(); ?>&nbsp;</td>
		<td><?php echo $postInfoChild->getListOrder(); ?>&nbsp;</td>
		<td nowrap>
		<a href="/post/postview/postId/<?php echo $postInfoChild->getPostId(); ?>">查看</a>&nbsp;
		<a href="/post/postedit/postId/<?php echo $postInfo->getPostId(); ?>">编辑</a>&nbsp;		
		</td>
		</tr>
	<?php }?>	
<?php }?>

<?php } ?>
</table>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/post/index/forumId/".$this->forumId."/"));
   echo $pageUtil->show(1);
 ?>

 <!--内容 结束-->       	
        <p>&nbsp;</p></td>
        
      </div>
      </td>
    </tr>
  </table>
<script>
   function e_c(id){
   	 if(jQuery(".child"+id).css("display")=="none") {
   	    jQuery(".child"+id).show();
   	 }else{
   	    jQuery(".child"+id).hide();
   	 }
   	 if(jQuery('#e_c'+id).text()=='-'){
   	    jQuery('#e_c'+id).text('+');	
   	 }else{
   	 	jQuery('#e_c'+id).text('-');
   	 }
   }
</script>  
  <p>&nbsp;</p>
</div>
</body>
</html>
