<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部-标签管理</title>

<?php
    echo $this->render('/inc/include.phtml');
?>
</head>    
<body>

<?php
?>  
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
            
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">标签管理</a></li>
        </ul>
     </div>
     <div id="member_content">
        <div id="member_edit">
        <p><span>帖子标题：</span><?php echo $this->post->getTitle(); ?>
            (<a href='' onclick='return deleteAllTag(<?php echo $this->post->getPostId() ?>);'>删除所有标签</a>)
        </p>
        
        <?php
        foreach ($this->tags as $tagInfo) {
            echo "<p>";
        	echo "<span>" . $tagInfo->getTagName() . "：</span>";
        	echo "（添加者：" . $this->users[$tagInfo->getUserId()]->getUserName() . "）";
        	?>
        	<a href='' onclick='return deleteTag(<?php echo $this->post->getPostId() ?>, <?php echo $tagInfo->getUserId(); ?>, "<? echo $tagInfo->getTagName(); ?>");'>删除</a>
            <?php
            echo "</p>";
        }
            ?>
        </div>
     </div>
  </div>
            
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
<script language="javascript">
function deleteTag(postId, userId, tagName){
    jQuery.ajax({
        type: "POST",
        url: "/post/deletetag",
        data: encodeURI("postId=" + postId + "&userId=" + userId + "&tagName=" + tagName),
        dataType: "json",
        success: function(data) {
            if(data.success){
                popupMessageBox(data.messages.message, "帖子标签", function(){document.location.reload(); });
            }else{
                popupMessageBox(data.messages.message, "帖子标签");
            }
        },
        
        error: function(error) {
            alert(error);
        }
    });
    return false;
}

function deleteAllTag(postId){
    jQuery.ajax({
        type: "POST",
        url: "/post/deletetag",
        data: encodeURI("postId=" + postId),
        dataType: "json",
        success: function(data) {
            if(data.success){
                popupMessageBox(data.messages.message, "帖子标签", function(){document.location.reload(); });
            }else{
                popupMessageBox(data.messages.message, "帖子标签");
            }
        },
        
        error: function(error) {
            alert(error);
        }
    });
    return false;
}

</script>
</body>
</html>