<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/paowang-consolidation.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    closeWindow();
});   

function closeWindow() {

    if (parent.window.hs) {
        var exp = parent.window.hs.getExpander("popupNewPost");
        if (exp) {
            setTimeout(function() {
                parent.window.location.reload();
                exp.close();
            }, 1000);
        }
    }

}
</script>
    <div width="80/%">编辑帖子成功。。。</div>
</body>