<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>泡网俱乐部</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/highslide/highslide-full.js"></script>
<script type="text/javascript" src="/js/fckeditor/fckeditor.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/JSG.ImageUploader.js"></script>
<link href="/css/layout.css"  type="text/css" rel="stylesheet"/>
<link href="/js/highslide/highslide.css" rel="stylesheet" type="text/css">
<style type="text/css">
*{
	behavior:url(/css/iepngfix.htc)
}

#upload_block {border: 1px solid #ececec; height: auto;width: auto;}
.JSGImgPreview {float: left; background: url() no-repeat center 50% #FFFAD9; width: 160px; height: 120px; border: solid 1px #0080FF; margin: 0 5px;}

</style>


<script type="text/javascript">
$(document).ready(function(){
    myImageUploader1 = new JSG.imgUploader({fileLimits: 8, actionUrl: '/post/testpicupload/', inputContainer: 'image_input_block', previewContainer: 'preview_block'});
    
    $('#getFiles').click(function() {
        $('#resultGetFiles').html(myImageUploader1.getFilesAll());
    });
  	
    $("#cancleAddPost").click(function(){
        closeAddPostWindow();
    })  	
})

function validate(){
    var title = document.getElementById('title');
    if(title.value.length != 0){
        return true;
    }
    
    // there are errors
//    var inputErrorDisplay = document.getElementById('titleErrorDisplay');    
//    title.className = 'errortextfield';
//    inputErrorDisplay.style.display="";
//    return false;
}

var id = 1;

function addChild(sPid){
    var oTextNode = document.getElementById("TplNode").getElementsByTagName("div")[0];
    var oClone = oTextNode.cloneNode(oTextNode);
    id++;

    oClone.firstChild.setAttribute("id","f"+id);
    oClone.firstChild.setAttribute("name","pic_files[]");
    //oClone.childNodes[4].setAttribute("id",""+id);

    var p=document.getElementById(sPid);
    p.appendChild(oClone);
}

function delChild(o,sPid){
    var oTextNode = o.parentNode;
    var p=document.getElementById(sPid);
    p.removeChild(oTextNode);
}

function closeAddPostWindow(){
    $.post(encodeURI("/post/postaddpiccancel/postId/"+$("$postId").val()+"/"),function(data){});
    
    if (parent.window.hs){
        var exp = parent.window.hs.getExpander("popupNewPost");
        if(exp){
            exp.close();
        }
    }

}

function submitNewPost(){
	$("#submit_button").attr("disabled","disabled");
    //$('#thisform').submit();        
    return false; 
}

</script>
</head>    
<body>
    <form name="thisform" id="thisform" action="/post/temp2online"  method="post" enctype="multipart/form-data" 
    onsubmit="return validate();">
        <input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
        <input type="hidden" name="postId" id="postId" value="0">
        <input type="hidden" name="uploadPic" id="uploadPic" value="1">    

		<div id="mypaper_add">
		<h2 class="myadd_title">加帖子</h2>
		<p><span>标&nbsp;&nbsp;&nbsp;&nbsp;题：</span><input type="text" name="title" id="title" /></p>
		<p><span>帖子内容：</span>
					<script type="text/javascript">
			var oFCKeditor = new FCKeditor('text');
			oFCKeditor.BasePath = "/js/fckeditor/";
			oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
			oFCKeditor.ToolbarSet = 'Paowang' ;
			oFCKeditor.Create();
			</script> 
		</p>
		<p><span>标&nbsp;&nbsp;&nbsp;&nbsp;签：</span><input type="text" name="tags" id="tags"/></p>
         <?php
           $canUpdatePicture = Rbm_RbmService::getInstance()->hasPermission(
 	             Util::getUserId(), $this->forumId, Rbm_RbmService::USER_UPLOAD_PICTURE);
 	       //echo "Util::getUserId()".Util::getUserId()."<br />";
 	       //echo "this->forumId:".$this->forumId."<br />";      
 	       //echo "".$canUpdatePicture."<br />";
           //if($canUpdatePicture){
         ?>		
		<p>
	      <div id="upload_block">
		  <span>上传图片</span>
			  <div id="preview_block"></div>
			  <div style="clear: both;">
			    <span id="image_input_block"></span>
			  </div>
		   </div>
		</p>
        <?php
           //}
        ?>
		<p class="mypaper_submit">
			ddddddddddddddd
		  <input type="button" src="/images/submit.jpg" id="submit_button" onclick="return submitNewPost();"/>
		  <input type="image" src="/images/cancel.jpg" id="cancleAddPost"/>
		</p>
		</div>
    </form> 

</body>
</html>