<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<script type="text/javascript" src="/js/jquery.js"></script>

<script type="text/javascript">

</script>
    <div width="80/%">您没有权限，请核实！</div>
    <a href="#" onclick="history.go(-1);">返回</a>
</body>