<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>泡网论坛页</title>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/fckeditor/fckeditor.js"></script>
</head>

<body>
<div align="center">
        <?php
		//echo $this->render('/inc/header.phtml');
	    ?>
</div>

<div align="center"> 
<p>&nbsp;</p>
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%" valign="top">
        
        <?php
		//echo $this->render('/post/left.phtml');
	    ?>
	    <?//include_once("/forum/forumleft");?>
      </td>
      <td width="90%" align="left" valign="top">
      <div>
      <input type="hidden" name="forumtype" value="<?php echo $this->type ?>">
	    <?php
       // echo $this->render('/post/tabs.phtml');
	    ?>
	    
        <div align="right"> </div>
        
 <!--内容 开始-->       	
<p>
<form name="thisform" id="thisform" action="/post/postaddpicpreviewdeal"  method="post" enctype="multipart/form-data">

        <table width="80%" border="0" align="center" cellpadding="10" cellspacing="0">
        <tr>
            <td width="5%" align="right" valign="baseline"> 
                <div>标题: 
                </div>
            </td>
            <td>
                <div><input name="title" id="title" type="text" size="80" value="<?php echo $this->postInfo->getTitle()?>"></div>
            </td>
        </tr> 
        <tr style="display:none" id="titleErrorDisplay">	
            <td width="5%">&nbsp;</td>
            <td><div id="titleError" style="color:red">请输入题目</div></td>
        </tr>

        <tr>
            <td width="5%" align="right" valign="baseline"> 
                <div>标签: 
                </div>
            </td>
            <td>
                <div><input name="tags" type="text" size="80" value="<?php echo $this->postInfo->getTags()?>"></div>
            </td>
        </tr>   
        
        


        <tr>
            <td colspan=2>
			<script type="text/javascript">
			var oFCKeditor = new FCKeditor('text');
			oFCKeditor.BasePath = "/js/fckeditor/";
			oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
			oFCKeditor.ToolbarSet = 'Paowang' ;
			oFCKeditor.Create();
			
			</script>            
            </td>
        </tr>
        
        </table>
        
 <?php foreach ($this->piclists as $postpicInfo) { ?>
<div id="pic<?php echo $postpicInfo->getPostPicId();?>"> 	
<img src="<?php echo $postpicInfo->getPicThumb(); ?>" /><br />
<input type="hidden" name="postPicId[]" value="<?php echo $postpicInfo->getPostPicId();?>" /> 
描述：
<textarea name="picDesc[]"><?php echo $postpicInfo->getPicDesc();?></textarea>
<input type="button" value="删除图片" onclick="doDelete(<?php echo $postpicInfo->getPostPicId();?>);"/>
<input type="checkbox" class="chk" value="<?php echo $postpicInfo->getPostPicId();?>" />删除
</div>
<?php }?>



                <div>
                <div id="TplNode" style="display:none;">
                    <div class="uploadfile"><input type="file" name="pic_files_tpl[]" value="" id="" size="30" />&nbsp;<a href="javascript:;" onclick="delChild(this,'UpFiles');">删除</a>
                    </div>
                </div>
                <div id="UpFiles">
                    <div class="uploadfile"><input type="file" name="pic_files[]" value="" id="f1" size="30" />&nbsp;<a href="javascript:;" onclick="delChild(this,'UpFiles');">删除</a>
                    </div>
                </div>
                </div>
        
                <div>
                <a href="javascript:;" onclick="addChild('UpFiles');">上载另一张图片 </a>
                </div>
                
				  <div style="display:none" id="postContent">
				    <?php echo $this->posttextInfo->getHtml(); ?>
				  </div>                

        <br>
        <input type="hidden" id="postIdStr" name="postIdStr" value="">
        <input type="hidden" id="postId" name="postId" value="<?php echo $this->postInfo->getPostId();?>">
        <input type="hidden" id="forumId" name="forumId" value="<?php echo $this->postInfo->getForumId();?>">
        <input type="button" name="link22" value="确定" onclick="doOk();">
        <input type="button" name="link22" value="取消" onclick="doCancel();" />
     </p>
</form>


 <!--内容 结束-->


<script type="text/javascript">
  
    function doCancel(){
    	//alert($("#postId").val());
    	//alert($("#forumId").val());
    	thisform.action="/post/postaddpiccancel/postId"+$("#postId").val()+"/forumId/"+$("#forumId").val();
    	thisform.submit();
    }

    function vote(flag){
       var url1 = "/postjudge/vote/postId/"+$("#postId").val()+"/flag/"+flag;
       $.ajax({		  
          type: "post",
		  url: url1 ,
		  dataType: "json" ,
		  success : function(tt){
		  	//alert(tt);
		  	var msg = tt.msg;
		  	var voteyes = tt.voteyes;
		  	var voteno = tt.voteno;
		  	$("#voteyes").text(tt.voteyes);
		  	$("#voteno").text(tt.voteno);
		  	alert(msg);
		  }
       });
    }
    
    $(document).ready(function(){
    	$("#reply_area_a").toggle(function(){
    		$("#reply_area").show();
    	},
    	function(){
    		$("#reply_area").hide();
    	});
    });
    
var id = 1;

function addChild(sPid){
    var oTextNode = document.getElementById("TplNode").getElementsByTagName("div")[0];
    var oClone = oTextNode.cloneNode(oTextNode);
    id++;

    oClone.firstChild.setAttribute("id","f"+id);
    oClone.firstChild.setAttribute("name","pic_files[]");
    //oClone.childNodes[4].setAttribute("id",""+id);

    var p=document.getElementById(sPid);
    p.appendChild(oClone);
}

function delChild(o,sPid){
    var oTextNode = o.parentNode;
    var p=document.getElementById(sPid);
    p.removeChild(oTextNode);
}

function doDelete(id){
   $("#pic"+id).hide();
   $("#postIdStr").val($("#postIdStr").val()+","+id);
}

function doOk(){
  var obj=$(".chk");
  var flag=false;	   
  var id=new Array();
  $(obj).each(function(){
    if(this.checked==true){
      id.push($(this).val());
      flag=true;
    }
  });
  
  if(flag){
  	 $("#postIdStr").val(id.join(","));
  }
  //alert(id.join(","));
  thisform.submit();
}


function FCKeditor_OnComplete(editorInstance)
{
    var postContent = document.getElementById('postContent');
    editorInstance.SetData(postContent.innerHTML);
}    
</script>
        
      </div>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>
</body>
</html>
