<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/templates/club/css/layout.css" type="text/css" rel="stylesheet" />
<script src="/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/JSG.ImageUploader.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="js/png.js"></script>
 <script type="text/javascript">
   DD_belatedPNG.fix('div');     
</script>
<![endif]-->

<style type="text/css">
*{
	behavior:url(/css/iepngfix.htc)
}

#upload_block {border: 1px solid #ececec; height: auto;width: auto;}
.JSGImgPreview {float: left; background: url() no-repeat center 50% #FFFAD9; width: 160px; height: 120px; border: solid 1px #0080FF; margin: 0 5px;}

</style>
<script type="text/javascript">
$(document).ready(function(){
$(".tree").toggle(function(){
if($(this).parent().next(".post_replay").length==1){
$(this).parent().next(".post_replay").css("display","none");
$("img",this).attr("src","/templates/club/images/title_bg.gif");
}
},function(){
if($(this).parent().next(".post_replay").length==1){
$(this).parent().next(".post_replay").css("display","block");
$("img",this).attr("src","/templates/club/images/next_bg.gif");
}
}
)
})



$(document).ready(function(){
    myImageUploader1 = new JSG.imgUploader({fileLimits: 8, actionUrl: '/post/testpicupload/', inputContainer: 'image_input_block', previewContainer: 'preview_block'});
    
    $('#getFiles').click(function() {
        $('#resultGetFiles').html(myImageUploader1.getFilesAll());
    });
  	
    $("#cancleAddPost").click(function(){
        closeAddPostWindow();
    })  	
})
	
	
	
function doSubmit(){
   /*
    $("#reg #msg").text("");
    var userName = $.trim($("#userName").val());
    //alert(userName);
    //alert(getLength(userName));
    if(getLength(userName)==0){
       $("#userName").focus();  
       $("#reg #msg").text("请输入用户名");
       return false;
    }
    if(getLength(userName)>20){
       $("#userName").focus();  
       $("#reg #msg").text("用户名最长为20个字符");
       return false;
    }
    */
    var title = $.trim($("#title").val());
    if(title==''){
       $("#title").focus();  
       $("#addNewPostForm #msg").text("请输入标题"); 
       return false;  	
    }
    $("#addNewPostForm").ajaxSubmit({success: handleRegSuccess, dataType: 'json'})
}

function handleRegSuccess(data){
  if(data.success){
     alert("发贴成功");
     //alert("/forum/index/forumId/"+data.forumId+"/style/go");
     window.location.href="/forum/index/forumId/"+data.forumId+"/style/go";
     //popupMessageBox("发贴成功", "用户注册", function(){window.location.href="/forum/index/forumId/"+data.forumId+"/style/go"; });
  }else{
    $("#"+data.messages.tagid).focus();
    $("#reg #msg").text(data.messages.message);
  }
}

function doCancel(){
	window.location.href="/forum/index/forumId/<?echo $this->forumId;?>/style/go";
}	
	
</script>
<title>泡网俱乐部</title>
<body>
<div id="wrap_detail">
<div id="head">
  <h1><a href="index.html">泡网俱乐部</a></h1>
  <div class="login"><a href="/user/register">注册</a></div>
  <div class="search">
<form action="http://www.google.cn/search" method="get" target="_blank">
	<input name="domains" value="paowang.com" type="hidden" />	
	<input name="sitesearch" value="paowang.com" type="hidden" />
	<input name="hl" value="zh-CN" type="hidden" />
	<input name="ie" value="utf-8" type="hidden" />
	<input type="text" class="s_text" name="q" id="query" value=""/>
        <input type="image" src="/templates/club/images/search.gif" />
</form>

  </div>
</div>

<div id="main">
<div class="post_detail">
    <form name="addNewPostForm" id="addNewPostForm" action="/post/temp2online"  method="post" enctype="multipart/form-data"">
        <input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
        <input type="hidden" name="postId" id="postId" value="0">
        <input type="hidden" name="uploadPic" id="uploadPic" value="1">    

        <div id="mypaper_add">
        <h2 class="myadd_title">加帖子</h2>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;题：</span><input type="text" name="title" id="title" /></p>
        <p><span class="title">内&nbsp;&nbsp;&nbsp;&nbsp;容：</span>
        <textarea id="text" name="text" style="width:600px;height:200px;"></textarea>
        </p>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;签：</span><input type="text" name="tags" id="tags"/></p>
        <p>
          <span class="title">上传图片：</span>
          <div id="upload_block" class="jsg_upload_block">
              <div id="preview_block"></div>
              <div style="clear: both;">
                <span id="image_input_block"></span>
              </div>
           </div>
        </p>
        <p class="mypaper_submit">
          <input type="image" src="/images/submit.jpg" onclick="doSubmit();return false;" />
          <input type="image" src="/images/cancel.jpg" id="cancleAddPost" onclick="doCancel();return false;"/>
            <span id="msg" style="color:red;"></span>
        </p>
        </div>
    </form> 

</div>
</div>


<div id="bottom">
<div class="b_nav"><a href="#">关于我们</a>|<a href="#">隐私保护</a>|<a href="#">注册说明</a>|<a href="#">使用说明</a>|<a href="#">帮助中心</a>|<a href="#">联系我们</a></div>
<p>正在备案中</p>
<p>Copyright © 1998-2013, Paowang.Com All Rights Reserved</p>
</div>
  
</div>
</body>
</html>
