<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<style type="text/css">
* {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
form {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
img,fieldest{
    border:none;  /*防止链接图片出现边框*/
}
li{
list-style:none outside;/*去掉<li>的列表符号设定outside防止浏览器仍会在<li>内部保留列表位置*/
}
a{
	text-decoration:none;
	font-size: 12px;
	color: #415B8C;
}


#top {
	background-image: url(/images/paowang_r1_c2.jpg);
	background-repeat: repeat-x;
	height: 87px;
	width: 988px;
}

#logo {
	float: left;
	height: 87px;
	width: 213px;
}

body{
	background:#fff;
	color:#000000;
	font-family: "宋体";
	font-size: 12px;
	line-height: 1;
	
}
#topzi {
	float: left;
	height: 62px;
	width: 715px;
	font-size: 14px;
	color: #41588A;
	text-align: right;
	font-weight: bold;
	padding-top: 25px;
	padding-right: 60px;
}
#dh {
	background-image: url(/images/paowang_r6_c1.jpg);
	background-repeat: repeat-x;
	height: 33px;
	width: 988px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #8BA5C0;
	border-bottom-color: #8BA5C0;
	border-bottom-width: 1px;
}
#dhzi{
	height: 33px;
	width: 586px;
	float: left;
}
#dhzi1{
	height: 28px;
	width: 402px;
	float: left;
	padding-top: 5px;
	padding-left: 0px;
}

#dhzi a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(/images/paowang_r6_c8.jpg);
	display: block;
	float: left;
	height: 23px;
	width: 105px;
	padding-top: 10px;
	padding-right: 10px;
	background-repeat: no-repeat;
}

.aaa {
	background-image: url(/images/paowang_r6_c4.jpg);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 23px;
	width: 105px;
	font-size: 14px;
	font-weight: bold;
	color: #4E6F8F;
	padding-top: 10px;
	padding-right: 10px;

}

.sss {
    background-image: url(/images/paowang_r6_c8.jpg);
    font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#dhzi1 li {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}
#main {
	height: 920px;
	width: 948px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: left;
}
#mainlf1 a {
	font-size: 12px;
	font-weight: bold;
	color: #4C647C;
	background-image: url(/images/paowang_r13_c5.jpg);
	background-repeat: no-repeat;
	display: block;
	background-position: 50px;
	height: 18px;
	width: auto;
	padding-top: 8px;
}
#mainlf1 a:hover {
	font-size: 12px;
	font-weight: bold;
	color: #993300;
	background-image: url(/images/paowang_r13_c5.jpg);
	background-repeat: no-repeat;
	display: block;
	background-position: 50px;
	height: 18px;
	width: auto;
	padding-top: 8px;
}
#mainlf21 {
	background-image: url(/images/paowang_r6_c1.jpg);
	background-repeat: repeat-x;
	height: 23px;
	width: auto;
	font-size: 12px;
	font-weight: bold;
	color: #4C647C;
	padding-top: 5px;
	text-align: left;
	padding-left: 20px;
}
#mainlf22{
	height: 300px;
	width: auto;
}
#mainlf22 li {
	display: block;
	padding-top: 15px;
	font-size: 12px;
	color: #4C647C;
}
#mainlf {
	float: left;
	height: 920px;
	width: 198px;
}
#mainlf1 {
	height: 238px;
	width: 196px;
	border: 1px solid #D1D5E1;
	margin-bottom: 5px;
}
#mainlf2 {
	height: 330px;
	width: 196px;
	border: 1px solid #D1D5E1;
	margin-bottom: 5px;
}
#mainrt {
	float: left;
	height: 910px;
	width: 720px;
	margin-left: 10px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1D5E1;
	margin-bottom: 10px;
}
.ge5 {
	font-size: 12px;
	color: #6A87A4;
	text-align: left;
}
.ge2 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D1D5E1;
	border-left-color: #D1D5E1;
}
#mainrt1 {
	background-image: url(/images/pw01_r2_c2.jpg);
	background-repeat: repeat-x;
	height: 30px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #D7DBE4;
	border-bottom-width: 1px;
	border-bottom-color: #D7DBE4;
	font-size: 14px;
	font-weight: bolder;
	color: #4C647C;
	padding-top: 20px;
	text-align: center;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D7DBE4;
	border-left-color: #D7DBE4;
}
#mainrt2 {
	height: 17px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7DBE4;
	font-size: 12px;
	color: #667EA4;
	padding-top: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D7DBE4;
	border-left-color: #D7DBE4;
}
#mianrt3 {
	height: 470px;
	font-size: 12px;
	color: #4C647C;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D7DBE4;
	border-left-color: #D7DBE4;
}
#mainrt31 {
	height: 430px;
}
#mainrt32 {
	height: 25px;
	text-align: left;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 20px;
}
#mainrt5 {
	background-image: url(/images/pw01_r2_c2.jpg);
	background-repeat: repeat-x;
	height: 25px;
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #4C647C;
	text-align: left;
	padding-top: 5px;
	padding-left: 20px;
	border: 1px solid #D1D5E1;
}
.ge3 {
	font-size: 12px;
	color: #6A87A4;
}
.ge4 {
	font-size: 12px;
	color: #DFDFDF;
}
#mianrt3 li {
	text-align: left;
	display: block;
	margin-top: 25px;
	font-size: 14px;
	padding-left: 15px;
}
.zi1 {
	font-size: 16px;
	font-weight: bolder;
	color: #4C647C;
}
#mainrt4 {
	height: 190px;
	text-align: left;
	padding-top: 8px;
	border: 1px solid #D1D5E1;
	color: #316AC5;
}
#footer {
	height: 94px;
	width: 988px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D1D5E1;
	font-size: 12px;
	color: #CCCCCC;
	padding-top: 15px;
}

.zi {
	font-size: 14px;
	color: #000000;
	text-align: right;
}
.ge1 {
	background-color: #ECECEA;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F5F5F5;
	border-bottom-color: #F5F5F5;
}
.ge {
	border: 1px solid #E4E4E4;
}
</style>
<script type="text/javascript" src="/js/jquery.js"></script>

<script type="text/javascript">

	$("#viewPost").click(function(){
		alert("dddd");
	}); 

    function vote(flag){
       var url1 = "/postjudge/vote/postId/"+$("#postId").val()+"/flag/"+flag;
       $.ajax({		  
          type: "post",
		  url: url1 ,
		  dataType: "json" ,
		  success : function(tt){
		  	//alert(tt);
		  	var msg = tt.msg;
		  	var voteyes = tt.voteyes;
		  	var voteno = tt.voteno;
		  	$("#voteyes").text(tt.voteyes);
		  	$("#voteno").text(tt.voteno);
		  	alert(msg);
		  }
       });
    }
    
    
    function ceil(flag){
       var url1 = "/post/ceil/postId/"+$("#postId").val()+"/flag/"+flag;
       $.ajax({		  
          type: "post",
		  url: url1 ,
		  dataType: "json" ,
		  success : function(tt){
		  	//alert(tt);
		  	var msg = tt.msg;
		  	//alert(tt.flag);
		  	if(tt.flag==1){
		  	   $("#a_ceil_0").hide();
		  	   $("#a_ceil_1").show();	  		
		  	}else{
		  	   $("#a_ceil_0").show();
		  	   $("#a_ceil_1").hide();
		  	}
		  	alert(msg);
		  }
       });
    }    
    
    $(document).ready(function(){
    	$("#reply_area_a").toggle(function(){
    		$("#reply_area").show();
    	},
    	function(){
    		$("#reply_area").hide();
    	});
    });
</script>

</head>

<body>
<input type="hidden" name="forumtype" value="<?php echo $this->type ?>">
<input type="hidden" name="postId"  id="postId" value="<?php echo $this->postInfo->getPostId();?>">
<div id="top">
  <div id="logo"><img src="/images/paowang1.jpg" width="213" height="87" /></div>
  <div id="topzi">
  注册
  登录
  <img src="/images/paowang_r3_c23.jpg" width="17" height="14"  />帮助  </div>
</div>
<div id="dh">
  <div id="dhzi">
     <a href="#" class="aaa">首页</a>
    <a href="#" class="aaa sss">论坛</a>
    <a href="#" class="aaa">洋洋大观</a>
    <a href="#" class="aaa">博客</a>
    <a href="#" class="aaa">聊天</a>
   </div>
  <div id="dhzi1">
      <form action="" method="get">
        <ul>
        <li>
        <input name="textfield" type="text" id="textfield" size="25"  height="18"/>
        </li>
        <li>
        <input type="image" name="imageField" id="imageField" src="/images/paowang_r8_c22.jpg" />
        </li>
        </ul>
      </form>
    </div>
  </div>
  <div id="main">
    <div id="mainlf">
      <div id="mainlf1">
        <ul>
          <li><a href="#">江湖弹琴</a></li>
          <li><a href="#">江湖论剑</a></li>
          <li><a href="#">江湖绝色</a></li>
          <li><a href="#">江湖客栈</a></li>
          <li><a href="#">江湖兵器</a></li>
          <li><a href="#">小小江湖</a></li>
          <li><a href="#">IT江湖</a></li>
          <li><a href="#">寻音觅影</a></li>
          <li><a href="#">洋洋大观</a></li>
        </ul>
      </div>
      <div id="mainlf2">
        <div class="STYLE1" id="mainlf21"> 热门标签 </div>
        <div id="mainlf22">
          <ul>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
            <li><a href="#">可爱</a> <a href="#"><strong>简单</strong></a> <a href="#">动漫 </a> <a href="#"> 寂寞</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="mainrt">
      <div id="mainrt1"><?php echo $this->postInfo->getTitle();?></div>
      <div id="mainrt2">作者：<?php echo $this->postInfo->getUserName();?> 发表时间：<?php echo Util::date2string19($this->postInfo->getCreateAt());?></div>
      <div id="mianrt3">
      <div  id="mainrt31">
      <ul> 
        <li><br /> &nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->posttextInfo->getText();?><br /> &nbsp;&nbsp;&nbsp;&nbsp;金呆呆的转过身，耳里传来了演讲声“……..魔法学院是一个讲究能力的地方,只要有足够的能力,随时可以毕业。毕业考试很简单，只要能用自己的力量不带任何物品离开魔法学院，也就是说，翻越奇里麦山脉，就算毕业了，就可以获得见习魔法师的资格…….”“…….为了让大家潜心研究魔法，不被外面的事情打搅，学员们不准同外面通讯，如果想回家探亲的话，就等到毕业後再说吧……”“…..最後加一句，为了平等起见，所有没有足够钱交学费的学员，都可以在研究部门当助手打工抵学费。<br />&nbsp;&nbsp;&nbsp; 
  他向广场入口处跑去，希望在人多混乱时离开这里，赶快去参加技能学院的入学考试。“反正没人会注意多了一个人或少了一个人的，”金一边跑一边对自己说。入口处虽有几个人却没有人阻止他，金很顺利的跑到了外面，但是他马上停住了脚步，看著脚下的万丈深渊发呆。 
        </li>
      </ul>
 <?php  $flag = false;
 foreach ($this->piclists as $postpicInfo) { 
 	$flag = true;
 ?>
<!--img src="<?php echo $postpicInfo->getPicThumb(); ?>" /--><br />
<img src="http://i0.sinaimg.cn/blog/mini/U209P346T1D653F360DT20081212191809.jpg" />
 	
<?php } 
if($flag){
?>
<a href="/post/postaddpicpreview/postId/<?php echo $this->postInfo->getPostId();?>">编辑图片</a>
<?php }?>      
     </div>
     <div id="mainrt32">
     标签：百度 竞价 广告 排名</div>
</div>
      
        <div id="mainrt4">
          <label>
          <input type="image" name="imageField2" id="reply_area_a" src="/images/pw01_r4_c3.jpg" />
          </label>
          <div id="reply_area" style="display:none">
          <form action="" method="get">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="17%" height="69" rowspan="2" align="right" valign="top" class="zi1">帖子内容:</td>
              <td width="6%" height="32" class="ge1"><img src="/images/pw_r2_c3.jpg" width="18" height="20" /></td>
              <td width="7%" class="ge1"><img src="/images/pw_r2_c5.jpg" width="18" height="20" /></td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c7.jpg" width="25" height="20" /></td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c9.jpg" width="8" height="20" /></td>
              <td width="4%" class="ge1"><img src="/images/pw_r2_c11.jpg" width="17" height="20" /></td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c14.jpg" width="23" height="17" /></td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c16.jpg" width="23" height="20" /></td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c18.jpg" width="18" height="20" /></td>
              <td width="7%" class="ge1 STYLE3">插入图片</td>
              <td width="3%" class="ge1"><img src="/images/pw_r2_c20.jpg" width="16" height="20" /></td>
              <td width="9%" class="ge1"><span class="STYLE3">发起投票</span><img src="/images/pw_r2_c9.jpg" width="8" height="20" /></td>
              <td width="9%" class="ge1"><span class="STYLE3">自动排版</span><img src="/images/pw_r2_c9.jpg" width="0" height="21" /></td>
              <td width="20%" class="ge1">&nbsp;</td>
              <td width="3%" height="69" rowspan="2" align="right" valign="top" class="zi">&nbsp;</td>
            </tr>
            <tr>
              <td height="109" colspan="13" class="ge"><textarea>addddddddddddd</textarea>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="14" align="center" class="zi1"><img src="/images/pw01_r4_c3.jpg" /> </td>
            </tr>
          </table>
          </form>
          </div>
        </div>
        
        <div id="mainrt5">相关回复</div>
        


        
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ge2">
<?php if($this->childList!=null){?>
	<?php foreach ($this->childList as $postInfoChild) { 
	?>
        <tr>
          <td height="20" align="right" class="ge3">&nbsp;</td>
          <td height="20" align="right" class="ge3">
             <?php if($postInfoChild->getDepth()==1){ ?>
             <img src="/images/paowang_r19_c12.jpg" alt="" width="16" height="13" />
             <?php }else{?>
             <div style="padding-left:<?php echo (intval($postInfoChild->getDepth())-1)*20;?>px"><img src="/images/pw1125.jpg" width="19" height="16" /></div>
             <?php }?>
          </td>
          <td colspan="2" align="left" class="ge3"><a href="#" id="viewPost"><?php echo $postInfoChild->getTitle(); ?></a></td>
          <td width="17%" class="ge1"><?php echo Util::date2string19($postInfoChild->getCreateAt()); ?></td>
          <td width="11%" class="ge"><?php echo $postInfoChild->getUserName(); ?></td>
          <td width="10%" class="ge1">218</td>
          <td width="8%" class="ge1">218</td>
          <td width="10%" class="ge">5000/5000</td>
        </tr>
	<?php }?>	
<?php }?>
      </table>
      
    </div>
      
  </div>
  <div id="footer">
  <ul>
  <li>
  关于我们|服务条款|广告服务|招聘信息|客服中心|网站导航|版权保护投诉指引</li>
  <li>Copright 1998-2007,Paowang.Com.All right</li>
  </ul>
  </div>
</body>
</html>
