<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网 论坛</title>

<?php
    echo $this->render('/inc/include.phtml');
?>
</head>
<body>
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
    	
    	
<div id="member_detail">
  <div id="club_detail">
  <h2 class="club_title">帖子不存在，或者已经被删除！</h2>
  </div>  
</div><!--end of member_detail-->
  
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
</body>
</html>