<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php 
// display login info
$isUserLogin = false;
$userId = null;
$userName = null;

if(Rbm_RbmService::getInstance()->isUserLogin()){
    $isUserLogin = true;
    $userId = Util::getUserId();
    $userName = Util::getUserName();
}

$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/classic.css" type="text/css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/classic-consolidation.css" />	
<script src="<?php echo $this->resourceDir; ?>/js/paowang/classic-consolidation.js" type="text/javascript"></script>
<script type="text/javascript">
var postIdArray=new Array();
var postArray=new Array();
var canReplyPost = <?php echo $this->canReplyPost; ?>;	
$(document).ready(function(){

    $(".tree").click(function(){
           if($(this).children("img").attr("src")=="<?php echo $this->resourceDir; ?>/images/classic/next_bg.gif"){
                $(this).parent().next().next(".post_replay").css("display","none");
                $(this).children("img").attr("src","<?php echo $this->resourceDir; ?>/images/classic/title_bg.gif");//+图片
                return false;
           }else{     
                $(this).parent().next().next(".post_replay").css("display","block");
                $(this).children("img").attr("src","<?php echo $this->resourceDir; ?>/images/classic/next_bg.gif");//-图片
                return false;
           }
    });
    
    
    $("#replay_a").click(function(){
          if(!checkUserLogin()) {
            return;
          }
          if(!canReplyPost){
            popupMessageBox("只有剑的会员才可以在剑里加帖。具体请参考帮助中心。", "帖子回复");
            return;
          }
          if($("#replay_form").attr("style")=="display: none;"){
	          $("#replay_form").slideDown("slow");
	          $("#replay_form").show();     	  
	          $(".replay").hide();     	            
          }else{
			  $("#replay_form").slideUp("slow");
	          $("#replay_form").hide(); 
	          $(".replay").show();          	  
          }	  
    });
        
    //回复form取消按钮
    $("#replay_cancel").click(function(){
		  $("#replay_form").slideUp("slow");
          $("#replay_form").hide(); 
          $(".replay").show();
          return false;
    });	

    $("#tagShow").click(function(){
        if(!checkUserLogin()) {
            return;
          }
       //alert($("#tagShow").text());
       if($("#tagShow").text()=="添加标签"){
          $("#tagAddBlock").show();
          //alert("1");
          $("#tagShow").text("关闭");
       }else{
          $("#tagAddBlock").hide();
          //alert("2");
          $("#tagShow").text("添加标签");
       }   
    });    

    // popup dialog begin
    hs.graphicsDir = '<?php echo $this->resourceDir; ?>/js/highslide/graphics/';
    //hs.wrapperClassName = 'borderless';
    hs.showCredits = false;
    hs.preserveContent = false;
    hs.dynamicallyUpdateAnchors = false;
    //popup dialog end

})
	
	
	
function validate(){
    var title = document.getElementById('replyTitle');
    if(title.value.length != 0){
        return true;
    }
    
    // there are errors
    var inputErrorDisplay = document.getElementById('titleErrorDisplay');    
    title.className = 'errortextfield';
    inputErrorDisplay.style.display="";
    return false;
}

function tagAddFunction(){
    var tagInput = $.trim($("#tagInput").val());
    //alert(trimstr(tagInput,4));    
    //alert(getLength(tagInput));
    if(tagInput == ''){
        $("#msg","#tagAddBlock").text("请输入标签");
        //$("#tagShow").trigger("click");
        return;
    }

    var url = "/post/tagadd/topId/" + $("#topId").val() + "/tagInput/" + tagInput;
    //alert(url);
    $.ajax({
        type: "post",
        url: encodeURI(url),
        dataType: "text",
        success: function(value){
            $("#postTagList").html(value);
            $("#tagInput").val("");
            //$("#tagAddBlock").hide();
            //$("#tagShowButton").val("添加标签");
            //$("#tagShow").trigger("click");
        }
    });
}

//赞成和反对
function dig(flag){
    if(!checkUserLogin()) {
        return;
    }
    var url1 = "/postjudge/vote/postId/"+$("#postId").val()+"/flag/"+flag;
    //alert(url1);
    $.ajax({          
       type: "post",
          url: url1 ,
          dataType: "json" ,
          success : function(tt){
            var msg = tt.msg;
            if(msg=='0'){
               popupMessageBox("一个人只可以赞成或反对一次，您不能重复投票。");
               return false ;
            }           
            var voteyes = tt.voteyes;
            var voteno = tt.voteno;
            $("#numDigYes").text(voteyes);
            $("#numDigNo").text(voteno);
          }
    });
}

//置顶
function topping(flag){
    var topText = $("#addToTop").text();
    var flag = "1";
    if(topText == "取消置顶"){
        flag = "-1";
    }
    var finalText = "置顶";
    if(flag == "1"){
        finalText = "取消置顶";
    }
    var url = "/post/top/postId/" + $("#postId").val() + "/flag/" + flag;
    $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        success: function(value){
            $("#addToTop").text(finalText);
            popupMessageBox(topText + "成功！");
        }
    });
}	
</script>
<title><?php echo $this->postInfo->getTitle();?> - <?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?> - 泡网俱乐部</title>
<body>
<!-- message box popup container -->	
<div style="display:none;">
    <a href="" id="alert-message"
        onclick="return hs.htmlExpand(this,
            {contentId: 'message-box-container'} )">
    </a>
</div>
<div class="highslide-html-content" id="message-box-container">    
    <div class="highslide-body">
        <div id="message_box">
            <h2 class="message_box_title" id="message_box_title">&nbsp;</h2>
            <p id="message_box_content">
                Message box content.
            </p>
            <p class="login_submit">
                <input id="confirmPopup" type="image" src="<?php echo $this->resourceDir; ?>/images/ok.jpg" onclick="hs.close('alert-message');"/>
            </p>
        </div>
    </div>
</div>	
<input type="hidden" name="postId"  id="postId" value="<?php echo $this->postInfo->getPostId();?>">
<input type="hidden" name="topId"  id="topId" value="<?php echo $this->postInfo->getTopId();?>">	
<div id="wrap_detail">
  <div id="head">
    <h1><a href="/">泡网俱乐部</a></h1>
    <div class="login">
	    <?php if($isUserLogin) {?>
	      <a href="/user/userinfo/userId/<?php echo $userId;?>"><?php echo $userName;?></a>
	      |
	      <a href="/user/userinfoedit">设置</a>
	      |
	      <a id="userLogout" href="">退出</a>
	    <?php } else { ?>
	      <a href="/user/register">注册</a>|
	        <div style="display:none;">
	        <a href="" 
	            id="userLoginId"
	            onclick="return hs.htmlExpand(this, {contentId: 'login-container'} );">
	            登录
	        </a>
	        </div>
	        <a href="/user/login" onclick="return checkUserLogin();">登录</a>
	    <?php } ?>
	    |   
	    <a href="/post/view/postId/<?php echo $this->postInfo->getPostId();?>/style/fashion">阳春版</a>
    </div>
    <div class="post_nav">
    <a href="/"><img src="<?php echo $this->resourceDir; ?>/images/classic/nav/index.jpg" /></a>
    <a href="/forum"><img src="<?php echo $this->resourceDir; ?>/images/classic/nav/bbs.jpg" /></a>
    <a href="http://go.paowang.net/news/3/"><img src="<?php echo $this->resourceDir; ?>/images/classic/nav/yydg.jpg" /></a>
    <a href="http://paowang.net/blog"><img src="<?php echo $this->resourceDir; ?>/images/classic/nav/blog.jpg" /></a></div>
    <div class="wrap_detail_search">
	    <form action="http://www.google.cn/search" method="get" target="_blank">
	        <input name="domains" value="paowang.net" type="hidden" />  
	        <input name="sitesearch" value="paowang.net" type="hidden" />
	        <input name="hl" value="zh-CN" type="hidden" />
	        <input name="ie" value="utf-8" type="hidden" />
	        <input type="text" class="s_text" name="q" id="query" value=""/>
	        <input type="image" src="<?php echo $this->resourceDir; ?>/images/classic/search.gif" class="search_bnt"/>
	    </form>      		
    </div>
  </div>
  <div id="wrap_detail_main">
    <div class="post_detail">
      <h2><span id="post_title"><?php echo $this->postInfo->getTitle();?></span></h2>
      <div class="from">论坛：<a href="/<?php echo PaowangData::$forumUrlById[$this->postInfo->getForumId()];?>"  ><?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?></a><span id="post_userName">作者：<?php echo $this->postInfo->getUserName();?></span><span id="post_createAt">发表时间：<?php echo Util::date2string16($this->postInfo->getCreateAt());?> </span></div>
      <div class="post_info" >
<div id="post_piclists_div_bak" style="display:none;">
</div>	   	  
<div id="post_piclists_div">            
 <?php  
 $flag = false;
 $config = Zend_Registry::get('config');
 foreach ($this->piclists as $postpicInfo) { 
 	$flag = true;
 ?>
	 <p id="post_piclists">  
	    <img src="<?php echo $config->general->picture->url . $postpicInfo->getPicPath(); ?>" title=" <?php echo $postpicInfo->getPicDesc();?>"/>
	    <br />
	    <div id="club_detail_image_title">dsags<?php echo $postpicInfo->getPicDesc();?></div>
	    <br />
	 </p>     
 <?php }?>            
</div>      		
        <div id="post_html"><p><?php echo $this->postInfo->getHtml();?></p></div>
      </div>
      <div class="tab" style="position:relative;">
			标签：
			    <span id="postTagList">	  	  
			    <?php
			    if($this->tagArray != null){
			     foreach ($this->tagArray as $tag){ 
			      echo  '<a href="/forum/listbytagname/tagName/' . $tag["tag_name"] . '">'.$tag["tag_name"].'</a>' ;
			     } 
			    }?>
			    </span>
			    
			    <div id="tagAddBlock" style="display:none;left:50px;position:absolute;top:26px;background:#FFFFFF url(/images/portalbox_bg.gif);repeat-x scroll 0 1px;
			border:1px solid #CAD9EA;
			padding:10px;
			text-align:left; 
			">
				    <input type="text" id="tagInput"/> 
				    <span id="msg" style="color:red;"></span>	
				    <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" id="tagAddButton" onclick="tagAddFunction();"/>
			    </div> 

				  	  <a href="javascript:void(0);" id="tagShow">添加标签</a>    
      </div>
 	<div class="detail_bottom1" style="float:right;">
			  	  <p class="agreen">
					<?php
					 $canManageForum = Rbm_RbmService::getInstance()->hasPermission(Util::getUserId(), $this->postInfo->getForumId(), Rbm_RbmService::ADMIN_MANAGE_FORUM);
					 if( Rbm_RbmService::canEditPost(Util::getUserId(), $this->postInfo->getForumId(), $this->postInfo->getPostId())){
						//拥有可以编辑帖子的权限
					?>
								<?php 
								  if($this->postInfo->getStatus()==1){
								        ?>
									        <a href="/post/editpost/postId/<?php echo $this->postInfo->getPostId();?>" 
									            id="popupNewPost"
									            onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: 801, height: 550, align: 'center', wrapperClassName: 'login_highslide'} )">
									            编辑
									        </a>&nbsp;&nbsp;     
								        <?php
								        if($canManageForum){	
								           echo "<a  id='post_del' href='/post/delpost/postId/".$this->postInfo->getPostId()."'>删除</a>&nbsp;&nbsp;";
								        }
								  }else{
								        if($canManageForum){
								  	       echo "<a  id='post_undel' href='/post/undelpost/postId/".$this->postInfo->getPostId()."'>恢复帖子</a>&nbsp;&nbsp;";
								        }
								  }   
		                          if($canManageForum && $this->postInfo->getPostId()==$this->postInfo->getTopId() ){
		                          	$isTopPost = $this->postInfo->getIsCeil();
		                            $topText = "置顶";
		                            if($isTopPost){
		                                $topText = "取消置顶";
		                            }
		                            echo '<a id="addToTop" href="#" onclick="topping();return false;">' . $topText . '</a>&nbsp;&nbsp;';				  
								  }
								  if($canManageForum){    
								      echo "<a id='post_managetag' href='/post/managetag/postId/".$this->postInfo->getPostId()."'>管理标签</a>&nbsp;&nbsp;";
								  }
								?>
					<?php }?>	  	  
			  	  <a href="javascript:dig(1);">顶</a> <span id="numDigYes"><?php echo $this->digYes; ?></span> / <a href="javascript:dig(-1);">踩</a> <span id="numDigNo"><?php echo $this->digNo; ?></span>
			  	  </p>
		</div>    
      <div style="clear:both;" />					  
<div class="detail_under_bottom"  style="float:right;">	
<p id="post_updateinfo">	  	  
<?php if($this->postInfo->getUpdateUserId()>0){ ?>
<?php echo $this->postInfo->getUpdateUserName()?>于<?php echo Util::date2string16($this->postInfo->getUpdateAt())?>编辑
<?php } ?>  
</p>
</div>					  
      <div style="clear:both;" />
      <div style="float:left;"><a id="replay_a" href="javascript:void(0);"><img src="<?php echo $this->resourceDir; ?>/images/classic/repay_bnt.jpg" /></a></div>
          <div style="clear:both;" />
  <div id="replay_form" style="display:none;">    
    <form id="replyForm" name="replyForm" method="post" action="/post/replypost" onsubmit="return validate();">
      <input type="hidden" name="parentId"  id="parentId" value="<?php echo $this->postInfo->getPostId();?>">    
          <span class="write_reply">发表回复</span>
          <input name="replyTitle" id="replyTitle" type="text" size="80" value="回复：<?php echo $this->postInfo->getTitle(); ?>">
          <div style="display:none" id="titleErrorDisplay">
            <span id="titleError" style="color:red">请输入题目</span>
          </div> 
          <script type="text/javascript">
            var oFCKeditor = new FCKeditor('replyText');
            oFCKeditor.BasePath = "/js/fckeditor/";
            oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
            oFCKeditor.ToolbarSet = 'Paowang' ;
            oFCKeditor.Create();
            </script>  		  
		  <div class="bnt_submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/reply.jpg" />&nbsp;<input type="image"  id="replay_cancel" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" /></div>
	</form>
  </div>
    
      <div style="clear:both;" />
      <div class="reply"><img src="<?php echo $this->resourceDir; ?>/images/classic/replay_c.jpg" class="content_reply" style="padding-left:0px;"/> </div>

      <div class="reply_list">
<?php
        if($this->childList!=null){
        	$i=0;
            foreach ($this->childList as $postInfoChild) {
			//echo $this->forumChildPost($postInfoChild);
	           if($postInfoChild->getDepth()==1){  
	              echo $this->classicForumMainPost($postInfoChild, true); 
               }else{
               	  if($i==1){ 
               	     echo "<div class=\"post_replay\">"; 
               	  }
				  echo $this->classicForumChildPost($postInfoChild); 
               	  if(  $i==count($this->childList)-1){ 
               	     echo "</div>"; 
               	  }				                 	  
               }
               $i++;	   
?>
	<script>
		postIdArray.push(<?php echo $postInfoChild->getPostId();?>);
	</script>
<?               
            }
        }
?>

</div>
</div>	
      </div>
    </div>
  </div>
    
  <a href="#post_top" id="goto_post_top"></a>
<script type="text/javascript">
$(document).ready(function(){
    var pageTitle = ' - ' + '<?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?>' + '- 泡网俱乐部';
    //当前帖子链接粗体
    var currentPostId = $("#postId").val();
    $("#post" + currentPostId).addClass('current_view_post');
    
	$(".posts").bind("click",function(){
	    var postId = $(this).attr("id");

	    var intPostId = postId.substring(4);
	    if(postArray[postId]==undefined){
	  	   var url = "/post/jsonget/postId/"+intPostId;
		   $.ajax({
		        type: "post",
		        url: url,
		        dataType: "json",
		        async: false ,
		        success: function(data){
	               postArray["post"+intPostId]=data;
		        }
		   });  	  	
	    }
	    //刷新页面数据 开始
	  	$("#post_title").text(postArray[postId].postInfo.title);

	  	$("#post_userName").html("作者：<a href='/user/userinfo/userId/"+postArray[postId].postInfo.userId+"'>"+postArray[postId].postInfo.userName+"</a>");
	    $("#post_createAt").html("发表时间："+postArray[postId].postInfo.createAt16);
	    //$("#post_html").empty();
	    if($("#post_piclists_div").html()!=''){
	    	//如果图片部分不为空，则备份一下，等再看主帖的时候再显示出来
	    	//$("#post_piclists_div_bak").html($("#post_piclists_div").html());
	    	$("#post_piclists_div").html("");//清空图片
	    }
	    if(postArray[postId].postInfo.postId==$("#topId").val()){
	    	//主贴的时候显示图片部分
	    	$("#post_piclists_div").html($("#post_piclists_div_bak").html());
	    }	
	    //alert($("#post_piclists_div").html());

	    //alert($("#post_piclists_div").html());
	    $("#post_html").html(postArray[postId].postInfo.html);
	    var oldPostId = $("#postId").val();
	    $("#postId").val(postArray[postId].postInfo.postId);
	    if(postArray[postId].postInfo.updateUserId>0){
	       $("#post_updateinfo").html(postArray[postId].postInfo.updateUserName+"编辑于"+postArray[postId].postInfo.updateAt16);	
	    }else{
	       $("#post_updateinfo").empty();	
	    }
	    if(postArray[postId].postInfo.postId==$("#topId").val() && postArray[postId].isManage){
	       $("#post_ceil").show();	
	    }else{
	       $("#post_ceil").hide();	
	    }
	    if(postArray[postId].isManage){
		    $("#post_edit").show();
		    $("#popupNewPost").attr("href","/post/editpost/postId/"+postArray[postId].postInfo.postId);
		    $("#post_del").attr("href","/post/delpost/postId/"+postArray[postId].postInfo.postId);
		    $("#post_undel").attr("href","/post/undelpost/postId/"+postArray[postId].postInfo.postId);
	    }else{
	    	$("#post_edit").hide();
	    }   
	    $("#parentId").val(postArray[postId].postInfo.postId);
	    $("#replyTitle").val("回复："+postArray[postId].postInfo.title);
	    document.title = postArray[postId].postInfo.title + pageTitle;
	    //刷新页面数据 结束

  	    $("#goto_post_top").click();//回到页面顶部
  	    
  	    //当前帖子变成粗体
  	    $("#post" + oldPostId).removeClass('current_view_post');
  	    $("#" + postId).addClass('current_view_post');
  	    
  	    //更新点击数
  	    $.ajax({
                url: '/post/click/postId/' + intPostId,
                dataType: "json",
                type: "get",
                success: function(data){
                }
           }); 
  	    return false;
	});
	//alert(postIdArray.join(","));
	
//    for(var i=0;i<postIdArray.length;i++){
//	   var url = "/post/jsonget/postId/"+postIdArray[i];
//	   $.ajax({
//	        type: "post",
//	        url: url,
//	        dataType: "json",
//	        success: function(data){
//               postArray["post"+data.postInfo.postId]=data;
//	        }
//	   });       	
//    }

       var url = "/post/jsongetbytopid/topId/"+$("#topId").val();
	   $.ajax({
	        type: "post",
	        url: url,
	        dataType: "json",
	        success: function(data_array){
               $.each(data_array.postArray,function(){
                  //alert(this.postInfo.postId);
                  postArray["post"+this.postInfo.postId]=this;
               });
               var html = "";
               
               $.each(data_array.piclists,function(){
                  //alert(this.postInfo.postId);
                  //postArray["post"+this.postInfo.postId]=this;
				html +="<p id=\"post_piclists\">";
				html +="				    <img src=\"" +data_array.preurl+this.picPath+"\" title=\""+this.picDesc+"\"/>";
				html +="				    <br />";
				html +="				    <div id=\"club_detail_image_title\">"+this.picDesc+"</div>";
				html +="				    <br />";
				html +="				 </p>";
				html +=" ";
               });
               $("#post_piclists_div_bak").html(html);
	        }
	   });      
    
    
    
});



$(document).ready(function(){
  $('a[href*=#]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top;
        $('html,body').scrollTop(targetOffset);
       return false;
      }
    }
  });
});
</script>  
	    
  <div id="bottom">
    <div class="b_nav"><a href="#">关于我们</a>|<a href="#">隐私保护</a>|<a href="#">注册说明</a>|<a href="#">使用说明</a>|<a href="#">帮助中心</a>|<a href="#">联系我们</a></div>
    <p>正在备案中</p>
    <p>Copyright © 1998-2013, Paowang.Net All Rights Reserved</p>
  </div>
</div>
</body>
</html>
