<?php
if($this->internalForum == true){
    echo $this->render('/index/loginrequired.phtml');
    return;
}
if($this->style=='classic'){
    echo $this->render('/post/viewclassic.phtml');
    return ;
}  
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->postInfo->getTitle();?> - <?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?> - 泡网俱乐部</title>
<?php
$keywords = $this->postInfo->getTitle();
if($this->tagArray != null){
  foreach ($this->tagArray as $tag){ 
     $keywords .= ",".$tag["tag_name"] ;
  }
} 
?>
<meta name=keywords content="<?php echo $keywords;?>">
<meta name=description content="<?php echo $this->postInfo->getTitle();?>">

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>
<body>
<input type="hidden" name="postId"  id="postId" value="<?php echo $this->postInfo->getPostId();?>">
<input type="hidden" name="topId"  id="topId" value="<?php echo $this->postInfo->getTopId();?>">
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
    	
<script type="text/javascript">
var postIdArray=new Array();
var postArray=new Array();
var canReplyPost = <?php echo $this->canReplyPost; ?>;
$(document).ready(function(){
	$("form#replyForm").submit(function(){
		$(":submit",this).attr("disabled","disabled");
		return false;
    });

    $(".content_next").prev().children(".li_1").find("img").attr("src","<?php echo $this->resourceDir; ?>/images/title_bg.jpg");

   
    $(".content_list .li_1 a").toggle(function(){
        if($(this).parents("ul").next().attr("class")=="content_next"){
        $(this).parents("ul").css("border-bottom","none");
        $(this).parents("ul").next().css("display","block");
        $("img",this).attr("src","<?php echo $this->resourceDir; ?>/images/next_bg.jpg");
        }
    },
    function(){
        if($(this).parents("ul").next().attr("class")=="content_next"){
        $(this).parents("ul").css("border-bottom","1px solid #ececec");
        $(this).parents("ul").next().css("display","none");
        $("img",this).attr("src","<?php echo $this->resourceDir; ?>/images/title_bg.jpg");
        }
    });
    
    $("#replay_a").click(function(){
          if(!checkUserLogin()) {
            return;
          }
          if(!canReplyPost){
            popupMessageBox("只有剑的会员才可以在剑里加帖。具体请参考帮助中心。", "帖子回复");
            return;
          }
          $("#replay_form").slideDown("slow");
          $("#replay_form").show();     	  
          $(".replay").hide();     	            
    });  	  

/*


*/    
    //回复form取消按钮
    $("#replay_cancel").click(function(){
		  $("#replay_form").slideUp("slow");
          $("#replay_form").hide(); 
          $(".replay").show();
          return false;
    });	
/*    
    $("#tagShow").toggle(
       function(){
          $("#tagAddBlock").show();
          alert("1");
          $("#tagShow").text("关闭");
          return false;
       },function(){
          $("#tagAddBlock").hide();
          alert("2");          
          $("#tagShow").text("添加标签");
          return false;
       }
    );
  */  
    $("#tagShow").click(function(){
        if(!checkUserLogin()) {
            return;
          }
       //alert($("#tagShow").text());
       if($("#tagShow").text()=="添加标签"){
          $("#tagAddBlock").show();
          //alert("1");
          $("#tagShow").text("关闭");
       }else{
          $("#tagAddBlock").hide();
          //alert("2");
          $("#tagShow").text("添加标签");
       }   
    });    

    // popup dialog begin
    hs.graphicsDir = '<?php echo $this->resourceDir; ?>/js/highslide/graphics/';
    //hs.wrapperClassName = 'borderless';
    hs.showCredits = false;
    hs.preserveContent = false;
    hs.dynamicallyUpdateAnchors = false;
    //popup dialog end
});

function validate(){
    if(!WebKitDetect.isMobile() ) {
      var oEditor = FCKeditorAPI.GetInstance('replyText');
      $("#replyText").val(oEditor.GetXHTML(true));
    }
    var title = document.getElementById('replyTitle');
    if(title.value.length == 0){
	    var inputErrorDisplay = document.getElementById('titleErrorDisplay');    
	    title.className = 'errortextfield';
	    inputErrorDisplay.style.display="";
	    return false;
    }
    $("#replyForm").ajaxSubmit({success: handleSuccess, dataType: 'json'});
    $("#reply_button").attr("disabled","disabled");
}

function handleSuccess(data){
        	if(!data.success){
        		//null
               popupMessageBox(data.messages.message);
               return false ;        		
        	}else{
        		//alert(data.messages.postId);
        		document.location.href="/post/"+data.messages.postId;
            }
}            

function tagAddFunction(){
    var tagInput = $.trim($("#tagInput").val());
    //alert(trimstr(tagInput,4));    
    //alert(getLength(tagInput));
    if(tagInput == ''){
        $("#msg","#tagAddBlock").text("请输入标签");
        //$("#tagShow").trigger("click");
        return;
    }

    var url = "/post/tagadd/topId/" + $("#topId").val() + "/tagInput/" + tagInput;
    //alert(url);
    $.ajax({
        type: "post",
        url: encodeURI(url),
        dataType: "text",
        success: function(value){
        	if(value=='false'){
        		//null
               popupMessageBox("此用户没有激活或已经被关闭,您不能再增加标签");
               return false ;        		
        	}else{	
	            $("#postTagList").html(value);
	            $("#tagInput").val("");
            }
            //$("#tagAddBlock").hide();
            //$("#tagShowButton").val("添加标签");
            //$("#tagShow").trigger("click");
        }
    });
}

//赞成和反对
function dig(flag){
    if(!checkUserLogin()) {
        return;
    }
    var url1 = "/postjudge/vote/postId/"+$("#postId").val()+"/flag/"+flag;
    //alert(url1);
    $.ajax({          
       type: "post",
          url: url1 ,
          dataType: "json" ,
          success : function(tt){
            var msg = tt.msg;
            if(msg=='0'){
               popupMessageBox("一个人只可以赞成或反对一次，您不能重复投票。");
               return false ;
            }           
            var voteyes = tt.voteyes;
            var voteno = tt.voteno;
            $("#numDigYes").text(voteyes);
            $("#numDigNo").text(voteno);
          }
    });
}

//置顶
function topping(flag){
    var topText = $("#addToTop").text();
    var flag = "1";
    if(topText == "取消置顶"){
        flag = "-1";
    }
    var finalText = "置顶";
    if(flag == "1"){
        finalText = "取消置顶";
    }
    var url = "/post/top/postId/" + $("#postId").val() + "/flag/" + flag;
    $.ajax({
        type: "post",
        url: url,
        dataType: "json",
        success: function(value){
            $("#addToTop").text(finalText);
            popupMessageBox(topText + "成功！");
        }
    });
}

</script>    	
    	
<div id="member_detail">
  <div id="club_detail">
 <a name="post_top" id="post_top"></a>
  <h2 class="club_title"><span id="post_title"><?php echo $this->postInfo->getTitle();?></span></h2>
  <div class="from">论坛：<a href="/<?php echo PaowangData::$forumUrlById[$this->postInfo->getForumId()];?>"  ><?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?></a><span id="post_userName">作者：<?php echo $this->postInfo->getUserName();?></span><span id="post_createAt">发表时间：<?php echo Util::date2string16($this->postInfo->getCreateAt());?></span> </div>
  <div id="club_text">  
<div id="post_piclists_div_bak" style="display:none;">
</div>	   	  
<div id="post_piclists_div">
 <?php  
 $flag = false;
 $config = Zend_Registry::get('config');
 foreach ($this->piclists as $postpicInfo) { 
 	$flag = true;
 ?>
	 <p id="post_piclists">  
	    <img src="<?php echo $config->general->picture->url . $postpicInfo->getPicPath(); ?>" title=" <?php echo $postpicInfo->getPicDesc();?>"/>
	    <br />
	    <div id="club_detail_image_title"><?php echo $postpicInfo->getPicDesc();?></div>
	    <br />
	 </p>     
 <?php }?>

</div><!--end of post_piclists_div--> 	 	  
  <div id="post_html"><?php echo $this->postInfo->getHtml();?></div> 
  </div>  
<div class="detail_bottom">标签：
    <span id="postTagList">	  	  
    <?php
    if($this->tagArray != null){
     foreach ($this->tagArray as $tag){ 
      echo  '<a href="/forum/listbytagname/tagName/' . $tag["tag_name"] . '">'.$tag["tag_name"].'</a>' ;
     } 
    }?>
    </span>
    
    <div id="tagAddBlock" style="display:none;left:50px;position:absolute;top:26px;background:#FFFFFF url(images/portalbox_bg.gif);repeat-x scroll 0 1px;
border:1px solid #CAD9EA;
padding:10px;
text-align:left; 
">
	    <input type="text" id="tagInput"/> 
	    <span id="msg" style="color:red;"></span>	
	    <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" id="tagAddButton" onclick="tagAddFunction();"/>
    </div> 

	  	  <a href="javascript:void(0);" id="tagShow">添加标签</a>
	  	  

</div>    

<div class="detail_bottom1">

	  	  <p class="agreen">
			<?php
			 $canManageForum = Rbm_RbmService::getInstance()->hasPermission(Util::getUserId(), $this->postInfo->getForumId(), Rbm_RbmService::ADMIN_MANAGE_FORUM);
			 if( Rbm_RbmService::canEditPost(Util::getUserId(), $this->postInfo->getForumId(), $this->postInfo->getPostId())){
				//拥有可以编辑帖子的权限
			?>
						<?php 
						  if($this->postInfo->getStatus()==1){
						        ?>
							        <a href="/post/editpost/postId/<?php echo $this->postInfo->getPostId();?>" 
							            id="popupNewPost"
							            onclick="return hs.htmlExpand(this, { objectType: 'iframe', width: 801, height: 550, align: 'center', wrapperClassName: 'login_highslide'} )">
							            编辑
							        </a>&nbsp;&nbsp;     
						        <?php
						        if($canManageForum){	
						           echo "<a  id='post_del' href='/post/delpost/postId/".$this->postInfo->getPostId()."'>删除</a>&nbsp;&nbsp;";
						        }
						  }else{
						        if($canManageForum){
						  	       echo "<a  id='post_undel' href='/post/undelpost/postId/".$this->postInfo->getPostId()."'>恢复帖子</a>&nbsp;&nbsp;";
						        }
						  }   
                          if($canManageForum && $this->postInfo->getPostId()==$this->postInfo->getTopId() ){
                          	$isTopPost = $this->postInfo->getIsCeil();
                            $topText = "置顶";
                            if($isTopPost){
                                $topText = "取消置顶";
                            }
                            echo '<a id="addToTop" href="#" onclick="topping();return false;">' . $topText . '</a>&nbsp;&nbsp;';				  
						  }
						  if($canManageForum){    
						      echo "<a id='post_managetag' href='/post/managetag/postId/".$this->postInfo->getPostId()."'>管理标签</a>&nbsp;&nbsp;";
						  }
						?>
			<?php }?>	  	  
	  	  <a href="javascript:dig(1);">顶</a> <span id="numDigYes"><?php echo $this->digYes; ?></span> / <a href="javascript:dig(-1);">踩</a> <span id="numDigNo"><?php echo $this->digNo; ?></span>
	  	  </p>
</div>    
	
<div class="detail_under_bottom">	
<p id="post_updateinfo">	  	  
<?php if($this->postInfo->getUpdateUserId()>0){ ?>
<?php echo $this->postInfo->getUpdateUserName()?>于<?php echo Util::date2string16($this->postInfo->getUpdateAt())?>编辑
<?php } ?>  
</p>
</div>

  <div class="replay"><a href="javascript:void(0);" id="replay_a"><img src="<?php echo $this->resourceDir; ?>/images/reply.jpg" /></a></div>
  <div id="replay_form">
<form id="replyForm" name="replyForm" method="post" action="/post/replypost">
      <input type="hidden" name="parentId"  id="parentId" value="<?php echo $this->postInfo->getPostId();?>">    
          <span class="write_reply">发表回复</span>
          <input name="replyTitle" id="replyTitle" type="text" size="80" value="回复：<?php echo $this->postInfo->getTitle(); ?>">
          <div style="display:none" id="titleErrorDisplay">
            <span id="titleError" style="color:red">请输入题目</span>
          </div> 
			<textarea id="replyText" name="replyText"></textarea>      
          <script type="text/javascript">
$(document).ready(function(){      

                    if(!WebKitDetect.isMobile() ) {
                        var oFCKeditor = new FCKeditor('replyText');
                        oFCKeditor.BasePath = "/js/fckeditor/";
                        oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
                        oFCKeditor.ToolbarSet = 'Paowang' ;
                        oFCKeditor.ReplaceTextarea();
                    }else{
                        $("#replyText").css("width","500px");
                        $("#replyText").css("height","270px"); 
	   	    }
	});
            </script>  		  
		  <div class="bnt_submit"><input type="image" id="reply_button" src="<?php echo $this->resourceDir; ?>/images/reply.jpg" onclick="validate();"  />&nbsp;<input type="image"  id="replay_cancel" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" /></div>
	</form>
	  
  </div>

<div id="club_detail_reply">
<div id="right_header">
    <ul>
      <li class="ul_li_1"><a href="#">相关回复</a></li>
    </ul>
</div>
</div>
<div id="club_content">
        <ul id="content_top">
          <li class="li_1">标题</li>
          <li class="li_3">作者</li>
          <li class="li_4">时间</li>
          <li class="li_5">长度</li>
          <li class="li_6">点击</li>
          <li class="li_7">评价</li>
        </ul>
        
<?php
        if($this->childList!=null){
            foreach ($this->childList as $postInfoChild) {
			//echo $this->forumChildPost($postInfoChild);
?>                
<script>
postIdArray.push(<?php echo $postInfoChild->getPostId();?>);
</script>
		        <ul class="content_list">
		          <li class="li_1"><a href="" target="_self">
                   <?php if($postInfoChild->getDepth()==1){ ?>		             
		             <img src="<?php echo $this->resourceDir; ?>/images/next_bg.jpg" />
		           <?php }?>
		           </a></li>
		          <li class="li_2">
		          
		          <?php if($postInfoChild->getDepth()>1){ ?>
                      <span style="padding-left:<?php echo (intval($postInfoChild->getDepth())-2)*13;?>px;">&nbsp;</span><img src="<?php echo $this->resourceDir; ?>/images/small_title.gif" /><?php }?>
                  <a href="/post/<?php echo $postInfoChild->getPostId();?>" class="posts" id="post<?php echo $postInfoChild->getPostId();?>"
                      title="<?php echo $postInfoChild->getTitle();?>">
		          <?php echo $postInfoChild->getTitle(); ?>
		          </a>
		          </li>
		          <li class="li_3"><?php echo $postInfoChild->getUserName(); ?>&nbsp;</li>
		          <li class="li_4"><?php echo Util::date2string16($postInfoChild->getCreateAt()); ?></li>
		          <li class="li_5"><?php echo $postInfoChild->getTextLength(); ?> </li>
		          <li class="li_6"><?php echo $postInfoChild->getClick(); ?></li>
		          <li class="li_7"><?php echo $postInfoChild->getVoteYes(); ?>/<?php echo $postInfoChild->getVoteNo(); ?></li>
		        </ul>

<?            }
        }
?>        

      </div>
  </div>
  <a href="#post_top" id="goto_post_top"></a>
 
  </div><!--end of member_detail-->
<script type="text/javascript">
$(document).ready(function(){
    var pageTitle = ' - ' + '<?php echo PaowangData::$orderedForumsById[$this->postInfo->getForumId()];?>' + '- 泡网俱乐部';
    //当前帖子链接粗体
    var currentPostId = $("#postId").val();
    $("#post" + currentPostId).addClass('current_view_post');
    
	$(".posts").bind("click",function(){
	    var postId = $(this).attr("id");
	    var intPostId = postId.substring(4);
	    if(postArray[postId]==undefined){
	  	   var url = "/post/jsonget/postId/"+intPostId;
		   $.ajax({
		        type: "post",
		        url: url,
		        dataType: "json",
		        async: false ,
		        success: function(data){
	               postArray["post"+intPostId]=data;
		        }
		   });  	  	
	    }
	    //刷新页面数据 开始
	  	$("#post_title").text(postArray[postId].postInfo.title);
	  	$("#post_userName").html("作者：<a href='/user/userinfo/userId/"+postArray[postId].postInfo.userId+"'>"+postArray[postId].postInfo.userName+"</a>");
	    $("#post_createAt").html("发表时间："+postArray[postId].postInfo.createAt16);
	    //$("#post_html").empty();
	    if($("#post_piclists_div").html()!=''){
	    	//如果图片部分不为空，则备份一下，等再看主帖的时候再显示出来
	    	//$("#post_piclists_div_bak").html($("#post_piclists_div").html());
	    	$("#post_piclists_div").html("");//清空图片
	    }
	    if(postArray[postId].postInfo.postId==$("#topId").val()){
	    	//主贴的时候显示图片部分
	    	$("#post_piclists_div").html($("#post_piclists_div_bak").html());
	    }	
	    //alert($("#post_piclists_div").html());

        $("#numDigYes").text(postArray[postId].postInfo.voteYes);
        $("#numDigNo").text(postArray[postId].postInfo.voteNo);
	    //alert($("#post_piclists_div").html());
	    $("#post_html").html(postArray[postId].postInfo.html);
	    var oldPostId = $("#postId").val();
	    $("#postId").val(postArray[postId].postInfo.postId);
	    if(postArray[postId].postInfo.updateUserId>0){
	       $("#post_updateinfo").html(postArray[postId].postInfo.updateUserName+"编辑于"+postArray[postId].postInfo.updateAt16);	
	    }else{
	       $("#post_updateinfo").empty();	
	    }
	    if(postArray[postId].postInfo.postId==$("#topId").val() && postArray[postId].isManage){
	       $("#post_ceil").show();	
	    }else{
	       $("#post_ceil").hide();	
	    }
	    if(postArray[postId].isManage){
		    $("#post_edit").show();
		    $("#popupNewPost").attr("href","/post/editpost/postId/"+postArray[postId].postInfo.postId);
		    $("#post_del").attr("href","/post/delpost/postId/"+postArray[postId].postInfo.postId);
		    $("#post_undel").attr("href","/post/undelpost/postId/"+postArray[postId].postInfo.postId);
	    }else{
	    	$("#post_edit").hide();
	    }   
	    $("#parentId").val(postArray[postId].postInfo.postId);
	    $("#replyTitle").val("回复："+postArray[postId].postInfo.title);
	    document.title = postArray[postId].postInfo.title + pageTitle;
	    //刷新页面数据 结束
  	    $("#goto_post_top").click();//回到页面顶部
  	    
  	    //当前帖子变成粗体
  	    $("#post" + oldPostId).removeClass('current_view_post');
  	    $("#" + postId).addClass('current_view_post');
  	    
  	    //更新点击数
  	    $.ajax({
                url: '/post/click/postId/' + intPostId,
                dataType: "json",
                type: "get",
                success: function(data){
                }
           });  
  	    return false;
	});
	//alert(postIdArray.join(","));
	
//    for(var i=0;i<postIdArray.length;i++){
//	   var url = "/post/jsonget/postId/"+postIdArray[i];
//	   $.ajax({
//	        type: "post",
//	        url: url,
//	        dataType: "json",
//	        success: function(data){
//               postArray["post"+data.postInfo.postId]=data;
//	        }
//	   });       	
//    }

       var url = "/post/jsongetbytopid/topId/"+$("#topId").val();
	   $.ajax({
	        type: "post",
	        url: url,
	        dataType: "json",
	        success: function(data_array){
               $.each(data_array.postArray,function(){
                  //alert(this.postInfo.postId);
                  postArray["post"+this.postInfo.postId]=this;
               });
               var html = "";
               
               $.each(data_array.piclists,function(){
                  //alert(this.postInfo.postId);
                  //postArray["post"+this.postInfo.postId]=this;
				html +="<p id=\"post_piclists\">";
				html +="				    <img src=\"" +data_array.preurl+this.picPath+"\" title=\""+this.picDesc+"\"/>";
				html +="				    <br />";
				html +="				    <div id=\"club_detail_image_title\">"+this.picDesc+"</div>";
				html +="				    <br />";
				html +="				 </p>";
				html +=" ";
               });
               $("#post_piclists_div_bak").html(html);
	        }
	   });      
    
    
    
});


$(document).ready(function(){
  $('a[href*=#]').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname) {
      var $target = $(this.hash);
      $target = $target.length && $target
      || $('[name=' + this.hash.slice(1) +']');
      if ($target.length) {
        var targetOffset = $target.offset().top;
        $('html,body').scrollTop(targetOffset);
       return false;
      }
    }
  });
});
</script>  
<script>document.body.focus();</script>	
  <div id="bottom">
          <div class="clear"></div>
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

</body>
</html>
