body {
	background:#393939;
	color:#BABABA;
}
blockquote, pre {
	background:#525252;
	border-left:5px solid #3E3E3E;
	border-bottom:1px solid #525252;
	padding:5px 10px 4px 10px;
}
a {
	color:#EEEEEC;
}
textarea, .textfield {
	border:1px solid #3E3E3E;
	padding:3px;
	font-size:12px;
}
textarea {
	background:#838383 url(textarea_background.png) repeat-x;
	color:#FFF;
}
.textfield {
	background:#686868 url(textfield_background.png) repeat-x;
	color:#FFF;
}
.valid {
	color:#fff;
}
.invalid {
	color:#b8b8b8;
}
.button, 
a#cancel-comment-reply-link {
	background:#3F3F3F;
	border-color:#737373 #272727 #272727 #737373;
	color:#898989 !important;
	color:#DDD;
}
.button:hover, 
a#cancel-comment-reply-link:hover {
	background:#333;
	border-color:#272727 #333 #333 #272727;
	color:#DDD !important;
}
.sided, 
.wp-caption {
	background:#525252;
	border:1px solid #2F2F2F;
}
a .sided:hover {
	background:#787878;
}
.boxcaption, 
.box, 
#related_posts, 
#related_posts ul li {
	border-color:#3E3E3E;
	background:#525252;
}
.boxcaption h3, 
#related_posts h3 {
	background:#3E3E3E;
}
.messagebox .content {
	background:#525252;
}
.bottom_separator {
	border-bottom:1px dashed #787878;
}

/* header START */
#header {
	border-bottom:1px solid #343434;
}
#header .inner {
	background:#4f4f4f;
	border-bottom:1px solid #606060;
}
#header .caption {
	border-color:#3E3E3E;
}
#title a {
	color:#999;
	text-decoration:none;
}
#title a:hover {
	color:#CCC;
}
#tagline {
	color:#787878;
}
#navigation li a {
	border-color:#777;
}
#searchbox .textfield {
	background:#fff url(search_background.gif) no-repeat left;
	background-position:0 0 !important;
	background-position:0 -21px;
}
#searchbox .textfield:focus {
	background-position:0 -21px !important;
}
#searchbox .searchtip {
	color:#999;
}
#navigation li a#feed img {
	background-image:url(feed_switch.gif);
}
#navigation li a#twitter img {
	background-image:url(twitter_switch.gif);
}
/* header END */

/* submenu START */
#navigation li ul {
	background:#606060;
	border-color:#393939;
}
/* submenu END */

/* main START */
#container {
	background:#525252 url(background.jpg) repeat;
}
#content {
	background:#606060 url(content_background.gif) repeat-y top right;
	border-top:1px solid #393939;
	border-left:1px solid #393939;
	border-bottom:1px solid #2F2F2F;
	border-right:1px solid #2F2F2F;
}
#bottom .postnav {
	border-top:1px dashed #787878;
}
#bottom .anchor span {
	background:url(go_top.gif) no-repeat left center;
}
#notice {
	border:1px solid #393939;
}
#notice .inner {
	background:#4B4B4B;
	border-top:1px solid #787878;
	border-right:1px solid #515151;
	border-bottom:1px solid #515151;
	border-left:1px solid #787878;
}
#notice .icon {
	background:url(notice.gif) no-repeat top left;
}
#notice .content .separator {
	border-right:1px solid #787878;
}
#main {
	padding-right:14px;
	padding-left:14px;
	border-top:1px solid #787878;
	border-left:1px solid #787878;
	border-right:1px solid #2F2F2F;
}
.post .title h2 {
	color:#EEEEEC;
	padding-bottom:3px;
	border-bottom:1px solid #494949;
}
.post .comments {
	background:url(comment.gif) no-repeat bottom left;
}
.post .title a {
	color:#EEEEEC;
	text-decoration:none;
}
.post .title a:hover {
	color:#CCC;
}
.post .info {
	border-top:1px solid #787878;
}
.post .content table {
	background:#666;
	border-color:#2A2A2A;
}
.post .content th, 
.post .content td {
	border-color:#2A2A2A;
}
.post .content tr.even td {
	background:#555;
}
.post .content th {
	background:#444;
}
/* main END */

/* sidebar START */
#sidebar {
	background:#4b4b4b;
	border-top:1px solid #787878;
	border-left:1px solid #787878;
}
#sidebar h3, 
.widget .showcase {
	background:#525252;
}
#sidebar a h3 {
	color:#BABABA;
}
#styleswitcher, #sidebar a:hover h3 {
	background:#686868;
}
#styleswitcher span.color {
	background:#4f4f4f;
	border:1px solid #aaa;
}
#styleswitcher #style-black {
	margin-top:0px;
}
#styleswitcher #style-black a img {
	background:#4f4f4f;
	width:12px;
	height:12px;
}
.widget ul li {
	border-bottom:1px solid #525252;
}
.widget ul li ul li {
	border-top:1px solid #525252;
}
.sidedate {
	color:#999;
}
/* sidebar END */

/* footer START */
#footer {
	border-top:1px solid #343434;
}
#footer .inner {
	background:#393939;
	border-top:1px solid #494949;
}
/* footer END */

/* comments START */
.commentlist .comment {
	background:#464646;
	border-color:#393939;
}
.userinfo {
	background:#3E3E3E;
	border-bottom:1px solid #393939;
}
.userinfo .userpic img {
	border:1px solid #FFF;
	background-color:#FFF;
}
#comments_rss {
	background:url(feed.gif) no-repeat top left;
}
#trackbacks {
	border-color:#2F2F2F;
}
#trackbacks .caption {
	background:#525252;
}
#trackbacks li {
	border-color:#3E3E3E;
}
/* comment END */

/* calendar START */
#calendar_wrap {
	background:#525252;
}
#wp-calendar th {
	background:#686868;
}
/* calendar END */

/* wp-pagenavi START */
.wp-pagenavi a:hover {
	background:#686868;
}
.wp-pagenavi span.current {
	background:#525252;
}
/* wp-pagenavi END */

/* wp-recentcomments START */
.rc_item .rc_avatar img {
	background:#FFF;
	border-color:#FFF;
}
/* wp-recentcomments END */

/* wp-syntax START */
.wp_syntax {
	color:#333;
	background:#CCC;
	border:1px solid #999;
}
.wp_syntax .line_numbers {
	color:#FFF;
	background:#999;
}
/* wp-syntax END */
