<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->forumName; ?> - 泡网俱乐部</title>
<meta name=keywords content="<?php echo $this->forumName; ?>">
<meta name=description content="<?php echo $this->forumName; ?>">

<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/classic-consolidation.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-ie6.css" />
<![endif]-->

<script src="<?php echo $this->resourceDir; ?>/js/paowang/classic-consolidation.js" type="text/javascript"></script>

<style type="text/css">
.jsg_upload_block {
    height: auto;
    width: auto;
    position: relative;
    padding-left: 127px;
    width: 550px;
    line-height: 22px;
    margin-top: 15px;
}
.jsg_image_preview {
    float: left; 
    background: url() no-repeat center 50%; 
    width: 160px; 
    height: 120px; 
    border: solid 1px #cccccc; 
    margin: 0px 5px 25px;}
</style>