<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php
    echo $this->render('/forumclassic/forumheaderclassic.phtml');
?>

<script type="text/javascript">
$(document).ready(function(){
    hs.marginBottom = 105;
    //hs.dimmingOpacity = 0.9;
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        slideshowGroup: 'slideshow',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .9,
            position: 'bottom center',
            hideOnMouseOut: true
        },
        thumbstrip: {
            position: 'bottom center',
            mode: 'horizontal',
            relativeTo: 'viewport'
        }
        
    }); 
});
</script>

</head>
<?php 
$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  
<body id="<?php echo $forumUrl;?>">
<div id="<?php echo $forumUrl;?>_ph">
<div class="<?php echo $forumUrl;?>_head" id="head">
	<?php
	    echo $this->render('/forumclassic/top.phtml');
	?>
</div>

<div id="<?php echo $forumUrl;?>_main">
  <div id="<?php echo $forumUrl;?>_main_left">
    <ul class="menu">
        <?php
            echo $this->render('/forumclassic/leftforum.phtml');
        ?>
    </ul>
    <div class="b_menu">
      	<?php
      	   $config = Zend_Registry::get('config');
      	   $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");
        ?>     
    </div>
  </div>
  <div class="main_right">
    <div class="manager">版主：<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>    
    <div class="r_top">

        <a href="" onclick="document.getElementById('firstSlideshow').onclick(); return false;"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_ppt.jpg" alt="幻灯片" /></a>
    <?php if($this->listType=='list'){ 
    	$url = "/forum/index/listType/list/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/pic"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_photo.jpg" /></a>
    <?php }else{
    	$url = "/forum/index/listType/pic/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/list"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" /></a>
    <?php }?>  
    
        <div style="display:none;">
            <a href="" 
                id="popupNewPost"
                onclick="return hs.htmlExpand(this, 
                                    { contentId: 'highslide_add_new', 
                                    width: 800, 
                                    height: 600, 
                                    align: 'center',
                                    wrapperClassName: 'login_highslide'
                                    } );">
                <img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加帖子" />
            </a>
        </div>    
        <a href="" onclick="return doubleCheckAddNewPost();"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加新帖" /></a>
    </div>
    <img src="<?php echo $this->resourceDir; ?>/images/classic/next_bg.gif" id="imgall" onclick="all_photo_e_c();" /><span id="imgall_span"> 全部合上</span>    				
    <div class="list">
    
    
   <?php
        $config = Zend_Registry::get('config');
        $firstImage = true; 
       if($this->type==PaowangData::FORUM_TAB_ALL && $this->topLists!=null){
        foreach ($this->topLists as $row) { 
		   $postInfo = $row["postInfo"];
	?>         	 
  <div class="photo">
 <div class="photo_list" id="photo_list<?php echo $postInfo->getPostId(); ?>" style="display:none;">
						<?php if($row["piclists"]!=null){?>
							<?php foreach ($row["piclists"] as $postpicInfo) { 
                                    $thumbSrc = $postpicInfo->getPicThumb();
                                    $originalSrc = $postpicInfo->getPicPath();
                                    $postId = $postInfo->getPostId();
                                    $postUrl = "/post/" . $postId;
                                    $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
							?>             
						         <a href="<?php echo $config->general->picture->url . $originalSrc ?>"  style="display:block;" <?php if($firstImage) {echo ' id="firstSlideshow"';} ?>  
                                    onclick="return hs.expand
                                        (this, 
                                            {slideshowGroup: 'slideshow',
                                            align: 'center',
                                            transitions: ['expand', 'crossfade'],
                                            outlineType: 'rounded-white',
                                            fadeInOut: true,
                                            dimmingOpacity: .9,
                                            <?php if($firstImage)  {echo 'autoplay: false,';} $firstImage = false;?>
                                            captionText: '<?php echo $imageCaption ?>'} 
                                        )">
                                    <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                                        alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                                </a>
						            
							<?php } //end foreach piclists?>	
						<?php }// end if piclists
                  ?>   	 
 </div>
 <div class="text_post">
	<?php       
        echo $this->classicForumMainPost($postInfo, false, PaowangData::POST_STATUS_TOP,"ceil_photo_e_c");
	    if($row["childs"]!=null){
	        echo "<div class=\"post_replay\" id=\"post_replay".$postInfo->getPostId()."\" style=\"display:none;\">\n";
	        foreach ($row["childs"] as $postInfoChild) {
	        	echo $this->classicForumChildPost($postInfoChild); 
	        }
	        echo "</div>\n";
	    }
	    //echo "</div>";
	?> 
 </div>
<div class="clear"></div>
</div> 
    <?php }//endforeach 循环主贴 
   	}	   
   ?>      
    
  		
<div id="common_post">    
   <?php
        $firstImage = true; 
        foreach ($this->lists as $row) { 
		   $postInfo = $row["postInfo"];
	?>  	
  <div class="photo">
 <div class="photo_list" id="photo_list<?php echo $postInfo->getPostId(); ?>">
						<?php if($row["piclists"]!=null){?>
							<?php foreach ($row["piclists"] as $postpicInfo) { 
                                    $thumbSrc = $postpicInfo->getPicThumb();
                                    $originalSrc = $postpicInfo->getPicPath();
                                    $postId = $postInfo->getPostId();
                                    $postUrl = "/post/" . $postId;
                                    $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
							?>             
						         <a href="<?php echo $config->general->picture->url . $originalSrc ?>"  style="display:block;" <?php if($firstImage) {echo ' id="firstSlideshow"';} ?>  
                                    onclick="return hs.expand
                                        (this, 
                                            {slideshowGroup: 'slideshow',
                                            align: 'center',
                                            transitions: ['expand', 'crossfade'],
                                            outlineType: 'rounded-white',
                                            fadeInOut: true,
                                            dimmingOpacity: .75,
                                            <?php if($firstImage)  {echo 'autoplay: false,';} $firstImage = false;?>
                                            captionText: '<?php echo $imageCaption ?>'} 
                                        )" >
                                    <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                                        alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                                </a>
						            
							<?php } //end foreach piclists?>	
						<?php }// end if piclists
                  ?>   	 
 </div>
 <div class="text_post">
	<?php       
        echo $this->classicForumMainPost($postInfo, true,PaowangData::POST_STATUS_NORMAL,"photo_e_c"); 
	    if($row["childs"]!=null){
	        echo "<div class=\"post_replay\" id=\"post_replay".$postInfo->getPostId()."\" >\n";
	        foreach ($row["childs"] as $postInfoChild) {
	        	echo $this->classicForumChildPost($postInfoChild); 
	        }
	        echo "</div>\n";
	    }
	    //echo "</div>";
	?> 
 </div>
<div class="clear"></div>
</div> 
		
<?php }//endforeach 循环主贴 ?>
</div>	  
	    
</div>
<div class="b_bottom">
    <div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
    <div class="b_page">
        <div class="page">
	    <?php
		    $total = intval($this->total);
		    $perpage =  intval($this->perpage);
		    $page = intval($this->page);    
	      	$url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(8);
          ?>	
	   </div>
	</div>
</div> <!-- End of b_bottom -->
  </div>
    <div class="clear"></div>
</div>  
  <?php
    echo $this->render('/forumclassic/forumfooterclassic.phtml');
    echo $this->render('/inc/footerclassic.phtml');
  ?>
</div>  
</body>
</html>