<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php
    echo $this->render('/forumclassic/forumheaderclassic.phtml');
?>

</head>
<?php 
$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  
<body>
<div id="wrap_<?php echo $forumUrl;?>">
<!-- Start of Head -->
<div id="head">
<?php
    echo $this->render('/forumclassic/top.phtml');
?>
</div> <!-- End of Head -->

<!-- Start of Main -->
<div id="main">
  <!-- Start of main_left -->
  <div class="main_left">
    <ul class="menu">
		<?php
		    echo $this->render('/forumclassic/leftforum.phtml');
		?>
    </ul>
    <div class="b_menu"> 
      	<?php
      	   $config = Zend_Registry::get('config');
      	   $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");
        ?>   
    </div>
  </div> <!-- End of main_left -->
  <!-- Start of main_right -->
  <div class="main_right">
    <div class="manager">版主：<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>
    <div style="display:none;">
    <a href="" 
        id="popupNewPost"
        onclick="return hs.htmlExpand(this, 
                                    { contentId: 'highslide_add_new', 
                                    width: 800, 
                                    height: 600, 
                                    align: 'center',
                                    wrapperClassName: 'login_highslide'
                                    } );">
        <img src="<?php echo $this->resourceDir; ?>/images/add_new.jpg" />
    </a>
    </div>    
    <div class="r_top">
    		
    		<a href="" onclick="return doubleCheckAddNewPost();"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加新帖" /></a></div>
    <!-- Start of list -->
    <img src="<?php echo $this->resourceDir; ?>/images/classic/next_bg.gif" id="imgall" onclick="all_photo_e_c();" /><span id="imgall_span"> 全部合上</span>
    <div class="list">

<?php
    //只有论坛首页的第一页需要显示置顶贴和热门贴
    if($this->type == PaowangData::FORUM_TAB_ALL && $this->page == 1){
    	//置顶帖子
	    foreach ($this->topLists as $row) { 
	    	$postInfo = $row["postInfo"];
		    echo $this->classicForumMainPost($postInfo, true, PaowangData::POST_STATUS_TOP,"ceil_e_c");
		    if($row["childs"]!=null){
		    	echo "<div class=\"post_replay\" id=\"post_replay_ceil".$postInfo->getPostId()."\" style=\"display:none;\">\n";
		        foreach ($row["childs"] as $postInfoChild) {
		        	echo $this->classicForumChildPost($postInfoChild); 
		        }
		        echo "</div>\n";
		    }
	    }
	    //热门
	    foreach ($this->hotLists as $row) { 
	    	$postInfo = $row["postInfo"];
		    echo $this->classicForumMainPost($postInfo, true, PaowangData::POST_STATUS_HOT,"hot_e_c");
		    if($row["childs"]!=null){
		    	echo "<div class=\"post_replay\" id=\"post_replay_hot".$postInfo->getPostId()."\" style=\"display:none;\">\n";
		        foreach ($row["childs"] as $postInfoChild) {
		        	echo $this->classicForumChildPost($postInfoChild); 
		        }
		        echo "</div>\n";
		    }
	    }	    
    }
?>   


<div id="common_post">
<?php 
	//普通帖子
    foreach ($this->lists as $row) { 
        $postInfo = $row["postInfo"];
	    echo $this->classicForumMainPost($postInfo, true); 
	    if($row["childs"]!=null){
	    	echo "<div class=\"post_replay\"  id=\"post_replay".$postInfo->getPostId()."\" >\n";
	        foreach ($row["childs"] as $postInfoChild) {
	        	echo $this->classicForumChildPost($postInfoChild); 
	        }
	        echo "</div>\n";
	    }
    }
?> 
</div>
    
    </div> <!-- End of list -->
    <!-- Start of b_bottom -->
	<div class="b_bottom">
	    <div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
	    <div class="b_page">
	        <div class="page">
	          <?php
			    $total = intval($this->total);
			    $perpage =  intval($this->perpage);
			    $page = intval($this->page);    
		      	$url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/";
	            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
	            echo $pageUtil->show(8);
	          ?>	
	        </div>
	    </div>
	</div> <!-- End of b_bottom -->
  </div> <!-- End of main_right -->
    <div class="clear"></div>
</div><!-- End of Main -->
  
  <?php
    echo $this->render('/forumclassic/forumfooterclassic.phtml');
    echo $this->render('/inc/footerclassic.phtml');
  ?>
</div>
</body>
</html>
