<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php 
// display login info
$isUserLogin = false;
$userId = null;
$userName = null;

if(Rbm_RbmService::getInstance()->isUserLogin()){
    $isUserLogin = true;
    $userId = Util::getUserId();
    $userName = Util::getUserName();
}

$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  
<?php
    echo $this->render('/forumclassic/forumheaderclassic.phtml');
?>

<script type="text/javascript">
$(document).ready(function(){
    hs.marginBottom = 105;
    //hs.dimmingOpacity = 0.9;
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        slideshowGroup: 'slideshow',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .9,
            position: 'bottom center',
            hideOnMouseOut: true
        },
        thumbstrip: {
            position: 'bottom center',
            mode: 'horizontal',
            relativeTo: 'viewport'
        }
        
    }); 
});
</script>
</head>
<?php 
$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  
<body id="<?php echo $forumUrl;?>">
<div id="<?php echo $forumUrl;?>_ph">	
<div class="<?php echo $forumUrl;?>_head" id="head">

    <?php
        echo $this->render('/forumclassic/top.phtml');
    ?>

</div>
<div id="<?php echo $forumUrl;?>_main">
  <div id="<?php echo $forumUrl;?>_main_left">
    <ul class="menu">
        <?php
            echo $this->render('/forumclassic/leftforum.phtml');
        ?>
    </ul>
    <div class="b_menu">
        <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");
        ?>     
    </div>
  </div>
  <div class="main_right">
    <div class="manager">版主：<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>   
    <div class="r_top">
        <a href="" onclick="document.getElementById('firstSlideshow').onclick(); return false;"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_ppt.jpg" alt="" /></a>
    <?php if($this->listType=='list'){ 
        $url = "/forum/index/listType/list/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/pic"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_photo.jpg" /></a>
    <?php }else{
        $url = "/forum/index/listType/pic/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/list"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_post.jpg" /></a>
    <?php }?>
    
        <div style="display:none;">
            <a href="" 
                id="popupNewPost"
                onclick="return hs.htmlExpand(this, 
                                    { contentId: 'highslide_add_new', 
                                    width: 800, 
                                    height: 600, 
                                    align: 'center',
                                    wrapperClassName: 'login_highslide'
                                    } );">
                <img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加帖子" />
            </a>
        </div>    
        <a href="" onclick="return doubleCheckAddNewPost();"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加新帖" /></a>    
    
    </div>
 <table class="photos_show">
        
        <tr>
        
<?php
       $config = Zend_Registry::get('config');
       $i = -1;
       if($this->type==PaowangData::FORUM_TAB_ALL && $this->hotLists!=null){
        $j=0;              
        foreach ($this->hotLists as $row) { 
           $postInfo = $row["postInfo"];
            if($row["piclists"]!=null){
                foreach ($row["piclists"] as $postpicInfo) { 
                    if($j<4){
                    $thumbSrc = $postpicInfo->getPicThumb();
                    //$thumbSrc = str_replace("picture","pictureh",$thumbSrc); 
                    $originalSrc = $postpicInfo->getPicPath();
                    $postId = $postInfo->getPostId();
                    $postUrl = "/post/" . $postId;
                    $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
?>
         <td>
                 <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($i ==-1) {echo ' id="firstSlideshow"';} ?>  
                     onclick="return hs.expand
                             (this, 
                                {slideshowGroup: 'slideshow',
                                     align: 'center',
                                     transitions: ['expand', 'crossfade'],
                                     outlineType: 'rounded-white',
                                     fadeInOut: true,
                                     dimmingOpacity: .9,
                                     <?php if($i == -1)  {echo 'autoplay: false,';}?>     
                                     captionText: '<?php echo $imageCaption ?>'} 
                             )">
                     <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                         alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                 </a>
                 <p><a href="<?php echo $postUrl;?>" target="postcontent"><?php echo $postInfo->getTitle(); ?></a></p>
                 <p>作者： <a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName();?></a> <img src="<?php echo $this->resourceDir; ?>/images/classic/hot.gif"/></p>
                 <p><?php echo Util::date2string19($postInfo->getCreateAt());?></p>
                 <p>顶：<?php echo $postInfo->getVoteYes();?> 踩：<?php echo $postInfo->getVoteNo();?></p>
         </td>

<?php               
                    }
                    $j++;
                    //break;    
                }
            }
        }           
       }
?>        

              
                      
        </tr> 
                    
        <?php

         $i =0;
         foreach ($this->lists as  $row) {
            if($i%4==0){
              echo "<tr>";  
            }
            $postpicInfo = $row["postpicInfo"];
            $postInfo = $row["postInfo"];
            $thumbSrc = $postpicInfo->getPicThumb();
            //$thumbSrc = str_replace("picture","pictureh",$thumbSrc);
            $originalSrc = $postpicInfo->getPicPath();
            $postId = $postInfo->getPostId();
            $postUrl = "/post/" . $postId;
            $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
        ?>
         <td>
                 <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($i ==-1) {echo ' id="firstSlideshow"';} ?>  
                     onclick="return hs.expand
                             (this, 
                                {slideshowGroup: 'slideshow',
                                     align: 'center',
                                     transitions: ['expand', 'crossfade'],
                                     outlineType: 'rounded-white',
                                     fadeInOut: true,
                                     dimmingOpacity: .9,
                                     <?php if($i == -1)  {echo 'autoplay: false,';}?>     
                                     captionText: '<?php echo $imageCaption ?>'} 
                             )">
                     <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                         alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                 </a>
                 <p><a href="<?php echo $postUrl;?>" target="postcontent"><?php echo $postInfo->getTitle(); ?></a></p>
                 <p>作者： <a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName();?></a></p>
                 <p><?php echo Util::date2string19($postInfo->getCreateAt());?></p>
                 <p>顶：<?php echo $postInfo->getVoteYes();?> 踩：<?php echo $postInfo->getVoteNo();?></p>
         </td>
        <?php
            if(($i+1)%4==0){
              echo "</tr>"; 
            }
            $i++;        
        }//endforeach 循环lists ?>
</table>
<div class="b_bottom">
<div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
<div class="b_page">
<div class="page">
        <?php
            $total = intval($this->total);
            $perpage =  intval($this->perpage);
            $page = intval($this->page);    
            $url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(8);
          ?>    
</div>
</div>
</div>
  </div>
  <div class="clear"></div>
  </div>
  <?php
    echo $this->render('/forumclassic/forumfooterclassic.phtml');
    echo $this->render('/inc/footerclassic.phtml');
  ?>
</div>  
</body>
</html>
