<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<?php
    echo $this->render('/forumclassic/forumheaderclassic.phtml');
?>

</head>
<?php 
$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  
<body>
<div id="wrap_<?php echo $forumUrl;?>">
<!-- Start of Head -->
<div id="head">
<?php
    echo $this->render('/forumclassic/top.phtml');
?>
</div> <!-- End of Head -->

<!-- Start of Main -->
<div id="main">
  <!-- Start of main_left -->
  <div class="main_left">
    <ul class="menu">
        <?php
            echo $this->render('/forumclassic/leftforum.phtml');
        ?>
    </ul>
    <div class="b_menu"> 
        <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");
        ?>   
    </div>
  </div> <!-- End of main_left -->
  <!-- Start of main_right -->
  <div class="main_right">
    <div style="display:none;">
    <a href="" 
        id="popupNewPost"
        onclick="return hs.htmlExpand(this, 
                                    { contentId: 'highslide_add_new', 
                                    width: 800, 
                                    height: 600, 
                                    align: 'center',
                                    wrapperClassName: 'login_highslide'
                                    } );">
        <img src="<?php echo $this->resourceDir; ?>/images/add_new.jpg" />
    </a>
    </div>    
    <div class="r_top"><a href="" onclick="return doubleCheckAddNewPost();"><img src="<?php echo $this->resourceDir; ?>/images/classic/<?php echo $forumUrl;?>_add.jpg" alt="加新帖" /></a></div>
    
    <!-- 我的主帖 Start of list -->
    <div class="my_title">我的主帖</div>
    <div class="list my_list" id="main_body">

<?php 
    foreach ($this->myPostList as $row) { 
        $postInfo = $row["postInfo"];
        echo $this->classicForumMainPost($postInfo, true); 
        if($row["childs"]!=null){
            echo "<div class=\"post_replay\">\n";
            foreach ($row["childs"] as $postInfoChild) {
                echo $this->classicForumChildPost($postInfoChild); 
            }
            echo "</div>\n";
        }
    }
    
?> 
    </div> <!-- End of list -->
    <!-- Start of b_bottom -->
    <div class="b_bottom">
        <div class="b_page">
            <div class="page" id="main_pagebar">
              <?php
                $myPostTotal = intval($this->myPostTotal);
			    $myPostPerPage = intval($this->myPostPerPage);
			    $myPostPage = intval($this->myPostPage);
                $url = "/forum/mypostmainjson/forumId/" . $this->forumId. "/type/" . $this->type . "/";
                $pageUtil = new PageUtil(array('total'=>$myPostTotal,'perpage'=>$myPostPerPage,'nowindex'=>$myPostPage,'url'=>$url,'ajax'=>'main_ajax_page','page_name'=>'page'));
                echo $pageUtil->show(8);
              ?>    
            </div>
        </div>
    </div> <!-- End of b_bottom -->
    
<!-- 我的跟帖 Start of list -->
    <div class="my_title">我的跟帖</div>
    <div class="list my_list" id="child_body">

<?php 
    foreach ($this->myReplyList as $row) { 
        $postInfo = $row["postInfo"];
        echo $this->classicForumMainPost($postInfo, true); 
        if($row["childs"]!=null){
            echo "<div class=\"post_replay\">\n";
            foreach ($row["childs"] as $postInfoChild) {
                echo $this->classicForumChildPost($postInfoChild); 
            }
            echo "</div>\n";
        }
    }
    
?> 
    </div> <!-- End of list -->
    <!-- Start of b_bottom -->
    <div class="b_bottom">
        <div class="b_page">
            <div class="page" id="child_pagebar">
              <?php
                $myReplyTotal = intval($this->myReplyTotal);
                $myReplyPerPage = intval($this->myReplyPerPage);
                $myReplyPage = intval($this->myReplyPage);
                
                $url = "/forum/mypostchildjson/forumId/" . $this->forumId. "/type/" . $this->type . "/";
                $pageUtil = new PageUtil(array('total'=>$myReplyTotal,'perpage'=>$myReplyPerPage,'nowindex'=>$myReplyPage,'url'=>$url,'ajax'=>'child_ajax_page','page_name'=>'page'));
                echo $pageUtil->show(8);
              ?>    
            </div>
        </div>
    </div> <!-- End of b_bottom -->    
    
  </div> <!-- End of main_right -->
    <div class="clear"></div>
</div><!-- End of Main -->
<script type="text/javascript">
function main_ajax_page(para){
    $.ajax({
        type: "POST",
        url: para,
        data: "",
        dataType: "json",
        success: function(tt) {
            //alert(tt);
            //var tt = eval("("+t+")");//字符串转化为json对象
            $("#main_body").empty();
            $("#main_body").html(tt['html']);
            $("#main_pagebar").html(tt['pagebar']);
        },
        
        error: function() {
            //alert("调用失败");
        }
    });     
}

function child_ajax_page(para){
    $.ajax({
        type: "POST",
        url: para,
        data: "",
        dataType: "json",
        success: function(tt) {
            //alert(tt);
            //var tt = eval("("+t+")");//字符串转化为json对象
            $("#child_body").empty();
            $("#child_body").html(tt['html']);
            $("#child_pagebar").html(tt['pagebar']);
        },
        
        error: function() {
            //alert("调用失败");
        }
    });     
}

</script>  
  <?php
    echo $this->render('/forumclassic/forumfooterclassic.phtml');
    echo $this->render('/inc/footerclassic.phtml');
  ?>
</div>
</body>
</html>
