<?php 
// display login info
$isUserLogin = false;
$userId = null;
$userName = null;

if(Rbm_RbmService::getInstance()->isUserLogin()){
    $isUserLogin = true;
    $userId = Util::getUserId();
    $userName = Util::getUserName();
}

$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>  

  <h1><a href="/">泡网俱乐部</a></h1>
  <div class="login">
    <?php if($isUserLogin) {?>
      <a href="/user/userinfo/userId/<?php echo $userId;?>"><?php echo $userName;?></a>
      |
      <a href="/user/userinfoedit">设置</a>
      |
      <a id="userLogout" href="">退出</a>
    <?php } else { ?>
      <a href="/user/register">注册</a>|
        <div style="display:none;">
        <a href="" 
            id="userLoginId"
            onclick="return hs.htmlExpand(this, {contentId: 'login-container'} );">
            登录
        </a>
        </div>
        <a href="/user/login" onclick="return checkUserLogin();">登录</a>
    <?php } ?>
    |   
    <a href="/forum/index/forumId/<?php echo $this->forumId;?>/style/fashion">阳春版</a>
    
  </div>
  <ul class="nav">
    <li><a href="/<?php echo PaowangData::$forumUrlById[$this->forumId];?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_ALL; ?>"><?php echo $this->forumName; ?>首页</a></li>

    <li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/<?php echo PaowangData::FORUM_TAB_NEW; ?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_NEW; ?>">最新主题</a></li>
    <li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/<?php echo PaowangData::FORUM_TAB_NEWREPLY; ?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_NEWREPLY; ?>">最新回贴</a></li>
    <?php if(Util::isUserLogin()) { ?>
    <li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/mypost" id="forumTab_<?php echo PaowangData::FORUM_TAB_MYPOST; ?>">我的帖子</a></li>
    <li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/myvote" id="forumTab_<?php echo PaowangData::FORUM_TAB_MYVOTE; ?>">我的评价</a></li>
    <?php } ?>
  </ul>
  <div class="<?php echo $forumUrl;?>_search search">
    <form action="/search/list" method="post">
        <input type="text" class="s_text" name="q" id="query" value="<?php echo $this->q;?>"/>
        <input type="image" src="<?php echo $this->resourceDir; ?>/images/classic/search.gif" class="search_bnt"/>
    </form>
  </div>