*{
padding:0px;
margin:0px;
}
body{
font:12px Verdana, "宋体",Helvetica, sans-serif;
color:#003366;
background:#babbba;
}
body#photo{
color:#000000;
}
img{
border:0px;
vertical-align:middle;
font-size:0px;
line-height:0px;
}
ul{
list-style:none;
}
table{jerry:expression(cellSpacing="1")}
a:link,a:visited{
color:#003366;
text-decoration:none;
blr:expression(this.onFocus=this.blur())
}
#photo a:link,#photo a:visited{
color:#000000;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
h1{
font-size:16px;
}
h2{
font-size:14px;
}
h3,h4{
font-size:12px;
}
input{
vertical-align:middle;
}
.clear{
clear: both; 
}
#wrap_it{
width:1003px;
margin:0px auto;
background:#e7e7e7 url(../images/classic/wrap_it.jpg) no-repeat  center top;
}
#wrap_inn{
width:1003px;
margin:0px auto;
background:#dad4d4 url(../images/classic/wrap_inn.jpg) no-repeat  center top;
color:#302322;
}
#wrap_qin{
width:1003px;
margin:0px auto;
background:#e3e2ed url(../images/classic/wrap_qin.jpg) no-repeat  center top;
color:#232130;
}
#wrap_weapon{
width:1003px;
margin:0px auto;
background:#dde0cf url(../images/classic/wrap_weapon.jpg) no-repeat  center top;
color:#393c30;
}
#wrap_tie{
width:1003px;
margin:0px auto;
background:#dbe6e9 url(../images/classic/wrap_tie.jpg) no-repeat  center top;
color:#24333d;
}
#wrap_tie #main a{
color:#24333d;
}
#wrap_money #main a{
color:#4a2517;
}

#wrap_inn a{
color:#302322;
}
#wrap_club{
width:1003px;
margin:0px auto;
background:#e2e7ed url(../images/classic/wrap_club.jpg) no-repeat  center top;
}
#wrap_money{
width:1003px;
margin:0px auto;
background:#e9e0c1 url(../images/classic/wrap_money.jpg) no-repeat  center top;
color:#4a2517;
}
#wrap_parenting{
width:1003px;
margin:0px auto;
background:#d4eae8 url(../images/classic/wrap_parenting.jpg) no-repeat  center top;
color:#1d2624;
}
#photo #wrap_photo{
background:#f0edda url(../images/classic/wrap_photo.jpg) no-repeat  center top;
}
#wrap_music{
width:1003px;
margin:0px auto;
color:#26412e;
background:#d1ded5 url(../images/classic/wrap_music.jpg) no-repeat  center top;
}
#head{
width:1003px;
height:140px;
position:relative;
}
#head h1{
padding:20px 0px 0px 50px;
}
#head h1 a{
display:block;
width:115px;
height:115px;
text-indent:-9999px;
}
.login{
position:absolute;
right:20px;
top:15px;
}
.login a{
margin:0px 5px;
}
.nav{
position:absolute;
bottom:7px;
left:352px;
}
.nav li{
float:left;
border-right:1px solid #fff;
height:15px;
line-height:15px;
padding:0px 13px;
}
.nav li a:link,.nav li a:visited{
color:#fff;
}



#photo .nav li a.home{
color:#f5e9bf;
}
#photo .nav li a,#photo .nav li a:visited{
color:#fff;
}
#photo .nav li a:hover{
color:#f5e9bf;
}
#photo .nav li a.home:link,#photo .nav li a.home:visited{
color:#f5e9bf;
}


#wrap_inn .nav li a.home{
color:#f5e9bf;
}
#wrap_inn .nav li a,#wrap_inn.nav li a:visited{
color:#fff;
}
#wrap_inn .nav li a:hover{
color:#f5e9bf;
}
#wrap_inn .nav li a.home:link,#wrap_inn .nav li a.home:visited{
color:#f5e9bf;
}

.nav li a.home:link,.nav li a.home:visited{
color:#f5e9bf;
}
.nav li a:hover{
color:#f5e9bf;
}
.search{
position:absolute;
bottom:5px;
right:28px;
}
.s_text{
margin-right:7px;
border:none;
background:#fff;
width:90px;
}
/*main*/
#wrap_qin #main a{
color:#2d2c39;
}
#wrap_weapon #main a{
color:#393c30;
}
#wrap_parenting #main a{
color:#1d2624;
}
#wrap_music #main a{
color:#26412e;
}

#main{
margin:20px 20px 20px 40px;
}
/*main_left*/
.main_left{
float:left;
display:inline;
width:125px;
padding-top:15px;
}
.menu{
padding-bottom:4px;
width:119px;
background:url(../images/classic/menu.jpg) no-repeat left bottom;
}
.menu li{
height:29px;
}
.menu li a{
display:block;
height:29px;
background-image:url(../images/classic/nav_club_off.jpg);
background-repeat:no-repeat;
}

#photo .menu li a{
display:block;
height:29px;
background-image:url(../images/classic/nav_photo_off.jpg);
background-repeat:no-repeat;
}

#wrap_it .menu li a{
background-image:url(../images/classic/nav_it_off.jpg);
}
#wrap_inn .menu li a{
background-image:url(../images/classic/nav_inn_off.jpg);
}
#wrap_qin .menu li a{
background-image:url(../images/classic/nav_qin_off.jpg);
}
#wrap_weapon .menu li a{
background-image:url(../images/classic/nav_weapon_off.jpg);
}
#wrap_tie .menu li a{
background-image:url(../images/classic/nav_tie_on.jpg);
}
#wrap_money .menu li a{
background-image:url(../images/classic/nav_money_off.jpg);
}
#wrap_parenting .menu li a{
background-image:url(../images/classic/nav_parenting_off.jpg);
}
#wrap_music .menu li a{
background-image:url(../images/classic/nav_music_off.jpg);
}

.menu li.m_1 a{
background-position:left 0px;
}
.menu li.m_2 a{
background-position:left -29px;
}
.menu li.m_3 a{
background-position:left -58px;
}
.menu li.m_4 a{
background-position:left -87px;
}
.menu li.m_5 a{
background-position:left -116px;
}
.menu li.m_6 a{
background-position:left -145px;
}
.menu li.m_7 a{
background-position:left -174px;
}
.menu li.m_8 a{
background-position:left -203px;
}
.menu li.m_9 a{
background-position:left -232px;
}
.menu li.m_10 a{
background-position:left -261px;
}
#photo .menu li a:visited{
color:#fff;
}
.menu li a:hover,.menu li a.li_home{
background-image:url(../images/classic/nav_club_on.jpg);
}
#photo .menu li a:hover,#photo .menu li a.li_home{
background-image:url(../images/classic/nav_photo_on.jpg);
}
#wrap_it .menu li a:hover,#wrap_it .menu li a.li_home{
background-image:url(../images/classic/nav_it_on.jpg);
}
#wrap_inn .menu li a:hover,#wrap_inn .menu li a.li_home{
background-image:url(../images/classic/nav_inn_on.jpg);
}
#wrap_qin .menu li a:hover,#wrap_qin .menu li a.li_home{
background-image:url(../images/classic/nav_qin_on.jpg);
}
#wrap_weapon .menu li a:hover,#wrap_weapon .menu li a.li_home{
background-image:url(../images/classic/nav_weapon_on.jpg);
}
#wrap_tie .menu li a:hover,#wrap_tie .menu li a.li_home{
background-image:url(../images/classic/nav_tie_off.jpg);
}
#wrap_money .menu li a:hover,#wrap_money .menu li a.li_home{
background-image:url(../images/classic/nav_money_on.jpg);
}
#wrap_parenting .menu li a:hover,#wrap_parenting .menu li a.li_home{
background-image:url(../images/classic/nav_parenting_on.jpg);
}
#wrap_music .menu li a:hover,#wrap_music .menu li a.li_home{
background-image:url(../images/classic/nav_music_on.jpg);
}
.b_menu{
padding:50px 0px 10px 10px;
}
.b_menu a{
display:block;
font-size:14px;
line-height:25px;
}
.b_menu a:visited{
color:#003366;
}
#wrap_inn{

}
/*main_right*/
.main_right{
float:right;
display:inline;
width:790px;
position:relative;
padding-top:30px;
}
.r_top{
position:absolute;
right:0px;
top:0px;
}
.r_top a{
float:left;
}
.r_top a:link,.r_top a:visited{
color:#fff;
}
#photo .r_top{
padding:0px 30px;
line-height:30px;
height:32px;
}
#photo .r_top a{
margin-left:5px;
}
#photo .r_top a:link,#photo .r_top a:visited{
color:#fff;
}
.r_top a.add{
width:114px;
height:28px;
line-height:25px;
text-align:center;
background:url(../images/classic/club_add.jpg) no-repeat left top;
}
.manager{
position:absolute;
left:0px;
top:0px;
font-size:15px;
}
.list{
line-height:30px;
color:#666666;
font-size:14px;
}
.list a{
font-size:15px;
vertical-align:middle;
text-decoration:underline;
}
#photo .list a{
font-size:15px;
vertical-align:middle;
text-decoration:underline;
}
#photo  .list a:visited{
color:#32424d;
}
#wrap_inn .list a{
font-size:15px;
vertical-align:middle;
text-decoration:underline;
}
#wrap_inn .list a:visited{
color:#32424d;
}
.list a img{
font-size:0px;
line-height:0px;
vertical-align:middle;
}
.list a:visited{
color:#32424d;
}
.list a:hover{
text-decoration:underline;
}
.list span,.list a{
margin-right:6px;
}
.list span.auto{
font-size:15px;
font-family:"黑体";
color:#000000;
}
.post_list_1{
padding-left:40px;
background:url(../images/classic/dotted.png) no-repeat 27px 13px;
}
.post_list_2{
padding-left:70px;
background:url(../images/classic/dotted.png) no-repeat 57px 13px;
}
.post_list_3{
padding-left:100px;
background:url(../images/classic/dotted.png) no-repeat 87px 13px;
}
.post_list_4{
padding-left:130px;
background:url(../images/classic/dotted.png) no-repeat 117px 13px;
}
.post_list_5{
padding-left:160px;
background:url(../images/classic/dotted.png) no-repeat 147px 13px;
}

/*分页*/
.b_bottom{
padding:30px 0px;
height:30px;
}
.rss{
float:left;
width:100px;
padding-left:30px;
background:url(../images/classic/rss.jpg) no-repeat 10px 0px;
}
.b_page{
	float:left;
	width:600px;
	text-align:right;
}
.page{
display:inline-block;
display:-moz-inline-stack;
*display:inline;
zoom:1;
}
.page a {
float:left;
display:inline;
	padding:2px 5px;
	margin-right:3px;
	border:1px solid #003366;
}
.page a:visited{
	color:#003366;
}
.page span{
float:left;
display:inline;
}
.page a:hover{
	background:#003366;
	color:#fff;
}

.page span.current {
     float:left;
	 display:inline;
	padding:2px 5px;
	margin-right:3px;
	border:1px solid #909090;
	background:#003366;
	color:#fff;
}

.page span.disabled {
float:left;
display:inline;
	padding:2px 5px;
	margin-right:3px;
	border:1px solid #c8c8c8;
	color:#c8c8c8;
}
.photo{
border-bottom:1px solid #999;
padding:10px 0px;
}
.photo_list{
float:left;
display:inline;
width:150px;
text-align:center;
padding-top:10px;
}
.photo_list img{
padding:3px;
border:1px solid #999;
width:135px;
margin-bottom:15px;
}
.text_post{
float:right;
width:625px;
}
/*bottom*/
#bottom{
text-align:center;
line-height:30px;
}
#bottom a{
margin:0px 8px;
}
#bottom a:visited{
color:#003366;
}
#bottom a{
margin:0px 8px;
}
#wrap_weapon #bottom a{
color:#393c30;
}
#wrap_tie #bottom a{
color:#24333d;
}
#wrap_money #bottom a{
color:#4a2517;
}
#wrap_parenting #bottom a{
color:#1d2624;
}
#photo #bottom a:visited{
color:#000000;
}
.photos_show{
width:750px;
margin:25px auto 10px;
line-height:20px;
vertical-align:middle;
font-size:12px;
}
.photos_show td{
padding:10px 0px;
}
.photos_show a{
font-size:12px;
}
.photos_show .pic_p{
margin-bottom:10px;
}
.photos_show .pic_p img{
max-width:150px;
}
#wrap_detail{
width:1003px;
margin:0px auto;
background:#ececec url(../images/classic/wrap_detail.jpg) no-repeat left top;
color:#000;
}
#wrap_detail a{
color:#000;
}
#wrap_detail .search{
top:125px;
right:10px;
}
.post_detail{
width:800px;
margin:0px auto;
line-height:22px;
}
.post_detail h2{
text-align:center;
line-height:24px;
margin:3px 9px;
}
.from{
padding:5px 0px 7px;
text-align:center;
}
.from span{
margin:0px 15px;
}
.post_info{
padding:10px 40px;
border-bottom:1px solid #afafaf;
}
.post_info img{
display:block;
margin:10px auto;
}
.post_info p{
text-indent:2em;
}
.tab{
color:#39755a;
padding:5px 40px 20px;
}
.reply{
text-align:right;
position:relative;
height:27px;
border-bottom:1px solid #afafaf;
}
.content_reply{
position:absolute;
left:40px;
top:0px;
}
.reply_list{
padding-left:40px;
line-height:30px;
border-bottom:1px soli #afafaf;
font-size:12px;
}
