@CHARSET "UTF-8";

/* Highslide Style*/
.highslide-header{
    display: none;
}

.highslide-footer {
    display: none;
}

/*Login*/
#login {
    width: 400px;*width: 400px;
    height: 200px;*height: 190px
    position: absolute;
    display: block;
    background: #ffffff url(../images/add_paper.jpg) no-repeat left top;
    
    
}

.login_title {
    height: 29px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
}

#login p {
    position: relative;
    padding-left: 127px;
    width: 200px;
    line-height: 18px;
    margin-top: 15px;
}

#login p span.title {
    position: absolute;
    display: block;
    text-align: right;
    width: 123px;
    left: 0px;
    top: 0px;
}

#login p input {
/*  width: 120px;*/
    height: 16px;
    border: 1px solid #cccccc;
}

#login .login_submit input {
    border: 0px;
/*  width: 80px;*/
    width: 70px;
    height: 29px;

}

.login_highslide .highslide-html-content {
    padding: 0pt 0px 0px 0px;
}

/* End of Login*/

/*Add Post*/
#mylight {
    width: 100%;
    filter: progid :   DXImageTransform .   Microsoft .  
        Alpha(opacity =   50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 50%;
    top: 0px;
    left: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000000;
    display: block;
}

#mypaper_add {
    width: 800px;
    position: relative;
    height: auto;
    top: 0px;
    left: 0px;
    display: block;
    background: #ffffff url(../images/add_paper_long.jpg) no-repeat left top
        ;
}

.myadd_title {
    height: 29px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
}

#mypaper_add p {
    position: relative;
    padding-left: 127px;
    width: 550px;
    line-height: 22px;
    margin-top: 15px;
}

#mypaper_add p span.title {
    position: absolute;
    display: block;
    text-align: right;
    width: 123px;
    left: 0px;
    top: 0px;
}

#mypaper_add p input {
    width: 420px;
    height: 22px;
    border: 1px solid #cccccc;
}

#mypaper_add .mypaper_submit input {
    border: 0px;
    width: 65px;
    height: 29px;
}
/* End of Add Post */

/* Message Box */
#message_box {
    width: 350px;
    height: 140px;
    position: absolute;
    display: block;
    background: #ffffff url(../images/add_paper.jpg) no-repeat left top;
}

.message_box_title {
    height: 29px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
}

#message_box p {
    position: relative;
    padding-left: 18px;
    /*width: 200px;*/
    line-height: 18px;
    margin-top: 15px;
    height: 37px;
}

#message_box .login_submit input {
    margin-left: 100px;
    border: 0px;
    width: 70px;
    height: 29px;
}


textarea#text{
	width:100%;
	height:200px;
	border:1px solid #ccc; 
	overflow:hidden; 
	padding:0;margin:0;
}

/* End of Message Box */