﻿@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

body {
	font: 12px "宋体", Helvetica, sans-serif;
	color: #16387c;
	/**background: url(../images/jianbg.jpg) no-repeat left top;**/
	background-color:#cedae6;
}

ul,ol {
	list-style: none;
}

h1,h2 {
	font-size: 14px;
}

h3,h4 {
	font-size: 12px;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
	color: #16387c;
}

a:visited {
    text-decoration: none;
    color: #737373;
    
}

.float-l {
	float: left;
}

.clear {
	clear: both;
}

/*wrap*/
#wrap {
	width: 1003px;
	margin: 0px auto;
	background-color: white;
}

/*header*/
#header {
	height: 115px;
	background: url(../images/header.jpg) no-repeat left top;
	position: relative;
}

#logo {
	position: absolute;
	left: 55px;
	top: 10px;
	width: 185px;
	height: 46px;
}

#logo a {
	display: block;
	width: 185px;
	height: 46px;
	background: url(../images/logo.gif) no-repeat left top;
	text-indent: -9999px;
}

#help {
	position: absolute;
	right: 40px;
	top: 5px;
}

#help li {
	float: left;
	line-height: 25px;
}

#help li a {
	display: inline-block;
	height: 25px;
	padding: 0px 10px;
	color: #797979;
}

#help .li_text {
    display: inline-block;
    height: 25px;
    padding: 0px 0px;
    color: #797979;
}

#help .li_help a {
	padding-left: 20px;
	background: url(../images/help.gif) no-repeat 5px center;
}

#nav {
	position: absolute;
	top: 75px;
	left: 45px;
	width: 580px;
	height: 25px;
}

#nav li {
	float: left;
	display: inline;
	width: 116px;
}

#nav li a {
	display: block;
	width: 116px;
	height: 24px;
}

#nav li.nav_1 a:hover,#nav li.nav_2 a:hover,#nav li.nav_3 a:hover,#nav li.nav_4 a:hover,#nav li.nav_5 a:hover
	{
	background-image: url(../images/nav_big.jpg);
}

#nav li.nav_4 a:hover,#nav li.nav_5 a:hover {
	background-image: url(../images/nav_big.jpg);
}

#nav li.nav_1 a {
	background: url(../images/nav_small.jpg) no-repeat left top;
}

#nav li.nav_on_1 a {
	background: url(../images/nav_big.jpg) no-repeat 0px 0px;
}

#nav li.nav_2 a {
	background: url(../images/nav_small.jpg) no-repeat -116px 0px;
}

#nav li.nav_3 a {
	background: url(../images/nav_small.jpg) no-repeat -232px 0px;
}

#nav li.nav_4 a {
	background: url(../images/nav_small.jpg) no-repeat -348px top;
}

#nav li.nav_5 a {
	background: url(../images/nav_small.jpg) no-repeat -464px top;
}

#search {
	position: absolute;
	top: 78px;
	right: 52px;
	width: 145px;
	height: 28px;
}

#search input {
	vertical-align: middle;
}

#search .input_text {
	width: 100px;
	height: 18px;
	line-height: 18px;
	border: 0px;
	background: none;
	margin-right: 8px;
}

/*header end*/ /* main */
#main {
	/*width: 980px;*/
	margin: 0px auto;
}

#main_left {
	width: 130px;
	float: left;
	display: inline;
	background: url(../images/left.jpg) no-repeat right top;
	padding: 10px 0px 0px 0px;
}

#club_type li {
	padding-left: 2px;
}

#club_type li a {
	display: inline-block;
	height: 29px;
}

#club_type li a {
	display: block;
	width: 121px;
	height: 29px;
	
}

#club_type li.left_1 a {
	background: url(../images/club_type_1.jpg) no-repeat right top;
}

#club_type li.left_on_1 a {
	background-image: url(../images/club_type_2.jpg);
}

#club_type li.left_2 a {
	background: url(../images/club_type_1.jpg) no-repeat right -30px;
}

#club_type li.left_3 a {
	background: url(../images/club_type_1.jpg) no-repeat right -59px;
}

#club_type li.left_4 a {
	background: url(../images/club_type_1.jpg) no-repeat right -88px;
}

#club_type li.left_5 a {
	background: url(../images/club_type_1.jpg) no-repeat right -118px;
}

#club_type li.left_6 a {
	background: url(../images/club_type_1.jpg) no-repeat right -146px;
}

#club_type li.left_7 a {
	background: url(../images/club_type_1.jpg) no-repeat right -175px;
}

#club_type li.left_8 a {
	background: url(../images/club_type_1.jpg) no-repeat right -205px;
}

#club_type li.left_9 a {
	background: url(../images/club_type_1.jpg) no-repeat right -234px;
}

#club_type li.left_10 a {
	background: url(../images/club_type_1.jpg) no-repeat right -264px;
}

#hot_tab {
	margin: 15px 0px;
}

#hot_tab h2 {
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	color: #515151;
}

#hot_tab p {
	line-height: 25px;
/*	background: url(../images/hot.gif) no-repeat 5px top;*/
	padding: 10px 10px 5px 15px;
	width: 125px;
}

#hot_tab p a {
	display: block;
	margin-right: 5px;
	width:100px;
	overflow: hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	color:#16387C;
}


#hot_tab p a.important {
	font-weight: bold;
}

/*main_right*/
#main_right {
	float: right;
	display: inline;
	width: 850px;
	padding-top: 10px;
}

#right_header {
	position: relative;
	height: 27px;
	padding-top: 3px;
}

#right_header ul {
	height: 27px;
	background: url(../images/tab_nav_5.jpg) no-repeat left top;
}

#right_header ul #tab_login {
	height: 27px;
	background: url(../images/tab_nav_5.jpg) no-repeat left top;
}

#right_header ul #tab_not_login {
	height: 27px;
	background: url(../images/tab_nav_3.jpg) no-repeat left top;
}

#right_header ul li {
	float: left;
	width: 99px;
	text-align: center;
	line-height: 22px;
	padding-top: 5px;
}

#right_header ul li a {
	color: #405a8a
}

#right_header ul li.ul_li_1 {
	width: 118px;
}

/*
#right_header ul li.ul_li_1 a {
	color: #fff;
}
*/
.add_new {
	position: absolute;
	right: 0px;
	top: 5px;
}
.list_add_new{
	position: absolute;
	right: 10px;
	top: 10px;
}
.add_see {
	position: absolute;
	right: 0px;
	top: 8px;
	background: url(../images/add_flash.jpg) no-repeat right top;
	width: 225px;
	text-align: right;
}

.add_see  a {
	display: inline-block;
	width: 45px;
	height: 25px;
}

.add_see  a.add {
	width: 100px;
}

#club_content {
	background: url(../images/nav_down.jpg) repeat-x left top;
	font-size: 14px;
	width: 850px;
}

#club_content ul {
   /*height: 30px;
	line-height: 30px;*/
	clear:both;
	display:block;
	padding-top: 2px;
	height:20px;
	line-height:20px;
}

#club_content ul li {
	float: left;
}

#club_content div.permainpost {
	border-bottom: 1px solid #ececec;
}

#club_content .content_list {
   line-height: 20px;
}

#club_content #content_top {
	border-bottom: 1px solid #d5dae0;
}

#club_content table {
	width: 770px;
}

#club_content td {
	width: 172px;
	padding: 30px 0px 0px 20px;
	vertical-align: middle;
}

#club_content td p {
	line-height: 20px;
}

#club_content td  .pic_p a {
	display: block;
	width: 137px;
	overflow: hidden;
	/*border: 1px solid #d3dae2;*/
	padding: 1px;
	text-align: center;
	margin-bottom: 5px;
}

/*
#club_content .content_list_child {
	border-bottom: 1px solid #fff;
}
*/ /*pic_club_content*/
#pic_club_content {
	background: url(../images/nav_down.jpg) repeat-x left top;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

#pic_club_content ul {
	height: 30px;
	line-height: 30px;
}

#pic_club_content ul li {
	float: left;
}

#pic_club_content #content_top .li_1 {
	padding-left: 190px;
	width: 270px;
}

#pic_club_content .content_list .li_2 {
	width: 270px;
	padding: 0px 5px;
	overflow: hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	height: 30px;
	font-size: 15px;
}

#pic_club_content .content_list .li_2 a {
    padding-right: 5px;
    color: blue;
    text-decoration: underline;
}

#pic_club_content .content_list .li_2 a:hover {
    color: #0066CC;
}

#pic_club_content .content_list .li_2 a:visited {
    color: #800080;
}

#pic_club_content .content_list .li_3 {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

#pic_club_content .content_list .li_3 a {
    color: #000000;
    font-weight: bold;
}

#pic_club_content .content_list .li_3 a:hover {
    text-decoration: underline;
}

#pic_club_content .content_next {
	display: block;
	border: none;
}

#pic_club_content .content_next .li_1 {
	padding-left: 5px;
}

#pic_club_content .content_next .li_2 {
	width: 230px;
	padding: 0px 5px;
	overflow: hidden;
	height: 30px;
}

#pic_club_content .content_less .li_2 {
	width: 210px;
	padding: 0px 5px;
}

#pic_club_content  .wrap_content_left {
	float: left;
	display: inline;
	width: 150px;
}

#pic_club_content  .wrap_content_right {
	float: right;
	display: inline;
	width: 670px;
}

.wrap_content {
	border-bottom: 1px solid #ccc;
}

#pic_club_content .wrap_content_left a {
	display: block;
	margin: 10px 0px 20px;
	width: 150px;
	text-align: center;
}

/*pic_club_content*/
#content_top li {
	font-weight: bold;
	color: #405a8a;
}

#content_top .li_1 {
	padding-left: 20px;
	width: 410px;
}

.li_1 {
	padding-left: 20px;
	width: 15px;
}

.content_list .li_2 {
	width: 350px;
	padding: 0px 5px;
	overflow: hidden;
	text-overflow:ellipsis;
    white-space:nowrap;	
    font-size: 15px;
}

.content_list .li_3 {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.content_list .li_2 a {
	display: inline-block;
	padding-right: 35px;
    color: blue;
    text-decoration: underline;
}
    
.content_list .li_2 a:hover {
    color: #0066CC;
}

.content_list .li_2 a:visited {
    color: #800080;
}

.content_list .li_2 span.hot {
	display: block;
	width: 35px;
	height: 20px;
	top: 0px;
	right: 0px;
	background: url(../images/hot.jpg) no-repeat left center;
}

.content_list .li_2 span.totop {
	display: block;
	width: 35px;
	height: 20px;
	top: 0px;
	right: 0px;
	background: url(../images/totop.jpg) no-repeat left center;
}

.li_1 a {
	display: block;
	width: 11px;
	height: 11px;
	margin-top: 3px;
}

.content_next {
	padding-left: 20px;
	border-bottom: 1px solid #ececec;
	display: none;
}

.content_next .li_2 {
	width: 360px;
	padding: 0px 5px;
}

.content_less {
	padding-left: 20px;
}

.content_less .li_2 {
	width: 340px;
	padding: 0px 5px;
}

.li_3 {
	width: 90px;
	padding: 0px 5px;
	text-align: center;
	color: #979797;
}

.li_4 {
	width: 118px;
	padding: 0px 5px;
	text-align: center;
	
}

.li_5 {
	width: 40px;
	padding: 0px 5px;
	text-align: center;
	/**color: #979797;**/
}

.li_6 {
	width: 40px;
	padding: 0px 5px;
	text-align: center;
	/**color: #979797;**/
}

.li_7 {
	width: 50px;
	padding: 0px 5px;
	text-align: center;
}

.club_host {
	line-height: 28px;
	height: 28px;
	rigth: 0px;
	padding: 5px 5px 0px 25px;
}

.club_host a {
	margin-right: 8px;
}

#r_bottom {
	line-height: 18px;
	height: 18px;
	position: relative;
	margin-top: 7px;
}

.rss {
	padding-right: 620px;
	position: absolute;
}

.rss a {
	dipslay: inline-block;
	background: url(../images/rss.jpg) no-repeat 0px center;
	padding-left: 20px;
}

.page {
	position: absolute;
	right: 5px;
	top: 0px;
	width: 600px;
	text-align: right;
}

.page a {
	display: inline-block;
	padding: 0px 5px;
}

.page a.page_home {
	background: #bccad8;
	font-weight: bold;
	color: #ffffff;
}

/*just_pic_list*/
.just_pic_list {
	float: left;
	width: 172px;
	margin-top: 30px;
	padding-left: 20px;
}

.just_pic_list p {
	line-height: 20px;
}

.just_pic_list .pic_p a {
	display: block;
	width: 137px;
	overflow: hidden;
	border: 1px solid #d3dae2;
	padding: 1px;
	text-align: center;
	margin-bottom: 5px;
}

.just_pic_list .pic_p a img {
	
}

.line_padding {
	border-bottom: 1px solid #d3dae2;
	padding-bottom: 20px;
}

/* 看帖子页面 */
#club_detail {
	/*background: url(../images/member_bottom.jpg) no-repeat left bottom;*/
	width: 851px;
	margin: 0px auto;
	padding: 10px 76px 40px;
	line-height: 20px;
}

#club_detail p {
	text-indent: 2em;
	margin-top: 15px;
	font-size: 14px;
}

#club_detail div{
    font-size: 14px;
}

#club_detail p img {
	display: block;
	margin: 10px auto;
}

#club_detail p span {
	font-weight: bold;
}

.club_title {
	text-align: center;
	line-height: 35px;
	height: 35px;
	border-bottom: 1px solid #d5dae0;
}

.from {
	text-align: center;
	line-height: 25px;
	border-bottom: 1px solid #d5dae0;
	margin-bottom: 15px;
	font-size: 12px;
}

.from span {
	margin: 0px 35px;
}

#club_detail .from {
    font-size: 12px;	
}
.detail_bottom1{
line-height:50px;
text-align: right;

}
.detail_bottom {
	margin: 20px 0px 10px;
	border-bottom: 1px solid #d5dae0;
	line-height: 35px;
	height: auto;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
}

.detail_bottom a {
	margin-right: 15px;
}

.detail_bottom p {
	position: absolute;
	right: 5px;
	top: -12px;
	width: 200px;
	text-align: right;
}

.detail_bottom p a {
	margin-right: 0px;
}

.detail_under_bottom {
	margin: 20px 0px 10px;
	border-bottom: 0px;
	line-height: 35px;
	height: 35px;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
	float:right;
}

.detail_under_bottom a {
	margin-right: 15px;
}

#club_detail .detail_under_bottom a span{
	font-weight: normal;
}

.detail_under_bottom p {
	position: absolute;
	right: 5px;
	top: -28px;
	width: 260px;
	text-align: right;
	line-height: 15px;
}

.detail_under_bottom p a {
	margin-right: 0px;
}

/*#club_detail #right_header ul {
	height: 27px;
	background: url(../images/content_nav2.jpg) no-repeat 5px top;
}*/

#club_detail #club_content {
	background: url(../images/nav_down.jpg) repeat-x left top;
	font-size: 13px;
	width: 850px;
}

#club_detail #content_top .li_1 {
	padding-left: 20px;
	width: 420px;
}

#club_detail #content_top .li_3 {
    width: 100px;
}

#club_detail .content_list .li_2 {
	width: 395px;
	padding: 0px 5px;
	overflow: hidden;
    height: 20px;
}

#club_detail .content_list .li_2 a{
    padding-right: 5px
}

#club_detail .content_list .li_3 {
    overflow: hidden;
    height: 20px;
    width: 100px;
}

#club_detail .content_list .li_7 {
    text-align: center;
}

#club_detail .content_child .li_2 {
	width: 430px;
	padding: 0px 5px;
}

#club_detail .content_less .li_2 {
	width: 410px;
	padding: 0px 5px;
}

#replay {
	margin-top: 20px;
	
}

#replay_form {
	position: relative;
	width: 770px;
	padding-left: 70px;
	margin: 10px auto;
	display: none;
}

.write_reply {
	position: absolute;
	width: 70px;
	left: 0px;
	top: 0px;
	font-weight: bold;
}

.bnt_submit {
	margin-top: 10px;
}

#club_detail_reply {
    padding-top: 15px;	
}

#club_detail_image_title {
	text-align: center;
}

/*member_detail*/
#member_detail {
	padding-top: 20px;
	background: url(../images/member_b.jpg) no-repeat left top;
}

#member_detail #right_header ul {
	width: 853px;
	margin: 0px auto;
	height: 27px;
	background: url(../images/content_nav.jpg) no-repeat 5px top;
}

#member_content {
	background: url(../images/member_b.jpg) no-repeat left bottom;
	padding: 0px 1px;
}

#member_edit {
	background: url(../images/nav_down.jpg) repeat-x left top;
	font-size: 13px;
	width: 850px;
	margin: 0px auto; 
	padding: 40px 0px;
	line-height: 20px; 
	display: block;
   
}

#member_edit p {
	position: relative;
	width: 730px;
	margin-bottom: 20px;
	padding-left: 120px;
	color: #000000;
}

#member_edit p input {
	height: 20px;
	width: 225px;
	border: 1px solid #a8a6ab;

}

#member_edit .yzm {
	width: 40px;
}

#member_edit p.submit input {
	width: 65px;
	height: 29px;
	border: none;
}

#member_edit p span.title {
    display: block;
	white-space: nowrap;
	position: absolute;
	right: 730px;
	top: 0px;
	padding-left: 12px;
	background: url(../images/span.gif) no-repeat left; 

}


/*bottom*/
#bottom {
	margin-top: 25px;
	padding-top: 25px;
	height: 130px;
	background: url(../images/bottom.jpg) no-repeat left top;
	line-height: 25px;
	color: #515151;
}

#bottom a {
	color: #515151;
}

#bottom ul {
	width: 450px;
	margin: 0px auto;
	height: 25px;
}


#bottom ul li {
	float: left;
}

#bottom ul li a {
	display: inline-block;
	padding: 0px 10px;
}

#bottom #copyright{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 11px;
}

#bottom p{
    text-align: center;
}

#bottom #police{
    text-align: right; 
    position: relative; 
    right: 20px; 
    bottom: 70px;	
}

#bottom #icp{
    position: relative; 
    z-index: 2;	
}

/*light*/
#light {
	width: 100%;
	filter: progid :     DXImageTransform .     Microsoft .   
		 Alpha(opacity =     50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 50%;
	top: 100px;
	left: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #000000;
	display: none;
}

#paper_add {
	width: 697px;
	position: absolute;
	height: 400px;
	top: 50px;
	left: 50px;
	display: none;
	background: #ffffff url(../images/add_paper.jpg) no-repeat left top;
}

.add_title {
	height: 29px;
	line-height: 29px;
	padding-left: 15px;
	color: #ffffff;
}

#paper_add p {
	position: relative;
	padding-left: 127px;
	width: 550px;
	line-height: 22px;
	margin-top: 15px;
}

#paper_add p span {
	position: absolute;
	display: block;
	text-align: right;
	width: 123px;
	left: 0px;
	top: 0px;
}

#paper_add p input {
	width: 220px;
	height: 22px;
	border: 1px solid #cccccc;
}

#paper_add .paper_submit input {
	border: 0px;
	width: 65px;
	height: 29px;
}

/*标签页 开始*/
#tab_left {
	float: left;
	display: inline;
	padding: 8px 0px 0px 10px;
	width: 710px;
}

#tab_left h2 {
	line-height: 25px;
	height: 25px;
}

.tab_content {
	padding: 30px 10px 20px;
	background: url(../images/nav_down.jpg) repeat-x;
	width: 690px;
}

.tab_list {
	border-bottom: 1px solid #ececec;
	padding: 15px 0px;
}

.list_tab_detail {
	float: left;
	display: inline;
	padding-left: 10px;
	line-height: 25px;
}

.tab_show a {
	margin-right: 10px;
	color: #979797;
}

.tab_show span {
    font-size:14px;
    margin-left:10px;
    margin-right: 10px;
    color: #979797;
}
#text_tab_shpw{
font-size:14px;
color:#16387C;
}
.tab_pics {
	float: right;
	display: inline;
	width: 325px;
	text-align: right;
}

.tab_pics img {
	margin-right: 15px;
	height: 70px;
	border: 1px solid #ccc;
}

#tab_right {
	float: right;
	width: 188px;
	padding-top: 5px;
	background: url(../images/tab_top.jpg) no-repeat left top;
}

.concent_tab {
	padding-bottom: 120px;
	background: url(../images/tab_bottom.jpg) no-repeat left bottom;
}

.concent_tab h2 {
	padding-left: 45px;
	line-height: 25px;
	height: 25px;
	color: #585858;
	width: 143px;
}

.concent_tab p {
	background: url(../images/hot.gif) no-repeat;
	padding: 10px 40px;
	line-height: 22px;
	width: 108px
}

.concent_tab p a {
	margin-right: 8px;
}
/*标签页 结束*/

/* 图片检索开始 */

#userpic_detail #tab_left {
    width: 760px;
}

#userpic_detail #tab_right {
    width: 180px;
}

#userpic_detail #right_header span {
	vertical-align: top;
    font-size: 13px;
    height:25px;
    line-height:25px;
}

#userpic_detail #right_header {
    padding-left: 10px;
    padding-right: 10px;
}

#userpic_detail .add_new {
    right: 10px;
}

/* 图片检索结束 */

/* 文字论坛 开始 */
.permainpost .content_list .li_1 {
    padding-left: 20px;
    width: 15px;
}

.permainpost .content_list .hot {
    padding-left: 20px;
    width: 15px;
    background: url(../images/hot.jpg) no-repeat left center;
}

.permainpost .content_list .totop {
    padding-left: 20px;
    width: 15px;
    background: url(../images/totop.jpg) no-repeat left center;
    float: right;
	clear: left;
    
}

.permainpost .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height: 20px;
    font-size: 15px;
}

.permainpost .content_list .li_3 {
    overflow: hidden;
    height: 20px;
    width: 90px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}

.permainpost .content_list .li_2 a {
    display: inline-block;
    padding-right: 5px;
    color: blue;
    text-decoration: underline;
}

.permainpost .content_list .li_2 a:hover {
    color: #0066CC;
}

.permainpost .content_list .li_2 a:visited {
    color: #800080;
}

/* 文字论坛 结束 */

/* 我的帖子*/
#main_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#child_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 20px;
}


#main_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#child_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 20px;
}



#yes_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 30px;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#no_body .content_list .li_2 {
    width: 385px;
    padding: 0px 5px;
    overflow: hidden;
    height: 30px;
}

#main_right .mypost_club_content {
	background: none;
    font-size: 14px;
    width: 850px;
}

div.per_mypost {
    border-bottom:1px solid #ECECEC;
}	

/*切图*/
#pic{
text-align: center;
}

/*  viewpost 加标签 */
#tagAddBlock #tagAddButton {
    vertical-align: middle;
}

#tagAddBlock #tagInput {
	border:1px solid #CCCCCC;
	height:22px;
	width:150px;
}

.forum_image_only {
    font-size: 13px;
}

#userpic_detail p {
	font-size: 14px;
}


.current_view_post {
	font-weight: bold;
}

#post_html {
    color: #000000;
}

#post_html div{
    font-size: 15px;
}

#post_html a {
    color: blue;
    text-decoration: underline;
}

/* 首页 */
.portal_grid_link a:hover {
    text-decoration:underline;	
}

