<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>激活帐号 - 泡网俱乐部</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">激活帐号</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="form1" id="form1" method="post" action="/user/activationok/">
		<p><span>请点击"提交"按钮激活您的帐号</span></p>
		<input type="hidden" name="a" value="<?php echo $this->escape($this->a)?>" />
		<input type="hidden" name="b" value="<?php echo $this->escape($this->b)?>" />
		<input type="hidden" name="userId" value="<?php echo $this->escape($this->userId)?>" />
		<p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /></p>
		
</form>		
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
})
    
function doSubmit(){
    $("#form1").ajaxSubmit({success: handleSuccess, dataType: 'json'})
}

function handleSuccess(data){
//  alert(data);
  if(data.success){
     alert(data.messages.message);
     window.location.href="/forum/index"; 
  }else{
    alert(data.messages.message);  
  }
}
    
</script>

</body>
</html>