<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="/js/jquery.js"></script>
</head>
<script language='javascript'>
function save(){
  if($("#password1").val()!=$("#password2").val()){
  	 alert("两次输入的密码不一致");
  	 $("#password1").focus();
  	 return false;
  }
  
  thisform.submit();
}
function exit(){
  location.href = "/user/list";
}
</script>
<table width="100%">
<form name="thisform" method="post" action="/user/modify/">
<!--id-->
<input type=hidden name='userId' id='userId' value="<?php echo $this->userInfo->getUserId(); ?>">
  <tr>
   <td class="ck-bbj">
<table cellSpacing="1" cellPadding="1" align="center" border="0" width="95%">
<tr>
<td align="right" width="20%" class="ck-bgr">用户名称</td>
<td class="TD2"><input type=text name='userName'  id='userName' size='20' value="<?php echo $this->userInfo->getUserName(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">邮箱</td>
<td class="TD2"><input type=text name='email'  id='email' size='20' value="<?php echo $this->userInfo->getEmail(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">新密码</td>
<td class="TD2"><input type="password" name='password1'  id='password1' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">新密码确认</td>
<td class="TD2"><input type="password" name='password2'  id='password2' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">introduce</td>
<td class="TD2">
<textarea name="introduce" rows="4" cols="60"><?php echo $this->userInfo->getIntroduce(); ?></textarea>
&nbsp;</td>

</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" >
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
