<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码 - 泡网俱乐部</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">找回密码</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="reg" id="reg" method="post" action="/user/findpasswordpro/">
		<p><span class="title">用户名：</span><input type="text" maxlength="18" id="userName" name="userName" value=""/></p>
		<p><span class="title">注册时使用的Email：</span><input type="text" id="email" name="email"  /></p>
		<p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /><label class="msg" id="msg" style="color:red;display:inline-block; padding-left:10px;"></label></p>
</form>		
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
})
    
function doSubmit(){
    $("#reg #msg").text("");
    var userName = $.trim($("#userName").val());
    if(userName==''){
       $("#userName").focus();  
       $("#reg #msg").text("请输入用户名");
       return false;
    }   
    if(getLength(userName)>20){
       $("#userName").focus();  
       $("#reg #msg").text("用户名最长为20个字符");
       return false;
    }
    var email = $.trim($("#email").val());
    if(email==''){
       $("#email").focus(); 
       $("#reg #msg").text("请输入email地址");
       return false;
    }   
    
    $("#reg").ajaxSubmit({success: handleSuccess, dataType: 'json'})
}

function handleSuccess(data){
  if(data.success){
     alert(data.messages.message);
     window.location.href="/forum/index"; 
  }else{
    //alert(data.messages.message);  
    $("#reg #msg").text(data.messages.message);
  }
}
    
</script>

</body>
</html>