<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<center>
<form name="searchform" method="post" action="/user/del/">
<table border=1>
<tr>
<td colspan=99 align="right"><a href="/user/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>用户名称</td>
<td>邮箱</td>
<td>创建时间</td>
<td>是否管理员</td>
<td>状态</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $userInfo) { ?>
<tr>
<td><input type='checkbox' name="userId[]"  value="<?php echo $userInfo->getUserId(); ?>">&nbsp;</td>
<td><?php echo $userInfo->getUserId(); ?>&nbsp;</td>
<td align="center"><?php echo $userInfo->getUserName(); ?>&nbsp;</td>
<td><?php echo $userInfo->getEmail(); ?>&nbsp;</td>
<td><?php echo Util::date2string19($userInfo->getCreateAt()); ?>&nbsp;</td>
<td><?php echo ($userInfo->getIsAdministrator()==1?"是":"否") ?>&nbsp;</td>
<td><?php echo ($userInfo->getStatus()==1?"有效":"无效"); ?>&nbsp;</td>
<td nowrap>
<a href="/user/edit/userId/<?php echo $userInfo->getUserId(); ?>">编辑</a>&nbsp;
<a href="javascript:del(<?php echo $userInfo->getUserId(); ?>)">删除</a>&nbsp;
</td>
</tr>
<?php } ?>


</table>
</form>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/user/list/"));
   echo $pageUtil->show(1);
    // echo ($this->page);
?>
<script language="javascript">
function del(userId){
  if(confirm("您真的要删除此项纪录吗？")){
    document.searchform.action="/user/del/userId/"+userId;
    document.searchform.submit();
  }
}

function delchecked(){
     var checkall = document.getElementsByName("userId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDelete(){
 if(document.searchform.all.checked && searchform.userId!=null ){
  var r = window.confirm("确定删除本页全部？");
   if (r){
     document.searchform.action="/user/del/";
     document.searchform.submit();
    }
 }else{
 if(searchform.userId!=null){
  var flag=false;
     for ( i=0;i<searchform.userId.length; i++)
                   {
                if( document.searchform.userId[i].checked)
                  flag=true;
                   }
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){
        document.searchform.action="/user/del/";
        document.searchform.submit();
        }
     }else{
     alert("您没有选择删除项");
     }
 }
}
}
</script>
