<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div id="login">
    <h2 class="login_title">登录</h2>
    <p><span class="title">用&nbsp;户&nbsp;名：</span><input type="text" name="username" id="username"/></p>
    <p><span class="title">密&nbsp;&nbsp;&nbsp;码：</span><input type="password" name="password" id="password" onkeyup="enterToLogin(event);"/></p>
    <p><span class="title">记住密码：</span><input type="checkbox" name="flag" id="falg" value="1" checked="checked"/> <span id="msg" style="color:red;"></span></p>
    <p class="login_submit">
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" id="submitLogin" onclick="userLogin();"/>
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" id="cancelLogin" onclick="closeLoginDialog();"/>
    </p>
    <p class="login_submit">
          <a href="/user/register">注册</a>
          <a href="/user/findpassword">找回密码</a>     
    </p>
</div>