<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部-用户管理</title>

<?php
    echo $this->render('/inc/include.phtml');
?>
</head>    
<body>

<?php
?>  
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
            
  <div id="member_detail">
    <?php if($this->userInfo == null){ ?>
    <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">用户管理</a></li>
        </ul>
     </div>
     <div id="member_content">
        <div id="member_edit">
        <form name="formLookUpUser" id="formLookUpUser" method="post" action="/user/lookup/">
        <p><span>用户查询：</span><input type="text"  name="userName" value=""/></p>
        <p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="document['formLookUpUser'].submit(); return false;" /></p>
        </form>
        </div>
     </div>     
    <?php }else{ ?>
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">用户管理</a></li>
        </ul>
     </div>
     <div id="member_content">
         <div id="member_edit">
         <form name="formLookUpUser" id="formLookUpUser" method="post" action="/user/lookup/">
         <p><span>用户查询：</span><input type="text"  name="userName" value=""/></p>
         <p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="document['formLookUpUser'].submit(); return false;" /></p>
         </form>
        <p><span>用户名：</span><?php echo $this->userInfo->getUserName(); ?>&nbsp;
        <?php if(intval($this->userInfo->getStatus()) == 1) {?>
            <a href="" onclick='return updateUserStatus(<?php echo $this->userInfo->getUserId() ?>, 0);'>关闭用户</a>
           <?php
        }else if($this->userInfo->getStatus()==-1){?>
            <a href="/user/resendmail/userIdStr/<?php echo $this->userInfo->getUserId() ?>" target="_blank">发送激活邮件</a>
        <?php }else{?>
            <a href="" onclick='return updateUserStatus(<?php echo $this->userInfo->getUserId() ?>, 1);'>恢复用户</a>        	
         <?php }?>  
        </p>
        <p><span>邮箱：</span><?php echo $this->userInfo->getEmail(); ?>&nbsp;
        <input type="text" name="userEmail" id="userEmail" value=""/>&nbsp;
        <a href='' onclick='return updateUserEmail(<?php echo $this->userInfo->getUserId(); ?>);'>更新邮箱</a>
        </p>        
        
        <p><span>注册时间：</span><?php echo Util::date2string16($this->userInfo->getCreateAt()); ?>
        </p>        
        <p><span>注册IP：</span><?php echo $this->userInfo->getCreateIp(); ?>
        </p>        
        <?php
        $rbm = Rbm_RbmService::getInstance();
        $loginUserId = $rbm->getCurrentLoginUserId();
        $thisUserId = $this->userInfo->getUserId();
        foreach (PaowangData::$orderedForumsById as $forumId => $forumName) {
        	$isMember = $rbm->isMember($thisUserId, $forumId);
        	$isBanzhu = $rbm->isBanzhu($thisUserId, $forumId);
		    $canAssignBanzhu = $rbm->hasPermission($loginUserId, $forumId, Rbm_RbmService::ADMIN_ASSIGN_BANZHU);
		    $canAssignMember = $rbm->hasPermission($loginUserId, $forumId, Rbm_RbmService::ADMIN_ASSIGN_MEMBERSHIP);
		    ?>
		    
		    <p>
		      
		      <?php 
		      if($canAssignMember || $canAssignBanzhu){
                  echo  "<span>" . $forumName . ":</span>";
		      	  if($isBanzhu) {echo " 版主 ";}
		          else if($isMember) {echo " 会员 ";}
		          else{echo " 普通用户 ";};
		          if(($forumId == PaowangData::FORUM_ID_PHOTO || $forumId == PaowangData::FORUM_ID_JIAN) && $canAssignMember){
		          	if(!$isMember){
                        echo "<a href='' onclick='return updateUserRole(" . $thisUserId . ", " . $forumId . ", " . PaowangData::ROLE_MEMBER . ")'>升级为会员</a> ";		          		
		          	}
		          }
		          if($canAssignBanzhu){
		          	if(!$isBanzhu){
                        echo "<a href='' onclick='return updateUserRole(" . $thisUserId . ", " . $forumId . ", " . PaowangData::ROLE_FORUM_ADMIN . ")'>设为版主</a> ";		          		
		          	}
		          }
		          if($isMember || $isBanzhu){
		          	echo "<a href='' onclick='return updateUserRole(" . $thisUserId . ", " . $forumId . ", " . PaowangData::ROLE_NORMAL_USER . ")'>设为普通用户</a>";
		          }
		      }
		      ?>
		    
		    </p>
		    
		    <?php
		}
        ?>
        </div>
        <? } ?>
     </div>
  </div>
            
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
<script language="javascript">
function updateUserRole(userId, forumId, roleId){
    jQuery.ajax({
        type: "POST",
        url: "/user/updaterole",
        data: "userId=" + userId + "&forumId=" + forumId + "&roleId=" + roleId,
        dataType: "json",
        success: function(data) {
            if(data.success){
                popupMessageBox(data.messages.message, "用户权限", function(){document.location.reload(); });
			  }else{
			    popupMessageBox(data.messages.message, "用户权限");
			  }
	    },
        
        error: function(error) {
            alert(error);
        }
    });
    return false;
}

function updateUserStatus(userId, status){
    jQuery.ajax({
        type: "POST",
        url: "/user/updatestatus",
        data: "userId=" + userId + "&status=" + status,
        dataType: "json",
        success: function(data) {
            if(data.success){
                popupMessageBox(data.messages.message, "用户状态", function(){document.location.reload(); });
              }else{
                popupMessageBox(data.messages.message, "用户状态");  
              }
        },
        
        error: function(error) {
            alert(error);
        }
    });
    return false;
}

function updateUserEmail(userId){
    var email = document.getElementById('userEmail').value;
    if(email.length == 0){
        return false;
    }
    jQuery.ajax({
        type: "POST",
        url: "/user/updateemail",
        data: "userId=" + userId + "&email=" + email,
        dataType: "json",
        success: function(data) {
            if(data.success){
                popupMessageBox(data.messages.message, "用户邮箱", function(){document.location.reload(); });
              }else{
                popupMessageBox(data.messages.message, "用户邮箱");  
              }
        },
        
        error: function(error) {
            alert(error);
        }
    });
    return false;    
}

</script>

</body>
</html>