<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script language='javascript'>
function save(){
  thisform.submit();
}
function exit(){
  location.href = "/user/list";
}
</script>
<table width="100%">
<form name="thisform" method="post" action="/user/add/">
<!--id-->
<input type=hidden name='id' id='id' value="<?php echo $this->userInfo->getId(); ?>">
  <tr>
   <td class="ck-bbj">
<table cellSpacing="1" cellPadding="1" align="center" border="0" width="95%">
<tr>
<td align="right" width="20%" class="ck-bgr">name</td>
<td class="TD2"><input type=text name='name'  id='name' size='20' value="<?php echo $this->userInfo->getName(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">email</td>
<td class="TD2"><input type=text name='email'  id='email' size='20' value="<?php echo $this->userInfo->getEmail(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">password</td>
<td class="TD2"><input type=text name='password'  id='password' size='20' value="<?php echo $this->userInfo->getPassword(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">create_ip</td>
<td class="TD2"><input type=text name='createIp'  id='createIp' size='20' value="<?php echo $this->userInfo->getCreateIp(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">create_at</td>
<td class="TD2"><input type=text name='createAt'  id='createAt' size='20' value="<?php echo $this->userInfo->getCreateAt(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">update_at</td>
<td class="TD2"><input type=text name='updateAt'  id='updateAt' size='20' value="<?php echo $this->userInfo->getUpdateAt(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">last_login_ip</td>
<td class="TD2"><input type=text name='lastLoginIp'  id='lastLoginIp' size='20' value="<?php echo $this->userInfo->getLastLoginIp(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">last_login_at</td>
<td class="TD2"><input type=text name='lastLoginAt'  id='lastLoginAt' size='20' value="<?php echo $this->userInfo->getLastLoginAt(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">is_actived</td>
<td class="TD2"><input type=text name='isActived'  id='isActived' size='20' value="<?php echo $this->userInfo->getIsActived(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">is_administrator</td>
<td class="TD2"><input type=text name='isAdministrator'  id='isAdministrator' size='20' value="<?php echo $this->userInfo->getIsAdministrator(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">status</td>
<td class="TD2"><input type=text name='status'  id='status' size='20' value="<?php echo $this->userInfo->getStatus(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">headingphoto</td>
<td class="TD2"><input type=text name='headingphoto'  id='headingphoto' size='20' value="<?php echo $this->userInfo->getHeadingphoto(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">comefrom</td>
<td class="TD2"><input type=text name='comefrom'  id='comefrom' size='20' value="<?php echo $this->userInfo->getComefrom(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">blog</td>
<td class="TD2"><input type=text name='blog'  id='blog' size='20' value="<?php echo $this->userInfo->getBlog(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">blog_name</td>
<td class="TD2"><input type=text name='blogName'  id='blogName' size='20' value="<?php echo $this->userInfo->getBlogName(); ?>">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">introduce</td>
<td class="TD2"><input type=text name='introduce'  id='introduce' size='20' value="<?php echo $this->userInfo->getIntroduce(); ?>">&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" >
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
