<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>泡网论坛页</title>
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div align="center">
        <?php
		echo $this->render('/inc/header.phtml');
	    ?>
</div>

<div align="center"> 
<p>&nbsp;</p>
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%" valign="top">
        
        <?php
		echo $this->render('/people/left.phtml');
	    ?>
      </td>
      <td width="90%" align="left" valign="top">
      <div>
	    
        <div align="right"> </div>
 <!--内容 开始-->
 <form name="fomr1" action="/user/passwordmodify" method="post">
 <input type="hidden" name="userId" id="userId" value="<?php echo $this->userId;?>" />
 
<table cellSpacing="1" cellPadding="1" align="center" border="0" width="60%" bgcolor="#C8DAF0">

  <tr>
  <td class="ck-bgr" width="20%" nowrap>　　　　登录名：</td><td width="80%" class="TD2"><?php echo $_COOKIE["userName"];?></td>
  </tr>
  <tr>
  <td class="ck-bgr" width="20%" nowrap>　　　　原密码：</td><td width="80%" class="TD2">
     <input class='text_css' type="password" name="oldPassword" size="22">
  </td>
  </tr>
   <tr>
  <td class="ck-bgr" width="20%" nowrap>　　　　新密码：</td><td width="80%" class="TD2">
     <input class='text_css' type="password" name="newPassword" size="22">
  </td>
  </tr>
  <tr>
  <td class="ck-bgr" width="20%" nowrap>　　　密码确认：</td><td width="80%" class="TD2">
     <input class='text_css' type="password" name="retypePassword" size="22">
  </td>
  </tr>
  <?php if(!empty($this->msg)){?>
    <tr>
  <td class="ck-bgr" width="20%" colspan="2" align="center">
    <?php echo "$this->msg"; ?>
  </td>
  </tr>
<?php     
 }
 ?>	
</table>

<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
         <td align="center" width="80%">
         <input type=hidden name="user_id" value="1">
           <input  name="aaa" type="button" class="button" value=" 提 交 " onclick="fomr1.submit()" >
         <!--img src="/img/common/commit.gif" onclick="fomr1.submit()" alt="确定" onmouseover="this.style.cursor='hand'"-->

         </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>

 <!--内容 结束-->       	
        <p>&nbsp;</p></td>
        
      </div>
      </td>
    </tr>
  </table>
<script>
   function e_c(id){
   	 if(jQuery(".child"+id).css("display")=="none") {
   	    jQuery(".child"+id).show();
   	 }else{
   	    jQuery(".child"+id).hide();
   	 }
   	 if(jQuery('#e_c'+id).text()=='-'){
   	    jQuery('#e_c'+id).text('+');	
   	 }else{
   	 	jQuery('#e_c'+id).text('-');
   	 }
   }
</script>  
  <p>&nbsp;</p>
</div>
</body>
</html>
