<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>

<?php
    echo $this->render('/inc/include.phtml');
?>


</head>    
<body>
<input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
<input type="hidden" name="type" id="type" value="<?php echo $this->type;?>">
<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>

<div id="userpic_detail" >
		
    <div id="tab_left">	
      	<form action="/user/photolist/" name="thisform" method="post">	
      <div id="right_header">
        <h2>图片检索：<?php echo $this->userName;?></h2>  
        <div class="add_new">
         <span><input type="text" name="userName" value="<?php echo $this->qUserName;?>"  style="margin-top:2px;"/></span> <img src="<?php echo $this->resourceDir; ?>/images/search.jpg" onclick="thisform.submit();" /></a>
          <span style=" margin-left:50px;">共<?php echo $total;?>张 <input type="radio" name="sort" value="create_at" <?php echo $this->sort=='create_at'?"checked='checked'":"";?> onclick="thisform.submit();"/>按时间排序</span>
           <span style="margin-right:10px;"><input type="radio" name="sort" value="click" <?php echo $this->sort=='click'?"checked='checked'":"";?> onclick="thisform.submit();"/>按点击数排序</span>
          <a href="" onclick="document.getElementById('firstSlideshow').onclick(); return false;">
            <img src="<?php echo $this->resourceDir; ?>/images/hdp.jpg" />
          </a>        	
        </div>		
      </div>
        </form>
      		
		<div id="club_content" class="line_padding" style="width: 100%;">

        <table>
        
		<?php
		 $config = Zend_Registry::get('config');	
		 $i =0;
		 foreach ($this->lists as  $row) {
            if($i%4==0){
              echo "<tr>";	
            }

		 	$thumbSrc = $row["pic_thumb"];
		 	$originalSrc = $row["pic_path"];
		 	$postId = $row["post_id"];
		 	$postUrl = "/post/" . $postId;
		 	$picDesc = $row["pic_desc"];
		 	$userName = $row["user_name"];
		 	$title = $row["title"];
		 	$createAt = $row["create_at"];
		 	$voteYes = $row["vote_yes"];
		 	$voteNo = $row["vote_no"];
		 	$imageCaption = "<a href=" .$postUrl . ' target=_blank>' . $userName . ' ' . 	$title . "</a>";
		?>
		      <td>
			     <p class="pic_p">
			         <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($i > -1) {echo ' id="firstSlideshow"';} ?>  
			             onclick="return hs.expand
			                     (this, 
                                    {slideshowGroup: 'slideshow',
			                             align: 'center',
			                             transitions: ['expand', 'crossfade'],
			                             outlineType: 'rounded-white',
			                             fadeInOut: true,
			                             dimmingOpacity: .75,
			                             <?php if($i > -1)  {echo 'autoplay: false,';} ?>
			                             captionText: '<?php echo $imageCaption ?>'} 
	                             )">
			             <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
			                 alt="<?php echo $title . ' ' . $picDesc?>" />
		             </a>
                 </p>
			     <p>题目：<a href="<?php echo $postUrl;?>" target="_blank"><?php echo $title; ?></a></p>
			     <p>作者： <?php echo $userName;?></p>
			     <p><?php echo Util::date2string19($createAt);?></p>
			     <p>顶：<?php echo $voteYes;?> 踩：<?php echo $voteNo;?></p>
		      </td>
		<?php
            if(($i+1)%4==0){
              echo "</tr>";	
            }
            $i++;		 
		}//endforeach 循环lists ?>
        </table>
        </div><!--end of club_content-->
        <div id="r_bottom"><div></div>
         <div class="page">
          <?php
	      	$url = "/user/photolist/userId/".$this->userId."/sort/".$this->sort."/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(7);
          ?>
         </div>
      </div>
    </div>
    <div id="tab_right">
	    <div class="concent_tab">
			<div id="hot_tab">
			<h2>江湖色会员</h2>
			<p>
			<?php foreach($this->clubMembers as $member) {?>
			     <a href="/user/photolist/userId/<?php echo $member->getUserId(); ?>"><?php echo $member->getUserName(); ?></a>
			<?php } ?>
			</p>
			
			</div>
	    </div>
    </div>      
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    // popup dialog begin
    hs.graphicsDir = '<?php echo $this->resourceDir; ?>/js/highslide/graphics/';
    //hs.wrapperClassName = 'borderless';
    hs.showCredits = false;
    hs.preserveContent = false;
    hs.dynamicallyUpdateAnchors = false;
    //popup dialog end  
    
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        slideshowGroup: 'slideshow',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .6,
            position: 'bottom center',
            hideOnMouseOut: true
        }
    }); 
});

</script>

</body>
</html>
