<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网 - 用户注册</title>


<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<?php
?>  
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
            
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">注册</a></li>
        </ul>
     </div>
     <div id="member_content">
         <div id="member_edit">
<form name="reg" id="reg" method="post" action="/user/registersave/">
        <p><span class="title">用户名:</span><input type="text" id="userName" name="userName" maxlength="18" value="" /></p>
        <p><span class="title">邮箱地址：</span><input type="text" id="email"  name="email" /></p>
        <p><span class="title">来自哪里：</span><input type="text" id="comefrom" name="comefrom" /></p>
        <p><span class="title">自我介绍：</span><textarea cols="60" rows="10" id="introduce" name="introduce"></textarea></p>
        <p><span class="title">密码：</span><input type="password" id="password" name="password" /></p>
        <p><span class="title">重复密码：</span><input type="password" id="password2"  name="password2" /></p>
        <p><span class="title">验证码：</span><input type="text" id="qrm"  name="qrm" class="yzm" /><img src="/user/checkimage" /><label class="msg" id="msg" style="color:red;display:inline-block; padding-left:10px;"></label></p>
        <p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /></p>
</form>    
<!--<form name="reg" id="reg" method="post" action="/user/registersave/">
	<ul>
	<li><div class="t1">用户名:</div><div class="t2"><input type="text" id="userName" name="userName" maxlength="18" value="" /></div></li>
	<li><div class="t1">邮箱地址：</div><div class="t2"><input type="text" id="email"  name="email" /></div></li>
	<li><div class="t1">来自哪里：</div><div class="t2"><input type="text" id="comefrom" name="comefrom" /></div></li>
	<li><div class="t1">自我介绍：</div><div class="t2"><textarea cols="60" rows="10" id="introduce" name="introduce"></textarea></div></li>
	<li><div class="t1">密码：</div><div class="t2"><input type="password" id="password" name="password" /></div></li>
	<li><div class="t1">重复密码：</div><div class="t2"><input type="password" id="password2"  name="password2" /></div></li>
	<li><div class="t1">验证码：</div><div class="t2"><input type="text" id="qrm"  name="qrm" class="yzm" /></div><img src="/user/checkimage" /></li>
	<li><input type="image" src="/images/submit.jpg" onclick="doSubmit();return false;" /></li>
	</ul>
	</form>-->
        </div>
     </div>
  </div>
            
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
function doSubmit(){
    $("#reg #msg").text("");
    var userName = $.trim($("#userName").val());
    //alert(userName);
    //alert(getLength(userName));
    if(getLength(userName)==0){
       $("#userName").focus();  
       $("#reg #msg").text("请输入用户名");
       return false;
    }
    if(getLength(userName)>20){
       $("#userName").focus();  
       $("#reg #msg").text("用户名最长为20个字符");
       return false;
    }
    //return false;
    
    $("#reg").ajaxSubmit({success: handleRegSuccess, dataType: 'json'})
/*    var tagInput = $("#tagInput").val();

    var url = "/user/registersave/userName" + $("#userName").val() + "/email/" + $("#email").val();
    //alert(url);
    $.ajax({
        type: "post",
        url: url,
        dataType: "text",
        success: function(value){
            $("#postTagList").text(value);
            $("#tagInput").val("");
            //$("#tagAddBlock").hide();
            //$("#tagShowButton").val("添加标签");
            $("#tagShow").trigger("click");
        }
    });
    */
}

function handleRegSuccess(data){
  if(data.success){
     popupMessageBox(data.messages.message, "用户注册", function(){window.location.href="/forum/index"; });
  }else{
    $("#"+data.messages.tagid).focus();
    $("#reg #msg").text(data.messages.message);
    //$("#msg_"+data.messages.tagid).text(data.messages.message);
    //alert(data.messages.message);  
  }
}
    
</script>

</body>
</html>