<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部-重设密码</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#"><?php echo $this->escape($this->userName)?>重设密码</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="form1" id="form1" method="post" action="/user/updatepassword/">
		<p><span class="title">请输入新的密码：</span><input type="password" maxlength="18" id="newPassword" name="newPassword" value=""/></p>
		<p><span class="title">请再次输入新的密码：</span><input type="password" id="retypePassword" name="retypePassword"  /></p>
		<input type="hidden" name="a" value="<?php echo $this->escape($this->a)?>" />
		<input type="hidden" name="b" value="<?php echo $this->escape($this->b)?>" />
		<input type="hidden" name="userId" value="<?php echo $this->escape($this->userId)?>" />
		<p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /><span id="msg" style="color:red;"></span></p>
		
</form>		
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript">
$(document).ready(function(){
})
    
function doSubmit(){
    $("#form1 #msg").text("");
    //alert("ddddddd");
    var newPassword = $.trim($("#newPassword").val());
    //alert(newPassword);
    if(newPassword==''){
       $("#newPassword").focus();   
       $("#form1 #msg").text("请输入新的密码");
       return false;
    }   
    var retypePassword = $.trim($("#retypePassword").val());
    //alert(retypePassword);
    if(retypePassword==''){
       $("#retypePassword").focus();    
       $("#form1 #msg").text("请再次输入新的密码");
       return false;
    }   
    $("#form1").ajaxSubmit({success: handleSuccess, dataType: 'json'})
}

function handleSuccess(data){
  //alert(data);
  if(data.success){
     alert(data.messages.message);
     window.location.href="/forum/index"; 
  }else{
    $("#form1 #msg").text(data.messages.message);  
  }
}
    
</script>

</body>
</html>