<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>泡网论坛页</title>
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div align="center">
        <?php
		echo $this->render('/inc/header.phtml');
	    ?>
</div>

<div align="center"> 
<p>&nbsp;</p>
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%" valign="top">
        
        <?php
		echo $this->render('/people/left.phtml');
	    ?>
	    <?//include_once("/forum/forumleft");?>
      </td>
      <td width="90%" align="left" valign="top">
      <div>
	    
        <div align="right"> </div>
 <!--内容 开始-->
个人信息设置111

 <!--内容 结束-->       	
        <p>&nbsp;</p></td>
        
      </div>
      </td>
    </tr>
  </table>
<script>
   function e_c(id){
   	 if(jQuery(".child"+id).css("display")=="none") {
   	    jQuery(".child"+id).show();
   	 }else{
   	    jQuery(".child"+id).hide();
   	 }
   	 if(jQuery('#e_c'+id).text()=='-'){
   	    jQuery('#e_c'+id).text('+');	
   	 }else{
   	 	jQuery('#e_c'+id).text('-');
   	 }
   }
</script>  
  <p>&nbsp;</p>
</div>
</body>
</html>
