<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部-个人信息设置</title>

<?php
    echo $this->render('/inc/include.phtml');
?>
</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#"><?php echo $this->userInfo->getUserName(); ?>个人信息查看</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="form1" id="form1" method="post" action="/user/userinfomodify/">
		<p><span>用户名：</span><?php echo $this->userInfo->getUserName(); ?>&nbsp;</p>
		<p><span>来自哪里：</span><?php echo $this->userInfo->getComefrom(); ?>&nbsp;</p>
		<p><span>自我介绍：</span><?php echo $this->userInfo->getIntroduce();?>&nbsp;</p>
</form>		
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

</body>
</html>