<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人信息设置 - 泡网俱乐部</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">个人信息设置</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="form1" id="form1" method="post" action="/user/userinfomodify/">
	    <input type=hidden name='userId' id='userId' value="<?php echo $this->userInfo->getUserId(); ?>">
		<p><span>用户名：</span><?php echo $this->userInfo->getUserName(); ?></p>
		<p><span>邮箱地址：</span><input type="text"  name="email" value="<?php echo $this->userInfo->getEmail(); ?>"/></p>
		<p><span>来自哪里：</span><input type="text" name="comefrom" value="<?php echo $this->userInfo->getComefrom(); ?>"/></p>
		<p><span>自我介绍：</span><textarea cols="60" rows="10" name="introduce"><?php echo $this->userInfo->getIntroduce();?></textarea></p>
		<p><span>密码：</span><input type="password" name="password" />
		<p><span>重复密码：</span><input type="password"  name="password2" /></p>
		<p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /></p>
</form>		
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript">
$(document).ready(function(){
})
    
function doSubmit(){
    $("#form1").ajaxSubmit({success: handleSuccess, dataType: 'json'})
}

function handleSuccess(data){
//  alert(data);
  if(data.success){
     alert(data.messages.message);
     window.location.href="/forum/index"; 
  }else{
    alert(data.messages.message);  
  }
}
    
</script>

</body>
</html>