<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<center>
<form name="searchform" method="post" action="/demo/del/">
<table border=1>
<tr>
<td colspan=99 align="right"><a href="/demo/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>demo_id</td>
<td>demo_date</td>
<td>demo_long</td>
<td>demo_double</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $demoInfo) { ?>
<tr>
<td><input type='checkbox' name="demoId[]"  value="<?php echo $demoInfo->getDemoId(); ?>">&nbsp;</td>
<td><?php echo $demoInfo->getDemoId(); ?>&nbsp;</td>
<td align="center"><?php echo $demoInfo->getDemoVarchar(); ?>&nbsp;</td>
<td><?php echo $demoInfo->getDemoDate(); ?>&nbsp;</td>
<td><?php echo $demoInfo->getDemoLong() ?>&nbsp;</td>
<td><?php echo $demoInfo->getDemoDouble(); ?>&nbsp;</td>
<td nowrap>
<a href="/demo/view/demoId/<?php echo $demoInfo->getDemoId(); ?>">查看</a>&nbsp;
<a href="/demo/edit/demoId/<?php echo $demoInfo->getDemoId(); ?>">编辑</a>&nbsp;
<a href="javascript:del(<?php echo $demoInfo->getDemoId(); ?>)">删除</a>&nbsp;
</td>
</tr>
<?php } ?>


</table>
</form>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/demo/list/"));
   echo $pageUtil->show(1);
    // echo ($this->page);
?>
<script language="javascript">
function del(id){
  if(confirm("您真的要删除此项纪录吗？")){
    document.searchform.action="/demo/del/demoId/"+id;
    document.searchform.submit();
  }
}

function delchecked(){
     var checkall = document.getElementsByName("demoId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDelete(){
 if(document.searchform.all.checked && searchform.demoId!=null ){
  var r = window.confirm("确定删除本页全部？");
   if (r){
     document.searchform.action="/demo/del/";
     document.searchform.submit();
    }
 }else{
 if(searchform.demoId!=null){
  var flag=false;
     for ( i=0;i<searchform.demoId.length; i++)
                   {
                if( document.searchform.demoId[i].checked)
                  flag=true;
                   }
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){
        document.searchform.action="/demo/del/";
        document.searchform.submit();
        }
     }else{
     alert("您没有选择删除项");
     }
 }
}
}
</script>
