<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">
#edit {
	background: #FFF;
	border: 1px outset;
	padding: 10px;
	width:600px;
	margin-top: 200px;
	margin-left: 200px;*margin-left:-420px;
	height: 200px;
	position: absolute;
}
</style>
</head>
<center>
<div id="edit" style="display:none">
	<div>
	<input type="hidden" name="id" id="id" value="0" />
	<table>
          <tr> 
            <td width="15%" height="24" align="center">forumId：</td>
            <td> 
              <input name="forumId" type="text" id="forumId" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userId：</td>
            <td> 
              <input name="userId" type="text" id="userId" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userName：</td>
            <td> 
              <input name="userName" type="text" id="userName" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">status：</td>
            <td> 
              <input name="status" type="text" id="status" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">createAt：</td>
            <td> 
              <input name="createAt" type="text" id="createAt" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userIp：</td>
            <td> 
              <input name="userIp" type="text" id="userIp" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">updateAt：</td>
            <td> 
              <input name="updateAt" type="text" id="updateAt" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">updateIp：</td>
            <td> 
              <input name="updateIp" type="text" id="updateIp" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">title：</td>
            <td> 
              <input name="title" type="text" id="title" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">text：</td>
            <td> 
              <input name="text" type="text" id="text" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">userPostTypeId：</td>
            <td> 
              <input name="userPostTypeId" type="text" id="userPostTypeId" size="30" value="">            </td>
          </tr>
	</table>
	<input type="button" id="save" value="保存" />
	<input type="button" id="close" value="关闭" />
  </div>
 </div>
    	
<form name="searchform" method="post" action="/article/del/">
<table border=1>
<thead>
<tr>
<td colspan=99 align="right"><a id="articleNew" href="#">新增</a>&nbsp;&nbsp;
<a href="javascript:doDeleteMulti();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>id</td>
<td>user_id</td>
<td>user_name</td>
<td>status</td>
<td>create_at</td>
<td>user_ip</td>
<td>update_at</td>
<td>update_ip</td>
<td>title</td>
<td>text</td>
<td>user_post_type_id</td>
<td nowrap>操作</td>
</tr>
</thead>
<tbody id ="records">
<tr>
<td colspan="99">正在加载中</td>
</tr>
	
</tbody>
	
</table>
	
<div id="pagebar">	
<?php
  // $ajaxpage = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'ajax'=>'ajax_page','nowindex'=>$page,'page_name'=>'page','url'=>"/article/jsonlist/"));
  // echo $ajaxpage->show();
?>
</div>
		
<div id="oper" style="display:none">

</div>
</form>

<script language="javascript">

$(document).ready(function(){
   //初始化第一页
   ajax_page("/article/jsonlist");
   //新增按钮操作
   $("#articleNew").click(function(){
   	   $("#id").val(0);
       $("#forumId").val("");
       $("#userId").val("");
       $("#userName").val("");
       $("#status").val("");
       $("#createAt").val("");
       $("#userIp").val("");
       $("#updateAt").val("");
       $("#updateIp").val("");
       $("#title").val("");
       $("#text").val("");
       $("#userPostTypeId").val("");
   	   if($("#edit").css("display")=='none'){
   	         $("#edit").show(); 
   	   } 
   	   $("#save").show();
   	   $("#edit input").removeAttr("readOnly");
   });
   
   //保存按钮操作
   $("#save").click(function(){
	    $("#save").attr("disabled","true");
	    var para = "/id/"+$("#id").val();
        para += "/forumId/"+$("#forumId").val();
        para += "/userId/"+$("#userId").val();
        para += "/userName/"+$("#userName").val();
        para += "/status/"+$("#status").val();
        para += "/createAt/"+$("#createAt").val();
        para += "/userIp/"+$("#userIp").val();
        para += "/updateAt/"+$("#updateAt").val();
        para += "/updateIp/"+$("#updateIp").val();
        para += "/title/"+$("#title").val();
        para += "/text/"+$("#text").val();
        para += "/userPostTypeId/"+$("#userPostTypeId").val();
	    
		jQuery.ajax({
			type: "POST",
			url: "/article/jsonsave"+para,
			data: "",
			dataType: "json",
			success: function(tt) {
					//alert(tt);
					var cmd = tt['cmd'];
				    var articleInfo = tt['articleInfo'];
					var html = "";
					html += "<td><input type='checkbox' name='id[]'  value='"+articleInfo['id']+"'>&nbsp;</td>";
					html += "<td>"+articleInfo['id']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['forumId']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['userId']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['userName']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['status']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['createAt']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['userIp']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['updateAt']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['updateIp']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['title']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['text']+"&nbsp;</td>";
			        html += "<td>"+articleInfo['userPostTypeId']+"&nbsp;</td>";
					html += "<td nowrap>";
					html += "<a href='javascript:doView("+articleInfo['id']+")'>查看</a>&nbsp;";
					html += "<a href='javascript:doEdit("+articleInfo['id']+")'>编辑</a>&nbsp;";
					html += "<a href='javascript:doDel("+articleInfo['id']+")'>删除</a>&nbsp;";
					html += "</td>";

					if(cmd=='modify'){
					   $("#tr"+articleInfo['id']).empty();	
					   $("#tr"+articleInfo['id']).html(html);
					}else{
					   $("tbody#records").prepend("<tr id='tr"+articleInfo['id']+"'>"+html+"</tr>");
					}	
				   $("#save").removeAttr("disabled");	
				   $("#edit").hide();
			},
			
			error: function() {
				//alert("调用失败");
			}
		});      
   });
   
   //关闭按钮操作
   $("#close").click(function(){
      $("#edit").hide();
   });
   
});

function doEdit(id){
	$("#id").val(id);
    $("#forumId").val("");
    $("#userId").val("");
    $("#userName").val("");
    $("#status").val("");
    $("#createAt").val("");
    $("#userIp").val("");
    $("#updateAt").val("");
    $("#updateIp").val("");
    $("#title").val("");
    $("#text").val("");
    $("#userPostTypeId").val("");
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}
	$("#save").show();
   	$("#edit input").removeAttr("readOnly");

	jQuery.ajax({
		type: "POST",
		url: "/article/jsonget/id/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var articleInfo = tt['articleInfo'];
			    $("#id").val(id);
    			$("#forumId").val(articleInfo.forumId);
    			$("#userId").val(articleInfo.userId);
    			$("#userName").val(articleInfo.userName);
    			$("#status").val(articleInfo.status);
    			$("#createAt").val(articleInfo.createAt);
    			$("#userIp").val(articleInfo.userIp);
    			$("#updateAt").val(articleInfo.updateAt);
    			$("#updateIp").val(articleInfo.updateIp);
    			$("#title").val(articleInfo.title);
    			$("#text").val(articleInfo.text);
    			$("#userPostTypeId").val(articleInfo.userPostTypeId);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}


function doView(id){
	$("#id").val(id);
    $("#forumId").val("");
    $("#userId").val("");
    $("#userName").val("");
    $("#status").val("");
    $("#createAt").val("");
    $("#userIp").val("");
    $("#updateAt").val("");
    $("#updateIp").val("");
    $("#title").val("");
    $("#text").val("");
    $("#userPostTypeId").val("");
	$("#edit input").attr("readOnly","true");
	$("#save").hide();
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}

	jQuery.ajax({
		type: "POST",
		url: "/article/jsonget/id/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var articleInfo = tt['articleInfo'];
			    $("#id").val(id);
    			$("#forumId").val(articleInfo.forumId);
    			$("#userId").val(articleInfo.userId);
    			$("#userName").val(articleInfo.userName);
    			$("#status").val(articleInfo.status);
    			$("#createAt").val(articleInfo.createAt);
    			$("#userIp").val(articleInfo.userIp);
    			$("#updateAt").val(articleInfo.updateAt);
    			$("#updateIp").val(articleInfo.updateIp);
    			$("#title").val(articleInfo.title);
    			$("#text").val(articleInfo.text);
    			$("#userPostTypeId").val(articleInfo.userPostTypeId);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}

	
function doDel(id){
  if(confirm("您真的要删除此项纪录吗？")){
	jQuery.ajax({
		type: "POST",
		url: "/article/jsondel/id/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
			     //alert(tt);
			     $('#tr'+id).remove();
		},
		
		error: function() {
			//alert("调用失败");
		}
	});    
  }
  
}

function delchecked(){
     var checkall = document.getElementsByName("id[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDeleteMulti(){
  var checkall = document.getElementsByName("id[]");
  //alert(checkall.length);	
 if(document.searchform.all.checked && checkall.length>0 ){
    var r = window.confirm("确定删除本页全部？");
    if (r){
					var para =""
					$("input[@type='checkbox'][@name='id[]']").each(
						function()
						{
							if(this.checked)
							{
								para += "&id[]=" + this.value;
							}
						});
				    alert(para);		
					jQuery.ajax({
						type: "POST",
						url: "/article/jsondel",
						data: "id=1"+para,
						dataType: "json",
						success: function(tt) {
							jQuery.each(tt, function(i) {
					           $('#tr'+tt[i]).remove();
						    });	
						},
						
						error: function() {
							//alert("调用失败");
						}
					});							

    }
 }else{
     var flag=false;
	var para =""
	$("input[@type='checkbox'][@name='id[]']").each(
		function()
		{
			if(this.checked)
			{
				para += "&id[]=" + this.value;
				flag = true;
			}
		});
		
	//alert(para);
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){					
			jQuery.ajax({
				type: "POST",
				url: "/article/jsondel",
				data: "id=1"+para,
				dataType: "json",
				success: function(tt) {
						jQuery.each(tt, function(i) {
					        $('#tr'+tt[i]).remove();
						});							     
				},
				
				error: function() {
					//alert("调用失败");
				}
			});
        }
     }else{
        alert("您没有选择删除项");
     }					
}
}

function ajax_page(para){
	//也可以用jQuery.getJSON)()直接得到json对象。不过这个方法只能用http get。
	jQuery.ajax({
		type: "POST",
		url: para,
		data: "",
		dataType: "json",
		success: function(tt) {
			//alert(tt);
			//var tt = eval("("+t+")");//字符串转化为json对象
			$("tbody#records").empty();
			jQuery.each(tt['list'], function() {
				var html = "<tr id='tr"+this['id']+"'>";
				html += "<td><input type='checkbox' name='id[]'  value='"+this['id']+"'>&nbsp;</td>";
				html += "<td>"+this['id']+"&nbsp;</td>";
                html += "<td>"+this['forumId']+"&nbsp;</td>";
                html += "<td>"+this['userId']+"&nbsp;</td>";
                html += "<td>"+this['userName']+"&nbsp;</td>";
                html += "<td>"+this['status']+"&nbsp;</td>";
                html += "<td>"+this['createAt']+"&nbsp;</td>";
                html += "<td>"+this['userIp']+"&nbsp;</td>";
                html += "<td>"+this['updateAt']+"&nbsp;</td>";
                html += "<td>"+this['updateIp']+"&nbsp;</td>";
                html += "<td>"+this['title']+"&nbsp;</td>";
                html += "<td>"+this['text']+"&nbsp;</td>";
                html += "<td>"+this['userPostTypeId']+"&nbsp;</td>";
				html += "<td nowrap>";
				html += "<a href='javascript:doView("+this['id']+")'>查看</a>&nbsp;";
				html += "<a href='javascript:doEdit("+this['id']+")'>编辑</a>&nbsp;";
				html += "<a href='javascript:doDel("+this['id']+")'>删除</a>&nbsp;";
				html += "</td>";
				html += "</tr>";
				$("tbody#records").append(html);
			});
	        $("#pagebar").html(tt['pagebar']);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});		
}

</script>
