<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<center>
<form name="searchform" method="post" action="/article/del/">
<table border=1>
<tr>
<td colspan=99 align="right"><a href="/article/new/">新增</a>&nbsp;&nbsp;
<a href="javascript:document.searchform.submit();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>id</td>
<td>user_id</td>
<td>user_name</td>
<td>status</td>
<td>create_at</td>
<td>user_ip</td>
<td>update_at</td>
<td>update_ip</td>
<td>title</td>
<td>text</td>
<td>user_post_type_id</td>
<td nowrap>操作</td>
</tr>
<?php
	$total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<?php foreach ($this->lists as $articleInfo) { ?>
<tr>
<td><input type='checkbox' name="id[]"  value="<?php echo $articleInfo->getId(); ?>">&nbsp;</td>
<td><?php echo $articleInfo->getId(); ?>&nbsp;</td>
<td align="center"><?php echo $articleInfo->getForumId(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUserId(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUserName(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getStatus(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getCreateAt(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUserIp(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUpdateAt(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUpdateIp(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getTitle(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getText(); ?>&nbsp;</td>
<td><?php echo $articleInfo->getUserPostTypeId(); ?>&nbsp;</td>
<td nowrap>
<a href="/article/view/id/<?php echo $articleInfo->getId(); ?>">查看</a>&nbsp;
<a href="/article/edit/id/<?php echo $articleInfo->getId(); ?>">编辑</a>&nbsp;
<a href="javascript:del(<?php echo $articleInfo->getId(); ?>)">删除</a>&nbsp;
</td>
</tr>
<?php } ?>


</table>
</form>
<?php
   $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>"/article/list/"));
   echo $pageUtil->show(1);
    // echo ($this->page);
?>
<script language="javascript">
function del(id){
  if(confirm("您真的要删除此项纪录吗？")){
    document.searchform.action="/article/del/id/"+id;
    document.searchform.submit();
  }
}

function delchecked(){
     var checkall = document.getElementsByName("id[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDelete(){
 if(document.searchform.all.checked && searchform.id!=null ){
  var r = window.confirm("确定删除本页全部？");
   if (r){
     document.searchform.action="/article/del/";
     document.searchform.submit();
    }
 }else{
 if(searchform.id!=null){
  var flag=false;
     for ( i=0;i<searchform.id.length; i++)
                   {
                if( document.searchform.id[i].checked)
                  flag=true;
                   }
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){
        document.searchform.action="/article/del/";
        document.searchform.submit();
        }
     }else{
     alert("您没有选择删除项");
     }
 }
}
}
</script>
