<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script language='javascript'>
function save(){
  thisform.submit();
}
function exit(){
  location.href = "/article/list";
}
</script>
<table width="100%">
<form name="thisform" method="post" action="/article/add/">
<!--id-->
<input type=hidden name='id' id='id' value="0">
  <tr>
   <td class="ck-bbj">
<table cellSpacing="1" cellPadding="1" align="center" border="0" width="95%">
<tr>
<td align="right" width="20%" class="ck-bgr">forum_id</td>
<td class="TD2"><input type=text name='forumId'  id='forumId' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_id</td>
<td class="TD2"><input type=text name='userId'  id='userId' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_name</td>
<td class="TD2"><input type=text name='userName'  id='userName' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">status</td>
<td class="TD2"><input type=text name='status'  id='status' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">create_at</td>
<td class="TD2"><input type=text name='createAt'  id='createAt' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_ip</td>
<td class="TD2"><input type=text name='userIp'  id='userIp' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">update_at</td>
<td class="TD2"><input type=text name='updateAt'  id='updateAt' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">update_ip</td>
<td class="TD2"><input type=text name='updateIp'  id='updateIp' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">title</td>
<td class="TD2"><input type=text name='title'  id='title' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">text</td>
<td class="TD2"><input type=text name='text'  id='text' size='20' value="">&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_post_type_id</td>
<td class="TD2"><input type=text name='userPostTypeId'  id='userPostTypeId' size='20' value="">&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" >
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
