<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<table width="100%">
<form name=thisform method=post action="">
<!--id-->
<input type=hidden name='id' id='id' value="<?php echo $this->articleInfo->getId(); ?>">
<tr>
<td align="right" width="20%" class="ck-bgr">forum_id</td>
<td class="TD2"><?php echo $this->articleInfo->getForumId(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_id</td>
<td class="TD2"><?php echo $this->articleInfo->getUserId(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_name</td>
<td class="TD2"><?php echo $this->articleInfo->getUserName(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">status</td>
<td class="TD2"><?php echo $this->articleInfo->getStatus(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">create_at</td>
<td class="TD2"><?php echo $this->articleInfo->getCreateAt(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_ip</td>
<td class="TD2"><?php echo $this->articleInfo->getUserIp(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">update_at</td>
<td class="TD2"><?php echo $this->articleInfo->getUpdateAt(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">update_ip</td>
<td class="TD2"><?php echo $this->articleInfo->getUpdateIp(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">title</td>
<td class="TD2"><?php echo $this->articleInfo->getTitle(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">text</td>
<td class="TD2"><?php echo $this->articleInfo->getText(); ?>&nbsp;</td>
</tr>
<tr>
<td align="right" width="20%" class="ck-bgr">user_post_type_id</td>
<td class="TD2"><?php echo $this->articleInfo->getUserPostTypeId(); ?>&nbsp;</td>
</tr>

<br>
<table align="center">
  <tr>
    <td height="50" class="ck-bbj" align="center">
      <table width="93%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td align="right">
          <!--input  name="aaa" type="button" class="button" value=" 提 交 " onclick="javascript:save()" -->
        </td>
        <td width="25">&nbsp;</td>
        <td align="left">
          <input  name="bbb" type="button" class="button" value=" 返 回 " onclick="javascript:history.go(-1);">
        </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
