<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<style type="text/css">
#edit {
	background: #FFF;
	border: 1px outset;
	padding: 10px;
	width:600px;
	margin-top: 200px;
	margin-left: 200px;
	height: 200px;
	position: absolute;
}
</style>
</head>
<center>
<div id="edit" style="display:none">
	<form method="get" action="process.php">
	<div>
	<input type="hidden" name="demoId" id="demoId" value="0" />
	<table>
          <tr> 
            <td width="15%" height="24" align="center">demoVarchar：</td>
            <td> 
              <input name="demoVarchar" type="text" id="demoVarchar" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">demoDate：</td>
            <td> 
              <input name="demoDate" type="text" id="demoDate" size="30" value="">            </td>
          </tr>          
          <tr> 
            <td width="15%" height="24" align="center">demoLong：</td>
            <td> 
              <input name="demoLong" type="text" id="demoLong" size="30" value="">            </td>
          </tr>
          <tr> 
            <td width="15%" height="24" align="center">demoDouble：</td>
            <td> 
              <input name="demoDouble" type="text" id="demoDouble" size="30" value="">            </td>
          </tr>
	</table>
	<input type="button" id="save" value="保存" />
	<input type="button" id="close" value="关闭" />
	</form>
  </div>
 </div>
    	
<form name="searchform" method="post" action="/demo-ajax/del/">
<table border=1>
<thead>
<tr>
<td colspan=99 align="right"><a id="demoNew" href="#">新增</a>&nbsp;&nbsp;
<a href="javascript:doDeleteMulti();">删除</a>
</td>
</tr>
<tr>
<td align="center" nowrap><input type='checkbox' name="all" onclick="javascript:delchecked()"></td>
<td>编号</td>
<td>demo_id</td>
<td>demoDate</td>
<td>demoLong</td>
<td>demoDouble</td>
<td nowrap>操作</td>
</tr>
</thead>
<tbody id ="records">
<tr>
<td colspan="7">正在加载中</td>
</tr>
	
</tbody>
	
</table>
	
<div id="pagebar">	
<?php
  // $ajaxpage = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'ajax'=>'ajax_page','nowindex'=>$page,'page_name'=>'page','url'=>"/demo-ajax/jsonlist/"));
  // echo $ajaxpage->show();
?>
</div>
		
<div id="oper" style="display:none">

</div>
</form>

<script language="javascript">

$(document).ready(function(){
   //初始化第一页
   ajax_page("/demo-ajax/jsonlist");
   //新增按钮操作
   $("#demoNew").click(function(){
   	   $("#demoId").val(0);
   	   $("#demoVarchar").val("");
   	   $("#demoDate").val("");
   	   $("#demoLong").val("");
   	   $("#demoDouble").val("");
   	   if($("#edit").css("display")=='none'){
   	         $("#edit").show(); 
   	   } 
   	   $("#save").show();
   	   $("#edit input").removeAttr("readOnly");
   });
   
   //保存按钮操作
   $("#save").click(function(){
	    $("#save").attr("disabled","true");
	    var para = "/demoId/"+$("#demoId").val();
	    para += "/demoVarchar/"+$("#demoVarchar").val();
	    para += "/demoDate/"+$("#demoDate").val();
	    para += "/demoLong/"+$("#demoLong").val();
	    para += "/demoDouble/"+$("#demoDouble").val();
	    
		jQuery.ajax({
			type: "POST",
			url: "/demo-ajax/jsonsave"+para,
			data: "",
			dataType: "json",
			success: function(tt) {
					//alert(tt);
					var cmd = tt['cmd'];
				    var demoInfo = tt['demoInfo'];
					var html = "";
					html += "<td><input type='checkbox' name='demoId[]'  value='"+demoInfo['demoId']+"'>&nbsp;</td>";
					html += "<td>"+demoInfo['demoId']+"&nbsp;</td>";
					html += "<td align='center'>"+demoInfo['demoVarchar']+"&nbsp;</td>";
					html += "<td>"+demoInfo['demoDate']+"&nbsp;</td>";
					html += "<td>"+demoInfo['demoLong']+"&nbsp;</td>";
					html += "<td>"+demoInfo['demoDouble']+"&nbsp;</td>";
					html += "<td nowrap>";
					html += "<a href='javascript:doView("+demoInfo['demoId']+")'>查看</a>&nbsp;\n";
					html += "<a href='javascript:doEdit("+demoInfo['demoId']+")'>编辑</a>&nbsp;\n";
					html += "<a href='javascript:doDel("+demoInfo['demoId']+")'>删除</a>&nbsp;\n";
					html += "</td>";

					if(cmd=='modify'){
					   $("#tr"+demoInfo['demoId']).empty();	
					   $("#tr"+demoInfo['demoId']).html(html);
					}else{
					   $("tbody#records").prepend("<tr id='tr"+demoInfo['demoId']+"'>"+html+"</tr>");
					}	
				   $("#save").removeAttr("disabled");	
				   $("#edit").hide();
			},
			
			error: function() {
				//alert("调用失败");
			}
		});      
   });
   
   //关闭按钮操作
   $("#close").click(function(){
      $("#edit").hide();
   });
   
});

function doEdit(id){
	$("#demoId").val(id);
	$("#demoVarchar").val("");
	$("#demoDate").val("");
	$("#demoLong").val("");
	$("#demoDouble").val("");
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}
	$("#save").show();
   	$("#edit input").removeAttr("readOnly");

	jQuery.ajax({
		type: "POST",
		url: "/demo-ajax/jsonget/demoId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var demoInfo = tt['demoInfo'];
			    $("#demoId").val(id);
				$("#demoVarchar").val(demoInfo.demoVarchar);
				$("#demoDate").val(demoInfo.demoDate);
				$("#demoLong").val(demoInfo.demoLong);
				$("#demoDouble").val(demoInfo.demoDouble);			    
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}


function doView(id){
	$("#demoId").val(id);
	$("#demoVarchar").val("");
	$("#demoDate").val("");
	$("#demoLong").val("");
	$("#demoDouble").val("");
	$("#edit input").attr("readOnly","true");
	$("#save").hide();
	if($("#edit").css("display")=='none'){
	     $("#edit").show(); 
	}

	jQuery.ajax({
		type: "POST",
		url: "/demo-ajax/jsonget/demoId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
				 //alert(tt);
			    var demoInfo = tt['demoInfo'];
			    $("#demoId").val(id);
				$("#demoVarchar").val(demoInfo.demoVarchar);
				$("#demoDate").val(demoInfo.demoDate);
				$("#demoLong").val(demoInfo.demoLong);
				$("#demoDouble").val(demoInfo.demoDouble);			    
		},
		
		error: function() {
			//alert("调用失败");
		}
	});
}

	
function doDel(id){
  if(confirm("您真的要删除此项纪录吗？")){
	jQuery.ajax({
		type: "POST",
		url: "/demo-ajax/jsondel/demoId/"+id,
		data: "",
		dataType: "json",
		success: function(tt) {
			     //alert(tt);
			     $('#tr'+id).remove();
		},
		
		error: function() {
			//alert("调用失败");
		}
	});    
  }
  
}

function delchecked(){
     var checkall = document.getElementsByName("demoId[]");
     if(document.searchform.all.checked){
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked= true;
                      
                   }
     }else{
                   for ( i=0;i<checkall.length; i++)
                   {
                      checkall[i].checked	= false;
                   }
     }
}

function doDeleteMulti(){
  var checkall = document.getElementsByName("demoId[]");
  //alert(checkall.length);	
 if(document.searchform.all.checked && checkall.length>0 ){
    var r = window.confirm("确定删除本页全部？");
    if (r){
					var para =""
					$("input[@type='checkbox'][@name='demoId[]']").each(
						function()
						{
							if(this.checked)
							{
								para += "&demoId[]=" + this.value;
							}
						});
				    alert(para);		
					jQuery.ajax({
						type: "POST",
						url: "/demo-ajax/jsondel",
						data: "id=1"+para,
						dataType: "json",
						success: function(tt) {
							jQuery.each(tt, function(i) {
					           $('#tr'+tt[i]).remove();
						    });	
						},
						
						error: function() {
							//alert("调用失败");
						}
					});							

    }
 }else{
     var flag=false;
	var para =""
	$("input[@type='checkbox'][@name='demoId[]']").each(
		function()
		{
			if(this.checked)
			{
				para += "&demoId[]=" + this.value;
				flag = true;
			}
		});
		
	//alert(para);
     if(flag){
     var r = window.confirm("确定删除所选项？");
        if(r){					
			jQuery.ajax({
				type: "POST",
				url: "/demo-ajax/jsondel",
				data: "id=1"+para,
				dataType: "json",
				success: function(tt) {
						jQuery.each(tt, function(i) {
					        $('#tr'+tt[i]).remove();
						});							     
				},
				
				error: function() {
					//alert("调用失败");
				}
			});
        }
     }else{
        alert("您没有选择删除项");
     }					
}
}

function ajax_page(para){
	//也可以用jQuery.getJSON)()直接得到json对象。不过这个方法只能用http get。
    //$("tbody#records").html("<tr><td colspan=\"7\">正在加载中</td></tr>");
	jQuery.ajax({
		type: "POST",
		url: para,
		data: "",
		dataType: "json",
		success: function(tt) {
			//alert(tt);
			//var tt = eval("("+t+")");//字符串转化为json对象
			$("tbody#records").empty();
			jQuery.each(tt['list'], function() {
				var html = "<tr id='tr"+this['demoId']+"'>";
				html += "<td><input type='checkbox' name='demoId[]'  value='"+this['demoId']+"'>&nbsp;</td>";
				html += "<td>"+this['demoId']+"&nbsp;</td>";
				html += "<td align='center'>"+this['demoVarchar']+"&nbsp;</td>";
				html += "<td>"+this['demoDate']+"&nbsp;</td>";
				html += "<td>"+this['demoLong']+"&nbsp;</td>";
				html += "<td>"+this['demoDouble']+"&nbsp;</td>";
				html += "<td nowrap>";
				html += "<a href='javascript:doView("+this['demoId']+")'>查看</a>&nbsp;\n";
				html += "<a href='javascript:doEdit("+this['demoId']+")'>编辑</a>&nbsp;\n";
				html += "<a href='javascript:doDel("+this['demoId']+")'>删除</a>&nbsp;\n";
				html += "</td>";
				html += "</tr>";
				$("tbody#records").append(html);
			});
	        $("#pagebar").html(tt['pagebar']);
		},
		
		error: function() {
			//alert("调用失败");
		}
	});		
}

</script>
