<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部-屏蔽关键词设置</title>

<?php
    echo $this->render('/inc/include.phtml');
?>
</head>    
<body>

<?php
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  			
  <div id="member_detail">
     <div id="right_header">
        <ul>
          <li class="ul_li_1"><a href="#">屏蔽关键词设置</a></li>
        </ul>
     </div>
	 <div id="member_content">
		 <div id="member_edit">
<form name="form1" id="form1" method="post" action="/forum/backendkeyeditsave/">
	    <?php if($this->isAdministrator){?>
		<p><span class="title">关键词(","分割)：</span><textarea cols="60" rows="10" id="content" name="content"><?php echo $this->content;?></textarea></p>
		<p class="submit"><input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" onclick="doSubmit();return false;" /><span id="msg" style="color:red;"></span> </p>
		<?php }else{?>	
		  <p><span id="msg" style="color:red;">您没有权限修改，请联系系统管理员。</span> </p>			
</form>	<?php }?>	
		</div>
	 </div>
  </div>
  			
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript"> 
function doSubmit(){
    $("#form1").ajaxSubmit({success: handleSuccess, dataType: 'json'})
}

function handleSuccess(data){
//  alert(data);
  $("#msg").text("");
  if(data.success){
     alert(data.messages.message);
     window.location.href="/forum/index"; 
  }else{
    $("#msg").text(data.messages.message);   
  }
}
    
</script>

</body>
</html>