<style type="text/css">

.jsg_upload_block {
    height: auto;
    width: auto;
    position: relative;
    padding-left: 127px;
    width: 550px;
    line-height: 22px;
    margin-top: 15px;
}
.jsg_image_preview {
    float: left; 
    background: url() no-repeat center 50%; 
    width: 160px; 
    height: 120px; 
    border: solid 1px #cccccc; 
    margin: 0px 5px 25px;}
</style>

<input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
<input type="hidden" name="currentForumTab" id="currentForumTab" value="<?php echo $this->type;?>">
<?php 
    $backgroundImage = "tab_nav_3.jpg";
    if(Util::isUserLogin()) {
    	$backgroundImage = "tab_nav_5.jpg"; 
	?>
    <ul id="tab_login">
<?php } else { ?>
    <ul id="tab_not_login">
<?php } ?>

	<li class="ul_li_1"><a href="/<?php echo PaowangData::$forumUrlById[$this->forumId];?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_ALL; ?>"><?php echo $this->forumName; ?>首页</a></li>

	<li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/<?php echo PaowangData::FORUM_TAB_NEW; ?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_NEW; ?>">最新主题</a></li>
	<li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/<?php echo PaowangData::FORUM_TAB_NEWREPLY; ?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_NEWREPLY; ?>">最新回贴</a></li>
	<!--
	<li><a href="/forum/index/forumId/<?php echo $this->forumId;?>/type/<?php echo PaowangData::FORUM_TAB_WAKEUP; ?>" id="forumTab_<?php echo PaowangData::FORUM_TAB_WAKEUP; ?>">关注旧贴</a></li>
   -->
	
	<?php if(Util::isUserLogin()) { ?>
	<li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/mypost" id="forumTab_<?php echo PaowangData::FORUM_TAB_MYPOST; ?>">我的帖子</a></li>
	<li><a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/myvote" id="forumTab_<?php echo PaowangData::FORUM_TAB_MYVOTE; ?>">我的评价</a></li>
	<?php } ?>
  <?php // }//end of  listType!="pic"?>		   		
</ul>

<div class="add_new">
<?php if(PaowangData::isPhotoForum($this->forumId)){
	
?>

        <a href="" onclick="document.getElementById('firstSlideshow').onclick(); return false;">
            <img src="<?php echo $this->resourceDir; ?>/images/hdp.jpg" />
        </a>
    <?php if($this->listType=='list'){ 
    	$url = "/forum/index/listType/list/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/pic"><img src="<?php echo $this->resourceDir; ?>/images/just_pic.jpg" /></a>
    <?php }else{
    	$url = "/forum/index/listType/pic/forumId/" . $this->forumId. "/type/" . $this->type . "/";
    ?>
        <a href="/forum/<?php echo PaowangData::$forumUrlById[$this->forumId];?>/list"><img src="<?php echo $this->resourceDir; ?>/images/just_post.jpg" /></a>
    <?php }?>  
<?php } else{
	//文本论坛
    $url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/";
}?>	        
    
<div style="display:none;">
    <a href="" 
        id="popupNewPost"
        onclick="return hs.htmlExpand(this, 
                                    { contentId: 'highslide_add_new', 
                                    width: 800, 
                                    height: 600, 
                                    align: 'center',
                                    wrapperClassName: 'login_highslide'
                                    } );">
        <img src="<?php echo $this->resourceDir; ?>/images/add_new.jpg" />
    </a>

</div>
     <?php
          	$isAdministrator = Rbm_RbmService::getInstance()->isAdministrator(Util::getUserId());
          	if($isAdministrator){
          		echo "<a href='/forum/backendleftedit'>左侧编辑</a>";
          	}
     ?>
     <?php
     	$canManageForum = Rbm_RbmService::getInstance()->hasPermission(
    		Util::getUserId(), $this->forumId, Rbm_RbmService::ADMIN_MANAGE_FORUM);
    	if($canManageForum){
           echo "<a href='/forum/backendkeyedit'>关键词屏蔽</a>";   
           if($this->isManage==0){?>
             <a href="<?php echo $url."isManage/1/"; ?>">管理论坛</a>
      <?php }else{?>
     	<a href="<?php echo $url; ?>">取消管理</a>&nbsp;   
      <?php }
    	} ?> 
    <a href="" 
        onclick="return doubleCheckAddNewPost();">
        <img src="<?php echo $this->resourceDir; ?>/images/add_new.jpg" />
    </a>
</div>     



<script language="javascript">
$(document).ready(function(){
    
    //使当前forum tab“着重”显示 开始
    var currentForumTabId = "#forumTab_"+ $("#currentForumTab").val(); 
    $(currentForumTabId).css("color","#fff");
    var $i=$("#right_header a").index($(currentForumTabId))*(-27)+"px";
    $("#right_header ul").css("background","url(<?php echo $this->resourceDir; ?>/images/<?php echo $backgroundImage; ?>) no-repeat left "+$i);
    //使当前forum tab“着重”显示 结束
    
});     
canAddPost = <?php echo $this->canAddPost==null? 'true':$this->canAddPost; ?>;
hs.Expander.prototype.onAfterExpand = function() {
    if(this.a.id != 'popupNewPost') {
        return;
    }

 
}

function doubleCheckAddNewPost(){
    if(!isUserLogin()){
        return popupLoginDialog();
    }
    if(!canAddPost){
        popupMessageBox("只有剑的会员才可以在剑里加帖，具体请参考帮助中心。", "加帖子");
        return false;
    }
    return popupAddNewPostDialog();
}

</script>

<!-- add post popup content -->
<div class="highslide-maincontent" id="highslide_add_new" style="position: absolute;z-index: 1001;display:none;">
  <div class="highslide-body" style="overflow: auto">
    <form name="addNewPostForm" id="addNewPostForm" action="/post/temp2online"  method="post" enctype="multipart/form-data"">
        <input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
        <input type="hidden" name="postId" id="postId" value="0">
        <input type="hidden" name="uploadPic" id="uploadPic" value="1">    

        <div id="mypaper_add">
        <h2 class="myadd_title">加帖子</h2>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;题：</span><input type="text" name="title" id="title" /></p>
        <p><span class="title">帖子内容：</span>
        <textarea id="text" name="text"></textarea>
        </p>
        <p><span class="title">标&nbsp;&nbsp;&nbsp;&nbsp;签：</span><input type="text" name="tags" id="tags"/></p>
<?php 
    $canUplaodPicture = Rbm_RbmService::getInstance()->hasPermission(
                 Util::getUserId(), $this->forumId, Rbm_RbmService::USER_UPLOAD_PICTURE);
    if(PaowangData::$forumsUploadPics[$this->forumId]>0 && $canUplaodPicture){?>
        <p>
          <span class="title">上传图片：</span>
          <div id="upload_block" class="jsg_upload_block">
              <div id="preview_block"></div>
              <div style="clear: both;">
                <span id="image_input_block"></span>
              </div>
           </div>
        </p>
        <?php
           //}
        ?>
<?php }?>        

        <script language="javascript">
        //var editor = CKEDITOR.replace('text');
    var oFCKeditor = new FCKeditor('text');
    oFCKeditor.BasePath = "/js/fckeditor/";
    oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
    oFCKeditor.ToolbarSet = 'Paowang' ;
    if(!WebKitDetect.isMobile() ) {
        oFCKeditor.ReplaceTextarea();
    }
<?php 
    $canUplaodPicture = Rbm_RbmService::getInstance()->hasPermission(
                 Util::getUserId(), $this->forumId, Rbm_RbmService::USER_UPLOAD_PICTURE);
    if(PaowangData::$forumsUploadPics[$this->forumId]>0 && $canUplaodPicture){?>    
    myImageUploader1 = new JSG.imgUploader({fileLimits: <?php echo PaowangData::$forumsUploadPics[$this->forumId];?>, actionUrl: '/post/testpicupload/', inputContainer: 'image_input_block', previewContainer: 'preview_block'});
    
    $('#getFiles').click(function() {
        $('#resultGetFiles').html(myImageUploader1.getFilesAll());
    }); 
<?php }?>                
        </script>        	
        				
        <p class="mypaper_submit">
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/submit.jpg" id="submit_button" onclick="return submitAddNewPost();" />
          <input type="image" src="<?php echo $this->resourceDir; ?>/images/cancel.jpg" id="cancleAddPost" onclick="return cancelAddNewPost();"/>
            <span id="msg" style="color:red;"></span>
        </p>
        </div>
    </form> 
  </div>
</div>        