<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php 
// display login info
$isUserLogin = false;
$userId = null;
$userName = null;
$isManage = $this->isManage;

if(Rbm_RbmService::getInstance()->isUserLogin()){
    $isUserLogin = true;
    $userId = Util::getUserId();
    $userName = Util::getUserName();


$forumUrl = PaowangData::$forumUrlById[$this->forumId];
?>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->forumName; ?> - 泡网俱乐部</title>
<meta name=keywords content="<?php echo $this->forumName; ?>">
<meta name=description content="<?php echo $this->forumName; ?>">
<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    

<body>

<input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
<input type="hidden" name="type" id="type" value="<?php echo $this->type;?>">
<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="main_left">
     	<?php
           echo $this->render('/forum/leftforum.phtml');
        ?>
      <div id="hot_tab">
	    <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");	    
        ?>	
      </div>
    </div>
    <div id="main_right">
      <div id="right_header">
        <?php
	       echo $this->render('/forum/forumheader.phtml');
        ?>	    
      </div>
		<div id="club_content" class="line_padding">

       <div class="club_host">
          <div style="float:right;">版主:<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>
       </div>

		
        <table class="forum_image_only">
        
        
        <tr>
        
<?php
       $config = Zend_Registry::get('config');
       $i = -1;
       if($this->type==PaowangData::FORUM_TAB_ALL && $this->hotLists!=null){
        foreach ($this->hotLists as $row) { 
		   $postInfo = $row["postInfo"];
		    if($row["piclists"]!=null){
				foreach ($row["piclists"] as $postpicInfo) { 
	                $thumbSrc = $postpicInfo->getPicThumb();
	                $originalSrc = $postpicInfo->getPicPath();
	                $postId = $postInfo->getPostId();
	                $postUrl = "/post/" . $postId;
	                $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
?>
		      <td>
			     <p class="pic_p">
			         <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($i ==-1) {echo ' id="firstSlideshow"';} ?>  
			             onclick="return hs.expand
			                     (this, 
                                    {slideshowGroup: 'slideshow',
			                             align: 'center',
			                             transitions: ['expand', 'crossfade'],
			                             outlineType: 'rounded-white',
			                             fadeInOut: true,
			                             dimmingOpacity: .75,
			                             <?php if($i == -1)  {echo 'autoplay: false,';} ?>
			                             captionText: '<?php echo $imageCaption ?>'} 
	                             )">
			             <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
			                 alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
		             </a>
                 </p>
			     <p><a href="<?php echo $postUrl;?>" target="postcontent"><?php echo $postInfo->getTitle(); ?></a></p>
			     <p>作者： <a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName();?></a><img src="<?php echo $this->resourceDir; ?>/images/hot.jpg"/></p>
			     <p><?php echo Util::date2string19($postInfo->getCreateAt());?></p>
			     <p>顶：<?php echo $postInfo->getVoteYes();?> 踩：<?php echo $postInfo->getVoteNo();?></p>
		      </td>
<?php	            
                  break;    
				}
		    }
        }    	    
       }
?>        

		      
		              
        </tr>  
        
		<?php
		 $i =0;
		 foreach ($this->lists as  $row) {
            if($i%5==0){
              echo "<tr>";	
            }
		 	$postpicInfo = $row["postpicInfo"];
		    $postInfo = $row["postInfo"];
		 	$thumbSrc = $postpicInfo->getPicThumb();
		 	$originalSrc = $postpicInfo->getPicPath();
		 	$postId = $postInfo->getPostId();
		 	$postUrl = "/post/" . $postId;
		 	$imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
		?>
		      <td>
			     <p class="pic_p">
			         <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($i ==-1) {echo ' id="firstSlideshow"';} ?>  
			             onclick="return hs.expand
			                     (this, 
                                    {slideshowGroup: 'slideshow',
			                             align: 'center',
			                             transitions: ['expand', 'crossfade'],
			                             outlineType: 'rounded-white',
			                             fadeInOut: true,
			                             dimmingOpacity: .75,
			                             <?php if($i == -1)  {echo 'autoplay: false,';} ?>
			                             captionText: '<?php echo $imageCaption ?>'} 
	                             )">
			             <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
			                 alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
		             </a>
                 </p>
			     <p><a href="<?php echo $postUrl;?>" target="postcontent"><?php echo $postInfo->getTitle(); ?></a></p>
			     <p>作者： <a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName();?></a></p>
			     <p><?php echo Util::date2string19($postInfo->getCreateAt());?></p>
			     <p>顶：<?php echo $postInfo->getVoteYes();?> 踩：<?php echo $postInfo->getVoteNo();?></p>
		      </td>
		<?php
            if(($i+1)%5==0){
              echo "</tr>";	
            }
            $i++;		 
		}//endforeach 循环lists ?>

        </table>
        </div><!--end of club_content-->
        <div id="r_bottom"><div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
         <div class="page">
          <?php
	      	$url = "/forum/index/listType/pic/forumId/" . $this->forumId. "/type/" . $this->type . "/isManage/".$isManage."/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(7);
          ?>
         </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        slideshowGroup: 'slideshow',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .6,
            position: 'bottom center',
            hideOnMouseOut: true
        }
    }); 
});
</script>

</body>
</html>
