<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->forumName; ?> - 泡网俱乐部</title>
<meta name=keywords content="<?php echo $this->forumName; ?>">
<meta name=description content="<?php echo $this->forumName; ?>">
<?php
    echo $this->render('/inc/include.phtml');
    $isManage =$this->isManage;
?>

</head>
<body>

<input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
<input type="hidden" name="type" id="type" value="<?php echo $this->type;?>">
<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="main_left">
     	<?php
           echo $this->render('/forum/leftforum.phtml');
        ?>
      <div id="hot_tab">
	    <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");	    
        ?>	
      </div>
    </div>
    <div id="main_right">
      <div id="right_header">
        <?php
	       echo $this->render('/forum/forumheader.phtml');
        ?>	      
      </div>

      <div id="pic_club_content">
       <div class="club_host">
          <div style="float:right;">版主:<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>
       </div>

        <ul id="content_top">
          <li class="li_1">标题</li>
          <li class="li_3">作者</li>
          <li class="li_4">时间</li>
          <li class="li_5">长度</li>
          <li class="li_6">点击</li>
          <li class="li_7">评价</li>
        </ul>
   <?php
        $config = Zend_Registry::get('config');
        $firstImage = true; 
       if($this->type==PaowangData::FORUM_TAB_ALL && $this->topLists!=null){
        foreach ($this->topLists as $row) { 
		   $postInfo = $row["postInfo"];
	?>         	 

        <div class="wrap_content permainpost">
	        <div class="wrap_content_left" style="display:none;">
						<?php if($row["piclists"]!=null){?>
							<?php foreach ($row["piclists"] as $postpicInfo) { 
                                    $thumbSrc = $postpicInfo->getPicThumb();
                                    $originalSrc = $postpicInfo->getPicPath();
                                    $postId = $postInfo->getPostId();
                                    $postUrl = "/post/" . $postId;
                                    $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
							?>             
						         <a href="<?php echo $config->general->picture->url . $originalSrc ?>" <?php if($firstImage) {echo ' id="firstSlideshow"';} ?>  
                                    onclick="return hs.expand
                                        (this, 
                                            {slideshowGroup: 'slideshow',
                                            align: 'center',
                                            transitions: ['expand', 'crossfade'],
                                            outlineType: 'rounded-white',
                                            fadeInOut: true,
                                            dimmingOpacity: .75,
                                            <?php if($firstImage)  {echo 'autoplay: false,';} $firstImage = false;?>
                                            captionText: '<?php echo $imageCaption ?>'} 
                                        )">
                                    <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                                        alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                                </a>
						            
							<?php } //end foreach piclists?>	
						<?php }// end if piclists
                  ?>  
	        </div><!--end of wrap_content_left-->
	        <div class="wrap_content_right">
		        <ul class="content_list">
		          <li class="li_2"><a href="/post/<?php echo $postInfo->getPostId(); ?>" target="postcontent" title="<?php echo  $postInfo->getTitle();?>"><?php echo $postInfo->getTitle(); ?></a><img src="<?php echo $this->resourceDir; ?>/images/totop.jpg"/></li>
		          <li class="li_3"><a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName(); ?></a></li>
		          <li class="li_4"><?php echo Util::date2string16($postInfo->getCreateAt()); ?></li>
		          <li class="li_5"><?php echo $postInfo->getTextLength(); ?></li>
		          <li class="li_6"><?php echo $postInfo->getClick(); ?> </li>
		          <li class="li_7"><?php echo $postInfo->getVoteYes(); ?>/<?php echo $postInfo->getVoteNo(); ?></li>
		        </ul>
	        <!--
			 <?php if($row["childs"]!=null){?>
				<?php foreach ($row["childs"] as $postInfoChild) { 
				?>		   
		        <ul class="content_list">
		          <li class="li_2"><div style="padding-left:<?php echo (intval($postInfoChild->getDepth())-1)*10;?>px"><img src="<?php echo $this->resourceDir; ?>/images/small_title.gif" /><a href="/post/<?php echo $postInfoChild->getPostId(); ?>" target="postcontent" title="<?php echo  $postInfoChild->getTitle();?>"><?php echo $postInfoChild->getTitle(); ?></a></div></li>
			          <li class="li_3"><?php echo $postInfoChild->getUserName(); ?></li>
			          <li class="li_4"><?php echo Util::date2string16($postInfoChild->getCreateAt()); ?></li>
			          <li class="li_5"><?php echo $postInfoChild->getTextLength(); ?></li>
			          <li class="li_6"><?php echo $postInfoChild->getClick(); ?> </li>
			          <li class="li_7"><?php echo $postInfoChild->getVoteYes(); ?>/<?php echo $postInfoChild->getVoteNo(); ?></li>
		        </ul>				     
				<?php } //end foreach循环子帖?>	
			 <?php }// end if 子贴非空?>  
			 -->  		          
           </div><!--end of wrap_content_right-->
    </div><!--end of wrap_content--> 
    <div class="clear"></div>
   <?php }//endforeach 循环主贴 
   	}	   
   ?>  
   			           	
        
   <?php
        $firstImage = true; 
        foreach ($this->lists as $row) { 
		   $postInfo = $row["postInfo"];
	?>         	 

        <div class="wrap_content">
	        <div class="wrap_content_left">
						<?php if($row["piclists"]!=null){?>
							<?php foreach ($row["piclists"] as $postpicInfo) { 
                                    $thumbSrc = $postpicInfo->getPicThumb();
                                    $originalSrc = $postpicInfo->getPicPath();
                                    $postId = $postInfo->getPostId();
                                    $postUrl = "/post/" . $postId;
                                    $imageCaption = "<a href=" .$postUrl . ' target=postcontent>' . $postInfo->getUserName() . ' ' . $postpicInfo->getPicDesc() . "</a>";
							?>             
						         <a href="<?php echo $config->general->picture->url.$originalSrc ?>" <?php if($firstImage) {echo ' id="firstSlideshow"';} ?>  
                                    onclick="return hs.expand
                                        (this, 
                                            {slideshowGroup: 'slideshow',
                                            align: 'center',
                                            transitions: ['expand', 'crossfade'],
                                            outlineType: 'rounded-white',
                                            fadeInOut: true,
                                            dimmingOpacity: .75,
                                            <?php if($firstImage)  {echo 'autoplay: false,';} $firstImage = false;?>
                                            captionText: '<?php echo $imageCaption ?>'} 
                                        )">
                                    <img src="<?php echo $config->general->picture->url.$thumbSrc; ?>" 
                                        alt="<?php echo $postInfo->getTitle() . ' ' . $postpicInfo->getPicDesc()?>" />
                                </a>
						            
							<?php } //end foreach piclists?>	
						<?php }// end if piclists?>  
	        </div><!--end of wrap_content_left-->
	        
	        <div class="wrap_content_right">
		        <ul class="content_list">
		          <li class="li_2"><a href="/post/<?php echo $postInfo->getPostId(); ?>" target="postcontent" title="<?php echo  $postInfo->getTitle();?>"><?php echo $postInfo->getTitle(); ?><?php echo ($postInfo->getStatus()==0?"<span style=\"color:red;\">已经删除</span>":"")?></a></li>
		          <li class="li_3"><a href="/user/photolist/userId/<?php echo $postInfo->getUserId(); ?>"><?php echo $postInfo->getUserName(); ?></a></li>
		          <li class="li_4"><?php echo Util::date2string16($postInfo->getCreateAt()); ?></li>
		          <li class="li_5"><?php echo $postInfo->getTextLength(); ?></li>
		          <li class="li_6"><?php echo $postInfo->getClick(); ?> </li>
		          <li class="li_7"><?php echo $postInfo->getVoteYes(); ?>/<?php echo $postInfo->getVoteNo(); ?></li>
		        </ul>
	        
			 <?php if($row["childs"]!=null){?>
				<?php foreach ($row["childs"] as $postInfoChild) { 
				?>		   
		        <ul class="content_list">
		          <li class="li_2"><div style="padding-left:<?php echo (intval($postInfoChild->getDepth())-1)*10;?>px"><img src="<?php echo $this->resourceDir; ?>/images/small_title.gif" /><a href="/post/<?php echo $postInfoChild->getPostId(); ?>" target="postcontent" title="<?php echo  $postInfoChild->getTitle();?>"><?php echo $postInfoChild->getTitle(); ?><?php echo ($postInfoChild->getStatus()==0?"<span style=\"color:red;\">已经删除</span>":"")?></a></div></li>
			          <li class="li_3"><?php echo $postInfoChild->getUserName(); ?></li>
			          <li class="li_4"><?php echo Util::date2string16($postInfoChild->getCreateAt()); ?></li>
			          <li class="li_5"><?php echo $postInfoChild->getTextLength(); ?></li>
			          <li class="li_6"><?php echo $postInfoChild->getClick(); ?> </li>
			          <li class="li_7"><?php echo $postInfoChild->getVoteYes(); ?>/<?php echo $postInfoChild->getVoteNo(); ?></li>
		        </ul>				     
				<?php } //end foreach循环子帖?>	
			 <?php }// end if 子贴非空?>    		          
           </div><!--end of wrap_content_right-->
    </div><!--end of wrap_content--> 
    <div class="clear"></div>
   <?php }//endforeach 循环主贴 ?>          
   </div> 
     <div class="clear"></div> 
     <div id="r_bottom">
  	      <div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
          <div class="page">
	          <?php
		      	$url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/isManage/".$isManage."/";
	            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
	            echo $pageUtil->show(7);
	          ?>
          </div>
      </div>
    </div>
    <div class="clear"></div>
  </div><!--end of pic_club_content-->
 
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    
    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        slideshowGroup: 'slideshow',
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .6,
            position: 'bottom center',
            hideOnMouseOut: true
        }
    }); 
});
</script>

</body>
</html>
 