<tr>
        <td width="40%" colspan=6 height="30" align="left" class="ge">置顶</td>
</tr>
<?php 
    foreach ($this->topLists as $topPost) { 
        echo $this->forumMainPost($topPost);
    }
?>


<tr>
        <td width="40%" colspan=6 height="30" align="left" class="ge">热门贴子</td>
</tr>
<?php 
    foreach ($this->hotLists as $hotPost) { 
    	echo $this->forumMainPost($hotPost);
    }
?>