<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $this->forumName; ?> - 泡网俱乐部</title>
<meta name=keywords content="<?php echo $this->forumName; ?>">
<meta name=description content="<?php echo $this->forumName; ?>">
<?php
    echo $this->render('/inc/include.phtml');
    $isManage = $this->isManage;
?>

</head>    
<body>

<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="main_left">
     	<?php
           echo $this->render('/forum/leftforum.phtml');
        ?>
      <div id="hot_tab">
      	<?php
      	   $config = Zend_Registry::get('config');
      	   $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");
        ?>	
      </div>
    </div>
    <div id="main_right">
      <div id="right_header">
	      	<?php
	           echo $this->render('/forum/forumheader.phtml');
	        ?>	               
      </div>
     <div id="club_content">
     			
       <div class="club_host">
          <div style="float:right;">版主:<?php echo  PaowangData::$forumsBanzhu[$this->forumId];?></div>
       </div>
	     			
        <ul id="content_top">
          <li class="li_1">标题</li>
          <li class="li_3">作者</li>
          <li class="li_4">时间</li>
          <li class="li_5">长度</li>
          <li class="li_6">点击</li>
          <li class="li_7">评价</li>
        </ul>
        
<?php
    //只有论坛首页的第一页需要显示置顶贴和热门贴
    if($this->type == PaowangData::FORUM_TAB_ALL && $this->page == 1){
	    foreach ($this->topLists as $row) { 
	    	$topPost = $row["postInfo"];
?> 
    <div class="permainpost">
<?php	        echo $this->forumMainPost($topPost,"totop",false);
		        if($row["childs"]!=null){
		            foreach ($row["childs"] as $postInfoChild) {
		                echo $this->forumChildPost($postInfoChild,false);
		            }
		        }
?> 
  </div>
<?php       

	    }
	    foreach ($this->hotLists as $row) { 
	    	$hotPost = $row["postInfo"];
?> 
    <div class="permainpost">
<?php
	    	echo $this->forumMainPost($hotPost,"hot",false);
	        if($row["childs"]!=null){
	            foreach ($row["childs"] as $postInfoChild) {
	                echo $this->forumChildPost($postInfoChild,false);
	            }
	        }
?> 
  </div>
<?php       
	    }	    
    }
?>      
<?php 
    foreach ($this->lists as $row) { 
        $postInfo = $row["postInfo"];
?> 
    <div class="permainpost">
<?php       
        // display single root post in one line. Look at the ForumPost helper class.
        echo $this->forumMainPost($postInfo);
        if($row["childs"]!=null){
            foreach ($row["childs"] as $postInfoChild) {
                echo $this->forumChildPost($postInfoChild);
            }
        }
?> 
  </div>
<?php       
    }
?> 

        </div><!--end of club_content-->

      <div id="r_bottom">
        <div class="rss"><a href="/feed/forum/<?php echo $this->forumId; ?>">订阅</a></div>
         <div class="page">
          <?php
	      	$url = "/forum/index/forumId/" . $this->forumId. "/type/" . $this->type . "/isManage/".$isManage."/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(7);
          ?>
         </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){

    //单个主贴的 展开和合上 开始
    /*
    $(".e_c").toggle(function(){
            var id = $(this).attr("id").replace('e_c','');
            $(this).attr("src","/images/title_bg.jpg");//+图片
            $(".child"+id).hide();
            return false;
        },function(){
            var id = $(this).attr("id").replace('e_c','');
            $(this).attr("src","/images/next_bg.jpg");//-图片
            $(".child"+id).show();
    });
    */
    $(".e_c").click(function(){
           if($(this).attr("src")=="<?php echo $this->resourceDir; ?>/images/next_bg.jpg"){
                var id = $(this).attr("id").replace('e_c','');
                $(this).attr("src","<?php echo $this->resourceDir; ?>/images/title_bg.jpg");//+图片
                $(".child"+id).hide();
                return false;
           }else{     
                var id = $(this).attr("id").replace('e_c','');
                $(this).attr("src","<?php echo $this->resourceDir; ?>/images/next_bg.jpg");//-图片
                $(".child"+id).show();
                return false;
           }
    });
    //单个主贴的 展开和合上 结束    
    
})
</script>
</body>
</html>