<ul id="club_type">

<?php 
    $forums = Forum_ForumDao::getInstance()->getBasicForumInfo();
    $index = 1;
    foreach ($forums as $forumInfo) {    
?>   
 
<li class="left_<?php echo $index; ?>"><a id="forum<?php echo $forumInfo->getForumId();?>" href="/<?php echo PaowangData::$forumUrlById[$forumInfo->getForumId()];?>"></a></li>

<?php
    $index++; 
    } 
?>          

</ul>      
<script language="javascript">
$(document).ready(function(){
    //使当前论坛“着重”显示
    var index = $("#club_type a").index($("#forum<?php echo $this->forumId; ?>"));
	$("#club_type li.left_" + (index + 1) + " a").css("background-image","url(<?php echo $this->resourceDir; ?>/images/club_type_2.jpg)");//当前论坛选中
});     
</script>