<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>泡网 标签 - <?php echo $this->tagName;?></title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>
<body>
<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="tab_left">
      <h2>标签：<?php echo $this->tagName;?></h2>
      <div class="tab_content">
        
        
<?php 
    $config = Zend_Registry::get('config');
    foreach ($this->lists as $row) { 
        $postInfo = $row["postInfo"];
?>        
        <div class="tab_list">
          <div class="tab_detail">
            <p><a href="/post/<?php echo $postInfo->getPostId()?>" ><?php echo $postInfo->getTitle();?></a></p>
            <p class="tab_show"><a href="/<?php echo PaowangData::$forumUrlById[$postInfo->getForumId()];?>"  ><?php echo PaowangData::$orderedForumsById[$postInfo->getForumId()];?></a><span id='tab_user'><?php echo $postInfo->getUserName();?></span><span><?php echo Util::date2string19($postInfo->getCreateAt());?></span></p>
          </div>
          <div class="tab_pics">
						<?php if($row["piclists"]!=null){?>
							<?php foreach ($row["piclists"] as $postpicInfo) { 
						          $imgSrc = $postpicInfo->getPicThumb();		
							?>             
						         <a href="/post/<?php echo $postInfo->getPostId()?>"><img src="<?php echo $config->general->picture->url.$imgSrc;?>" /></a>        
							<?php } //end foreach piclists?>	
						<?php }// end if piclists?>            
           </div>
          <div class="clear"></div>
         </div>
<?php        
    }
?>        

         
      </div>
      <div id="r_bottom">
         <div class="page">
          <?php
	        $url = "/forum/listbytagname/tagName/" . $this->tagName."/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(7);
          ?>
         </div>
      </div>      	  
    </div>
    <div id="tab_right">
    <div class="concent_tab">
	    <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");	    
        ?>	
    </div>
 </div>
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
</body>
</html>
