<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>    
<body>

<input type="hidden" name="forumId" id="forumId" value="<?php echo $this->forumId;?>">
<input type="hidden" name="type" id="type" value="<?php echo $this->type;?>">
<?php
    $yesTotal = intval($this->yesTotal);
    $yesPerPage = intval($this->yesPerPage);
    $yesPage = intval($this->yesPage);
    
    $noTotal = intval($this->noTotal);
    $noPerPage = intval($this->noPerPage);
    $noPage = intval($this->noPage);
?>  
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="main_left">
        <?php
           echo $this->render('/forum/leftforum.phtml');
        ?>
      <div id="hot_tab">
        <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");        
        ?>  
      </div>
    </div>
    <div id="main_right">
      <div id="right_header">
            <?php
               echo $this->render('/forum/forumheader.phtml');
            ?>           
        
      </div>          
          
          
<!--我赞成的帖子 开始-->
     <div id="club_content">
        <div class="club_host"></div>
        <ul id="content_top">
          <li class="li_1">我顶的帖子</li>
          <li class="li_3">作者</li>
          <li class="li_4">时间</li>
          <li class="li_5">长度</li>
          <li class="li_6">点击</li>
          <li class="li_7">评价</li>
        </ul>
<div id="yes_body">        
<?php 
    foreach ($this->yesList as $row) { 
        echo '<div class="per_mypost">';
        $postInfo = $row["postInfo"];
        echo $this->forumMainPost($postInfo);
        /*
        if($row["childs"]!=null){
            foreach ($row["childs"] as $postInfoChild) {
               echo $this->forumChildPost($postInfoChild);
            }
        }
        */
        echo "</div>";
    } 
?>
</div>
        </div><!--end of club_content-->


      <div id="r_bottom">
         <div class="page" id="yes_pagebar">
          <?php
            $url = "/forum/myvoteyesjson/forumId/" . $this->forumId. "/type/" . $this->type . "/";
            $pageUtil = new PageUtil(array('total'=>$yesTotal,'perpage'=>$yesPerPage,'nowindex'=>$yesPage,'url'=>$url,'ajax'=>'yes_ajax_page','page_name'=>'page'));
            echo $pageUtil->show(7);            

          ?>
         </div>
      </div>
<!--我赞成的帖子 结束-->          
          
        <!--我反对的贴子 开始-->
        <div id="club_content" class="mypost_club_content">
        <div class="club_host"></div>
        <ul id="content_top">
          <li class="li_1">我踩的帖子</li>
          <li class="li_3">作者</li>
          <li class="li_4">时间</li>
          <li class="li_5">长度</li>
          <li class="li_6">点击</li>
          <li class="li_7">评价</li>
        </ul>  
<div id="no_body">       
<?php 
    foreach ($this->noList as $row) {
        echo '<div class="per_mypost">';
        $postInfo = $row["postInfo"];
        echo $this->forumMainPost($postInfo);
        /*
        if($row["childs"]!=null){
            foreach ($row["childs"] as $postInfoChild) {
                echo $this->forumChildPost($postInfoChild);
            }
        }
        */
        echo '</div>';
    }
?>  
</div>
</div>
          <div id="r_bottom">
             <div class="page" id="no_pagebar">
                  <?php
                    $url = "/forum/myvotenojson/forumId/" . $this->forumId. "/type/" . $this->type . "/";
                    $pageUtil = new PageUtil(array('total'=>$noTotal,'perpage'=>$noPerPage,'nowindex'=>$noPage,'url'=>$url,'ajax'=>'no_ajax_page','page_name'=>'page'));
                    echo $pageUtil->show(7);            
                  ?>
             </div>
          </div>        
        <!--我反对的贴子 结束-->

        
        
    </div>
    
    
    
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function(){

    // popup dialog begin
    hs.graphicsDir = '<?php echo $this->resourceDir; ?>/js/highslide/graphics/';
    //hs.wrapperClassName = 'borderless';
    hs.showCredits = false;
    hs.preserveContent = false;
    hs.dynamicallyUpdateAnchors = false;

    //单个主贴的 展开和合上 开始
    $(".e_c").toggle(function(){
            var id = $(this).attr("id").replace('e_c','');
            $(this).attr("src","<?php echo $this->resourceDir; ?>/images/title_bg.jpg");//+图片
            $(".child"+id).hide();
            return false;
        },function(){
            var id = $(this).attr("id").replace('e_c','');
            $(this).attr("src","<?php echo $this->resourceDir; ?>/images/next_bg.jpg");//-图片
            $(".child"+id).show();
            return false;
    });
    //单个主贴的 展开和合上 结束
    
});


function yes_ajax_page(para){
    $.ajax({
        type: "POST",
        url: para,
        data: "",
        dataType: "json",
        success: function(tt) {
            //alert(tt);
            //var tt = eval("("+t+")");//字符串转化为json对象
            $("#yes_body").empty();
            $("#yes_body").html(tt['html']);
            $("#yes_pagebar").html(tt['pagebar']);
        },
        
        error: function() {
            //alert("调用失败");
        }
    });     
}

function no_ajax_page(para){
    $.ajax({
        type: "POST",
        url: para,
        data: "",
        dataType: "json",
        success: function(tt) {
            //alert(tt);
            //var tt = eval("("+t+")");//字符串转化为json对象
            $("#no_body").empty();
            $("#no_body").html(tt['html']);
            $("#no_pagebar").html(tt['pagebar']);
        },
        
        error: function() {
            //alert("调用失败");
        }
    });     
}
</script>

</body>
</html>