<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<style type="text/css">
.uploadfile {
    padding: 2px;
}

.errortextfield { border: 1px dotted red; }
</style>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/fckeditor/fckeditor.js"></script>

<script type="text/javascript">
function validate(){
    var title = document.getElementById('title');
    if(title.value.length != 0){
        return true;
    }
    
    // there are errors
    var inputErrorDisplay = document.getElementById('titleErrorDisplay');    
    title.className = 'errortextfield';
    inputErrorDisplay.style.display="";
    return false;
}

var id = 1;

function addChild(sPid){
    var oTextNode = document.getElementById("TplNode").getElementsByTagName("div")[0];
    var oClone = oTextNode.cloneNode(oTextNode);
    id++;

    oClone.firstChild.setAttribute("id","f"+id);
    oClone.firstChild.setAttribute("name","pic_files[]");
    //oClone.childNodes[4].setAttribute("id",""+id);

    var p=document.getElementById(sPid);
    p.appendChild(oClone);
}

function delChild(o,sPid){
    var oTextNode = o.parentNode;
    var p=document.getElementById(sPid);
    p.removeChild(oTextNode);
}

</script>
</script>

<div>
    <form name="thisform" id="thisform" action="/forum/addpost"  method="post" enctype="multipart/form-data" 
    onsubmit="return validate();">
        <input type="hidden" name="forumId" value="<?php echo $this->escape($this->forumId);?>" />
        <table width="80%" border="0" align="center" cellpadding="10" cellspacing="0">
        <tr> 
            <td colspan=2> 
                <div><?php echo $this->escape($this->forumName);?> 加贴子
                </div>
            </td>
        </tr>
        <tr>
            <td width="5%" align="right" valign="baseline"> 
                <div>标题: 
                </div>
            </td>
            <td>
                <div><input name="title" id="title" type="text" size="80"></div>
            </td>
        </tr> 
        <tr style="display:none" id="titleErrorDisplay">
            <td width="5%">&nbsp;</td>
            <td><div id="titleError" style="color:red">请输入题目</div></td>
        </tr>

        <tr>
            <td width="5%" align="right" valign="baseline"> 
                <div>标签: 
                </div>
            </td>
            <td>
                <div><input name="tags" type="text" size="80"></div>
            </td>
        </tr>   
            
            
         <?php
           $canUpdatePicture = Rbm_RbmService::getInstance()->hasPermission(
 	             Util::getUserId(), $this->forumId, Rbm_RbmService::USER_UPLOAD_PICTURE);
 	       echo "Util::getUserId()".Util::getUserId()."<br />";
 	       echo "this->forumId:".$this->forumId."<br />";      
 	       echo "".$canUpdatePicture."<br />";
           if($canUpdatePicture){
         ?>            
        <tr>
            <td width="5%" align="right" valign="baseline"> 
                <div>图片:
                </div>
            </td>
            <td>
                <div>
                <div id="TplNode" style="display:none;">
                    <div class="uploadfile"><input type="file" name="pic_files_tpl[]" value="" id="" size="30" />&nbsp;<a href="javascript:;" onclick="delChild(this,'UpFiles');">删除</a>
                    </div>
                </div>
                <div id="UpFiles">
                    <div class="uploadfile"><input type="file" name="pic_files[]" value="" id="f1" size="30" />&nbsp;<a href="javascript:;" onclick="delChild(this,'UpFiles');">删除</a>
                    </div>
                </div>
                </div>
        
                <div>
                <a href="javascript:;" onclick="addChild('UpFiles');">上载另一张图片 </a>
                </div>
            </td>
        </tr>
        

        <!--
        <tr>
            <td colspan=2>
                <div><textarea name="text" rows="6" cols="80" style="display:"></textarea></div>
            </td>
        </tr>        
        -->
        
        <tr>
            <td colspan=2>
			<script type="text/javascript">
			var oFCKeditor = new FCKeditor('text');
			oFCKeditor.BasePath = "/js/fckeditor/";
			oFCKeditor.Config["CustomConfigurationsPath"] = "paowang-config.js";
			oFCKeditor.ToolbarSet = 'Paowang' ;
			oFCKeditor.Create();
			</script>            
            </td>
        </tr>
        
        <tr>
            <td>
                <center>    
                    <input type="submit" name="link22" value="确定" />
                    <!--input type="button" name="link22" value="返回"  onclick="javascript:history.go(-1)"/-->
                </center>   
            </td>
        </tr>        
        </table>
    </form>
</div>
</body>
