<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>泡网 搜索 - <?php echo $this->q;?></title>

<?php
    echo $this->render('/inc/include.phtml');
?>

</head>
<body>
<?php
    $total = intval($this->total);
    $perpage = intval($this->perpage);
    $page = intval($this->page);
    $start = intval($this->start)+1;
    $end = intval($this->end)+1;
     
?>	
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
    <div id="tab_left">
    		<div id="right_header">
         <h2>搜索： - <?php echo $this->q;?></h2>
      <div class="list_add_new"> 共 <?php echo $this->total;?> 条结果,以下是第 <?php echo $start;?>-<?php echo $end;?> 条。(用时 <?php echo $this->time;?> 毫秒)		
      		</div>
      		</div>
      <div class="tab_content">
        
        
<?php 
    $config = Zend_Registry::get('config');
    foreach ($this->rows  as $row) { 
?>        
        <div class="tab_list">
          <div class="list_tab_detail">
            <p><h1><a href="http://paowang.net/post/<?php echo $row['post_id']?>" target="_postcontent"><?php echo $row['title'];?></a></h1></p>
            <p class="tab_show"><span id="text_tab_shpw"><?php echo $row['forumName'];?></span><span id='tab_user'><?php echo $row['author'];?></span><span><?php echo $row['publishDate'];?></span></p>
            <?php if($row['forumName']=='江湖论剑' || $row['forumName']=='江湖客栈'){?>
            <?php }else{?> 
            <p><?php echo Util::getSubString($row['summary'],500);?></p>    
            <?php }?>
          </div>
          <div class="tab_pics">
						<?php if($row["pics"]!=null){
							 $picArray = split(",",$row["pics"]);
						     foreach ($picArray as $pic) { 
						     	 if($pic!=''){
                                   echo "<a href=\"http://paowang.net/post/".$row['post_id']."\" target=\"_blank\"><img src='".str_replace(".jpg","_135.jpg",$pic)."' /></a>";
                                 }  
                             } //end foreach piclists	
						}// end if piclists
						?>     	  
           </div>
          <div class="clear"></div>
         </div>
<?php        
    }
?>        

         
      </div>
      <div id="r_bottom">
         <div class="page">
          <?php
	        $url = "/search/list/q/" . $this->q."/";
            $pageUtil = new PageUtil(array('total'=>$total,'perpage'=>$perpage,'nowindex'=>$page,'url'=>$url));
            echo $pageUtil->show(7);
          ?>
         </div>
      </div>      	  
    </div>
    <div id="tab_right">
    <div class="concent_tab">
	    <?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/hottag.php");	    
        ?>	
    </div>
 </div>
    <div class="clear"></div>
  </div>
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
</body>
</html>
