<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>聊天 - 泡网俱乐部</title>
    <?php
        echo $this->render('/inc/include.phtml');
    ?>
</head>

<body>
  <div id="header">
       <?php
		echo $this->render('/inc/header.phtml');
	    ?>
  </div>
  <div id="main">
	  这是我们的聊天页面。    
  </div>
  <div id="footer">
       <?php
		echo $this->render('/inc/footer.phtml');
	    ?>
  </div>
</body>
</html>
<script language="javascript">
$(document).ready(function(){
	//使当前tab“着重”显示
	var tabId =  5;
	$("#tab"+tabId).attr("class","aaa sss");
});     
</script>