   var focus_width=480;
    var focus_height=300;
    var text_height=30;
    var swf_height = focus_height+text_height;
    
    var pics='/upload_files/2009/200903/20090312/1526_339_135.jpg|/upload_files/2009/200903/20090313/1738_346_135.jpg|/upload_files/2009/200903/20090313/1738_347_135.jpg|/upload_files/2009/200903/20090312/1522_338_135.jpg';
    var links='/post/view/postId/1526|/post/view/postId/1738|/post/view/postId/1738|/post/view/postId/1522';
    var texts='Mac SAFARI TEST MULTI IMAGES|加上描述|加上描述|Mac FF2';
    
    document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
    document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="<?php echo $this->resourceDir; ?>/images/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#E8EBF2">');
    document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
    document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
    document.write('<embed src="<?php echo $this->resourceDir; ?>/images/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ focus_width +'" height="'+ focus_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');     document.write('</object>');
