<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>
<meta name=keywords content="时事,摄影,文学,音乐,个人专栏,聊天,体育,BLOG,博客">
<meta name=description content="以原创文学为特色的休闲社区">
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/ext/css/ext-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/paowang-consolidation.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-ie6.css" />
<![endif]-->

<body onLoad="closeLoadingMainPage()">
<div id="loading" style="position:absolute; width:100%; text-align:center; top:270px;">
    <img src="<?php echo $this->resourceDir; ?>/images/loading.gif" border=0>
</div>
<script type="text/javascript">
    var ld=(document.all);
    var ns4=document.layers;
    var ns6=document.getElementById&&!document.all;
    var ie4=document.all;
    if (ns4)
        ld=document.loading;
    else if (ns6)
        ld=document.getElementById("loading").style;
    else if (ie4)
        ld=document.all.loading.style;
function closeLoadingMainPage()
{
    if(ns4){ld.visibility="hidden";}
    else if (ns6||ie4) ld.display="none";
}

</script>
<script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/ext-consolidation.js"></script>
<script type="text/javascript" src="http://go.paowang.net/bestbook/bestbooktopic.js"></script>
<script type="text/javascript" src="http://p.paowang.com/picture/data/yydgnews.js"></script>



<script type="text/javascript">
Ext.onReady(function(){
    Paowang.initPortal();
});
</script>

<div id="wrap">
  <div id="header">
       <?php
		echo $this->render('/inc/header.phtml');
	    ?>
  </div>
  <div id="main">
  <div id="paowang_portal"></div>
  </div>
    
  <div id="portalPictures" style="text-align: center; vertical-align: middle; display: none">
    <script type="text/javascript">
      	<?php
           $config = Zend_Registry::get('config');
           $data_path = $config->data->path ;
           require_once($data_path . "/indexpics.php");      	
        ?>
    </script>
  </div>
  <div id="bottom">
       
		<?php
		echo $this->render('/inc/footer.phtml');
	    ?>
  
	    
  </div>
</div> 
</body>
</html>
