<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>请登录浏览内部论坛</title>

<?php
    echo $this->render('/inc/include.phtml');
?>

<style type="text/css">
.error_text {
    text-align: center;
    line-height: 25px;
    margin-bottom: 133px;
    margin-top: 15px;
    font-size: 12px;
}
</style>
</head>
<body>
<div id="wrap">
  <div id="header">
        <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
        
        
<div id="member_detail">
  <div id="club_detail">
    <h2 class="club_title">内部论坛需要登录浏览</h2>
    <div id="club_text" class="error_text">
        <div id="post_html">
            <div>
                <a href=/club>江湖论剑</a>和<a href=/inn>江湖客栈</a>已经改为内部论坛，请点右上角链接登录后再继续浏览。
            </div>
            <div>
                或者继续访问
                <a href="/qin">江湖谈琴</a>
                <a href="/weapon">江湖兵器</a>
                <a href="/music">寻音觅影</a>
                <a href="/money">江湖理财</a>
                <a href="/it">IT江湖</a>
                <a href="/parenting">小小江湖</a>
                <a href="/photo">江湖色</a>
                <a href="/tie">创可贴</a>。
            </div>

        </div>
    </div>
  </div>  
</div><!--end of member_detail-->
  
  <div id="bottom">
       <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  </div>
</div>
</body>
</html>