<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>
<meta name=keywords content="泡网,博客">
<meta name=description content="泡网博客">
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/ext/css/ext-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/paowang-consolidation.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-ie6.css" />
<![endif]-->

<body onLoad="closeLoadingMainPage()">
<div id="loading" style="position:absolute; width:100%; text-align:center; top:270px;">
    <img src="<?php echo $this->resourceDir; ?>/images/loading.gif" border=0>
</div>
<script type="text/javascript">
    var ld=(document.all);
    var ns4=document.layers;
    var ns6=document.getElementById&&!document.all;
    var ie4=document.all;
    if (ns4)
        ld=document.loading;
    else if (ns6)
        ld=document.getElementById("loading").style;
    else if (ie4)
        ld=document.all.loading.style;
function closeLoadingMainPage()
{
    if(ns4){ld.visibility="hidden";}
    else if (ns6||ie4) ld.display="none";
}
</script>
<script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/ext-consolidation.js"></script>

<script type="text/javascript">
Ext.onReady(function(){
	var formatTitle = function(value, p, record) {
	    return String.format(
	        '<a href="{1}" target=_blank>{0}</a>',
	                value, record.data.entryUrl
	                );
	}
	
	var formatDate = function(date) {
        if (!date) {
            return '';
        }
        var now = new Date();
        var d = now.clearTime(true);
        var notime = date.clearTime(true).getTime();
        if (notime == d.getTime()) {
            return '今天 ' + date.dateFormat('g:i a');
        }
        d = d.add('d', -6);
        if (d.getTime() <= notime) {
            return date.dateFormat('D g:i a');
        }
        return date.dateFormat('n/j g:i a');
    }

    var typeCombo = new Ext.form.ComboBox({
        store: new Ext.data.SimpleStore({
             fields: ['id', 'type']
            ,data: [['0', '未分类'], ['1', '生活'], ['2', '文化'], ['3', '时事'], ['4', '科技'], ['5', '艺术'], ['99', '不显示']]
            ,id:0
        })
        ,valueField:'id'
        ,displayField:'type'
        ,lazyRender:true
        ,triggerAction:'all'
        ,mode:'local'
    });
    
    var renderType = function(val, cell, record, rowIndex, colIndex, store) {
        var value = this.getById(val);
        if(value != undefined){
            return value.get('type');
        }
        return '';
    }
        
    var record =  Ext.data.Record.create([
                  {name : 'entryTitle'},        
                  {name : 'entryUrl'},
                  {name : 'author'},
                  {name : 'entryDateString', type:'date'},
                  {name : 'entryType'}
                ]);
                
    var columnModel = new Ext.grid.ColumnModel([{
                header: "标题",
                sortable: true,
                width: 600,
                dataIndex: "entryTitle",
                renderer: formatTitle
            }, 
            {
                header: "作者",
                sortable: true,
                width: 120,
                dataIndex: "author"
            }, 
            {
                header: "时间",
                sortable: true,
                width: 120,
                dataIndex: "entryDateString",
                renderer: formatDate
            }, 
            {
                header: "类别",
                sortable: true,
                width: 120,
                dataIndex: "entryType",
                renderer: renderType.createDelegate(typeCombo.store),
                editor: typeCombo
            }
            ]);
            
    var dataStore = new Ext.data.Store({
            reader: new Ext.data.JsonReader({}, record)
        });         
        
    var updateTypes = function(){
	    var mask = new Ext.LoadMask('manage_blog_entries', {msg:"更新博客类别..."});
	    mask.show();     
        var records = dataStore.getModifiedRecords();
        var list = [];
        for(var i = 0; i < records.length; i++){
            var record = records[i];
            var url = record.get('entryUrl');
            var type = record.get('entryType');
            var map = {};
            map['entryUrl'] = url;
            map['entryType'] = type;
            list.push(map);
        }
        Ext.Ajax.request({
	        url: '/feed/updatetypes',
	        params: {typeData: Ext.encode(list)},
	        success: function(result, request){
	            Ext.Msg.alert('成功', '更新成功。请刷新博客页面看最新博客。');
	            dataStore.commitChanges();
	            mask.hide();
	        }
	    });  
        
    }
    
    var loadRss = function(){
        var mask = new Ext.LoadMask('manage_blog_entries', {msg:"抓取新博客文章..."});
	    mask.show();     
	    Ext.Ajax.request({
            url: '/feed/fetchfeeds',
            success: function(result, request){
                if(result.responseText = 'successful'){
                    Ext.Msg.alert('成功', '更新成功。请刷新博客页面看最新博客。');    
                }
                else{
                    Ext.Msg.alert('错误', '未知错误');   
                }
                
                myMask.hide();
            }
        });      
    }
            
    var gridPanel = new Ext.grid.EditorGridPanel({
            title: '博客分类',
            applyTo: 'manage_blog_entries',
            tbar:[{
	            text:'Save',
	            handler: updateTypes,
	            scope: this
	        },
	        {
	            text:'Load RSS',
	            handler: loadRss,
	            scope: this
	        }],
            store: dataStore,
            cm: columnModel,
            autoWidth :true,
            autoHeight :true,
            autoScroll :true,
            //height: 1000,
            margins:'35 5 5 0',
            style:'padding:10px 5px 10px 5px'
        });         
        
    var myMask = new Ext.LoadMask('manage_blog_entries', {msg:"读取博客内容..."});
    myMask.show();        
    
    Ext.Ajax.request({
        url: '/feed/getentries',
        success: function(result, request){
            var data = Ext.decode(result.responseText);
            gridPanel.getStore().loadData(data);
            myMask.hide();
        }
    });   
    
});

</script>

<div id="wrap">
  <div id="header">
       <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
  <div id="manage_blog_entries"></div>
  </div>
    
  <div id="bottom">
       
        <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  
        
  </div>
</div> 
</body>
</html>
