<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泡网俱乐部</title>
<meta name=keywords content="泡网,博客">
<meta name=description content="泡网博客">
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/ext/css/ext-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-consolidation.css" />
<link type="text/css" rel="stylesheet" href="<?php echo $this->resourceDir; ?>/css/paowang-consolidation.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="<?php echo $this->resourceDir; ?>/js/highslide/highslide-ie6.css" />
<![endif]-->

<body onLoad="closeLoadingMainPage()">
<div id="loading" style="position:absolute; width:100%; text-align:center; top:270px;">
    <img src="<?php echo $this->resourceDir; ?>/images/loading.gif" border=0>
</div>
<script type="text/javascript">
    var ld=(document.all);
    var ns4=document.layers;
    var ns6=document.getElementById&&!document.all;
    var ie4=document.all;
    if (ns4)
        ld=document.loading;
    else if (ns6)
        ld=document.getElementById("loading").style;
    else if (ie4)
        ld=document.all.loading.style;
function closeLoadingMainPage()
{
    if(ns4){ld.visibility="hidden";}
    else if (ns6||ie4) ld.display="none";
}
</script>
<script type="text/javascript" src="<?php echo $this->resourceDir; ?>/js/paowang/ext-consolidation.js"></script>

<script type="text/javascript">
Ext.onReady(function(){
    var formatUrl = function(value, p, record) {
        return String.format(
            '<a href="{1}" target=_blank>{0}</a>',
                    value, value
                    );
    }

    var statusCombo = new Ext.form.ComboBox({
        store: new Ext.data.SimpleStore({
             fields: ['id', 'name']
            ,data: [['0', '隐藏'], ['1', '显示']]
            ,id:0
        })
        ,valueField:'id'
        ,displayField:'name'
        ,lazyRender:true
        ,triggerAction:'all'
        ,mode:'local'
    });
    
    var renderStatus = function(val, cell, record, rowIndex, colIndex, store) {
        var value = this.getById(val);
        if(value != undefined){
            return value.get('name');
        }
        return '';
    }
        
    var record =  Ext.data.Record.create([
                  {name : 'authorId'},        
                  {name : 'authorName'},
                  {name : 'blogUrl'},
                  {name : 'blogTitle'},
                  {name : 'status'}
                ]);
                
    var columnModel = new Ext.grid.ColumnModel([{
                header: "ID",
                sortable: true,
                width: 120,
                dataIndex: "authorId",
                editor: new Ext.form.TextField({
	               allowBlank: false
	               })
                
            }, 
            {
                header: "作者",
                sortable: true,
                width: 150,
                dataIndex: "authorName",
                editor: new Ext.form.TextField({
                   allowBlank: false
                   })
            }, 
            {
                header: "博客地址",
                sortable: true,
                width: 330,
                dataIndex: "blogUrl",
                renderer: formatUrl,
                editor: new Ext.form.TextField({
                   allowBlank: false
                   })
            }, 
            {
                header: "名称",
                sortable: true,
                width: 300,
                dataIndex: "blogTitle",
                renderer: formatUrl,
                editor: new Ext.form.TextField({
                   allowBlank: false
                   })
            }, 
            {
                header: "状态",
                sortable: true,
                width: 120,
                dataIndex: "status",
                renderer: renderStatus.createDelegate(statusCombo.store),
                editor: statusCombo
            }
            ]);
            
    var dataStore = new Ext.data.Store({
            reader: new Ext.data.JsonReader({}, record)
        });         
        
    var updateBlogs = function(){
        var mask = new Ext.LoadMask('manage_blogger', {msg:"保存博客信息..."});
        mask.show();     
        var records = dataStore.getModifiedRecords();
        var list = [];
        for(var i = 0; i < records.length; i++){
            var record = records[i];
            var authorId = record.get('authorId');
            var authorName = record.get('authorName');
            var blogTitle = record.get('blogTitle');
            var blogUrl = record.get('blogUrl');
            var status = record.get('status');
            if(authorId == undefined || authorId == '' 
                || authorName == undefined || authorName == ''
                || blogUrl == undefined || blogUrl == ''){
                Ext.Msg.alert('没填完', '把全部空格都填满了再按！');
                mask.hide();
                return;
            }
            var map = {};
            map['authorId'] = authorId;
            map['authorName'] = authorName;
            map['blogTitle'] = blogTitle;
            map['blogUrl'] = blogUrl;
            map['status'] = status;
            list.push(map);
        }
        Ext.Ajax.request({
            url: '/feed/updateblogs',
            params: {blogData: Ext.encode(list)},
            success: function(result, request){
                Ext.Msg.alert('成功', '更新成功。新添加的博客可以在博客首页看到。');
                dataStore.commitChanges();
                mask.hide();
            }
        });  
        
    }
    
    var addRow = function(){
        var defaultRowData = {
            'authorId': '',
            'authorName': '',
            'blogUrl': '',
            'status': '1'
        };
        dataStore.add(new record(defaultRowData));
    }

    var deleteRow = function(){
        var record = gridPanel.getSelectionModel().getSelected();
        dataStore.remove(record);
    }
    
    var updateTitles = function(){
        var myMask = new Ext.LoadMask('manage_blogger', {msg:"读取博客名称..."});
        myMask.show();        
        Ext.Ajax.request({
            url: '/feed/fetchtitles',
            //params: {blogData: Ext.encode(list)},
            success: function(result, request){
                Ext.Msg.alert('成功', '更新成功。');
	            var data = Ext.decode(result.responseText);
	            gridPanel.getStore().loadData(data);
	            myMask.hide();
            }
        });      
    }

    var selectionModel = new Ext.grid.RowSelectionModel({singleSelect:true});          
    var gridPanel = new Ext.grid.EditorGridPanel({
            title: '博客列表',
            applyTo: 'manage_blogger',
            tbar:[{
                text: 'Add',
                handler: addRow,
                scope: this
            },{
                text: 'Delete',
                handler: deleteRow,
                scope: this
            },{
                text: 'Save',
                handler: updateBlogs,
                scope: this
            },{
                text: 'Update Titles',
                handler: updateTitles,
                scope: this
            }],
            store: dataStore,
            cm: columnModel,
            sm: selectionModel,
            autoWidth :true,
            autoHeight :true,
            autoScroll :true,
            //height: 1000,
            margins:'35 5 5 0',
            style:'padding:10px 5px 10px 5px'
        });         
        
    var myMask = new Ext.LoadMask('manage_blogger', {msg:"读取博客列表..."});
    myMask.show();        
    
    Ext.Ajax.request({
        url: '/feed/getallblogs',
        success: function(result, request){
            var data = Ext.decode(result.responseText);
            gridPanel.getStore().loadData(data);
            myMask.hide();
        }
    });   
    
});

</script>

<div id="wrap">
  <div id="header">
       <?php
        echo $this->render('/inc/header.phtml');
        ?>
  </div>
  <div id="main">
  <div id="manage_blogger"></div>
  </div>
    
  <div id="bottom">
       
        <?php
        echo $this->render('/inc/footer.phtml');
        ?>
  
        
  </div>
</div> 
</body>
</html>
