<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>洋洋大观 - 泡网俱乐部</title>
    <?php
        echo $this->render('/inc/include.phtml');
    ?>
<link href="/css/np_news.css" rel="stylesheet" type="text/css" />    
</head>

<body>
<div id="wrap">
  <div id="header">
       <?php
		echo $this->render('/inc/header.phtml');
	    ?>
  </div>
  <div id="main">
    <div id="mainleft">
      <form name="search_form" action="http://www.paowang.com/cgi-bin/news/search.cgi" method="get" target=_blank>
        <ul>
          <li class="zi">新闻搜索</li>
          <li>
            <label>
            <input name="keyword2" type="text" size="16" />
            </label>
          </li>
          <li>
            <label>
            <select name="select">
                  <option value="all">所有类别</option>
                  <option value=3>洋洋大观</option>
            </select>
            </label>
            <label>
            <input type="image" name="imageField2" src="/images/np/np_yangyangdaguan_r6_c4.jpg" onclick="search_form.submit();" />
            <input type=hidden name=type2 value=photo>
            </label>
          </li>
          <li class="zi"> 最新加入</li>
        </ul>
      </form>
    </div>
    <div id="mainright">
      <div id="mainright1"><span class="zi1"><a href="#">泡网俱乐部</a></span>
      &nbsp;&nbsp;<span class="zi2">洋洋大观</span></div>
      <div id="mainright2">
	       <ul>
<?php

for($i=0;$i<count($this->matches_all[2]) ;$i++ ){
?>
	<li><a href="<?php echo $this->matches_all[1][$i];?>" target="_blank"><?php echo iconv("GBK","UTF-8",$this->matches_all[2][$i]);?></a><span class="hui"><?php echo $this->matches_all[3][$i];?></span></li>
<?php    
} 	  
?>     
         </ul>
         
	  </div>
	        <div id="pg">
				<?php
				if($this->page!=1){
				   	echo "<a href=\"/np/news/page/".($this->page-1)."\" class=\"pg2\">上一页</a>";
				}
				echo "<a href=\"/np/news/page/".($this->page+1)."\" class=\"pg2\">下一页</a>";
				?>
		 </div>
    </div>
    </div>
	</div>
  </div>

  <div id="bottom">
       <?php
		echo $this->render('/inc/footer.phtml');
	    ?>
  </div>
</div> 
</body>
</html>