<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>泡网个人中心页</title>
<link href="/css/people_all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div align="center" id="header">
        <?php
		echo $this->render('/inc/header.phtml');
	    ?>
</div>

<div align="center" id="main"> 
<p>&nbsp;</p>
	<div align="left" id="mainlf">
  <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="10%" valign="top">
        
        <?php
		echo $this->render('/people/left.phtml');
	    ?>
	    <?//include_once("/forum/forumleft");?>
      </td>
      <td width="90%" align="left" valign="top">
      </div>
      <div>
        <div align="right"> </div>
 <!--内容 开始-->       	


 <!--内容 结束-->       	
        <p>&nbsp;</p></td>
        
      </div>
      </td>
    </tr>
  </table>
<script>
</script>  
  <p>&nbsp;</p>
</div>
</body>
</html>
