<p>
<a href="/people/articlelist/userId/<?php echo $this->userId;?>">文章</a>
</p>
<?php foreach ($this->postTypeList as $userposttypeInfo) { ?>
<p style="padding-left:20px">
<a href="/people/articlelist/userId/<?php echo $this->userId;?>/typeId/<?php echo $userposttypeInfo->getUserPostTypeId();?>"><?php echo $userposttypeInfo->getUserPostTypeName(); ?></a>
</p>
<?php } ?>
<p>
<a href="#">照片</a>
</p>
<?php foreach ($this->picTypeList as $userposttypeInfo) { ?>
<p style="padding-left:20px">
<a href="#"><?php echo $userposttypeInfo->getUserPostTypeName(); ?></a>
</p>
<?php } ?>
<p>
<a href="#">讨论</a>
</p>
<p>
<a href="#">赞成的文章</a>
</p>
<p>
<a href="#">标签</a>
</p>
<p>
<a href="#">留言</a>
</p>
<p>
<a href="#">个人设置</a>
</p>
<p style="padding-left:20px">
<a href="/user/useredit/userId/<?php echo $this->userId;?>">个人信息设置</a>
</p>
<p style="padding-left:20px">
<a href="/user/passwordedit/userId/<?php echo $this->userId;?>">修改密码</a>
</p>
<p style="padding-left:20px">
<a href="/user/mjedit/userId/<?php echo $this->userId;?>">马甲管理</a>
</p>
<p style="padding-left:20px">
<a href="/userposttype/typelist/userId/<?php echo $this->userId;?>">分类管理</a>
</p>