<table width="400px" style="border:1px solid #000;">
  <tr>
	<td colspan="2">选择分类</td>
  </tr>
  <tr>
    <td>分类</td>
    <td><select id="userPostTypeId">
            <option value="0">请选择</option> 
            <option value="68">aaaa</option>
            <option value="69">bbb</option>
        </select>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    <a href="javascript:void(0)" onclick="ok()">确定</a>
    <a href="javascript:void(0)" onclick="javascript:j.closeDialog();">取消</a>
    </td>
  </tr>
</table>
<script type="text/javascript">
      
  function ok(){
       var obj=j(".chk");
       var flag=false;
       var id=new Array();
       j(obj).each(function(){
         if(this.checked==true){
           id.push(j(this).val());
           flag=true;
         }
       });
       
       if(!flag){
         alert("您没有选择要归类的文章！");
         return;
       }
    //alert(id.join(","));         	
    //alert(j("#userPostTypeId").val());
    dook(j("#userPostTypeId").val(),id.join(","));
  }
  
  function dook(userPostTypeId,postIdStr){
	   var url="/people/posttypesave/userPostTypeId/"+userPostTypeId+"/postIdStr/"+postIdStr;
	   alert(url);
	   j.post(encodeURI(url),function(data){
	       j.closeDialog();
	       if(data.indexOf("success")!=-1){
	         alert("归类成功!");
	         window.location.href="/people/articlelist/";
	       }else
	         alert("归类失败!");
	     }
	  ); 
  }  

</script>